In [1]:
%reload_ext autoreload
%autoreload 2


#This is needed to add the repo dir to the path so jupyter
# can load the republic modules directly from the notebooks
import os
import sys
import re
sys.path.append('/Users/rikhoekstra/develop/republic_clean/')

# from collections import defaultdict
import pandas as pd
from collections import Counter, defaultdict
import json
# import republic.model.republic_document_model as rdm

repo_dir = os.path.split(os.getcwd())[0]

if repo_dir not in sys.path:
    sys.path.append(repo_dir)
    
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

In [2]:
import pandas as pd

In [3]:
webregent = pd.read_sql_table(con="mysql+pymysql://rik:X0chi@localhost/raa_web", table_name='persoon')

In [4]:
newregent = pd.read_sql_table(con="mysql+pymysql://rik:X0chi@localhost/raa_nw", table_name='persoon')

In [5]:
newregent.columns

Index(['geslachtsnaam', 'tussenvoegsel', 'voornaam', 'adel', 'adelspredikaat',
       'heerlijkheid', 'geboortejaar', 'overlijdensjaar', 'opmerkingen',
       'periode', 'eindcontrole', 'geboortedag', 'geboortemaand', 'doopjaar',
       'geboorteplaats', 'overlijdensdag', 'overlijdensmaand',
       'overlijdensplaats', 'id', 'geboortedatum', 'overlijdensdatum',
       'searchable', 'academischetitel_id', 'adellijketitel_id', 'me',
       'republiek', 'batfra', 'negentiende_eeuw', 'divperioden'],
      dtype='object')

In [6]:
webregent.columns

Index(['id', 'adel', 'heerlijkheid', 'voornaam', 'tussenvoegsel',
       'geslachtsnaam', 'searchable_geslachtsnaam', 'geboortedatum',
       'geboortedatum_als_bekend', 'geboorteplaats', 'doopjaar',
       'overlijdensdatum', 'overlijdensdatum_als_bekend', 'overlijdensplaats',
       'adellijketitel_id', 'academischetitel_id', 'opmerkingen'],
      dtype='object')

In [7]:
def anydatetoyear(anydate):
    if len(anydate) == 0:
        result = pd.NA
    else:

        d = anydate.split('-')
        if len(d)==3:
            result = d[2]
        elif len(d)==2:
            result = d[1]
        else:
            result = d[0]
        try:
            result = int(result)
        except ValueError:
            result = int(result.replace('?','0'))
    return result

In [8]:
webregent['geboortejaar'] = webregent['overlijdensdatum_als_bekend'].apply(anydatetoyear)

In [9]:
webregent['overlijdensjaar'] = webregent['geboortedatum_als_bekend'].apply(anydatetoyear)

In [10]:
cols = ['geslachtsnaam','tussenvoegsel','voornaam','heerlijkheid']

In [11]:
nr = newregent.copy()
wr = webregent.copy()
for c in cols:
    for r in [nr, wr]:
        r[c] = r[c].astype(str)
        r[c] = r[c].str.replace('None','')
        r[c] = r[c].str.strip()

In [12]:
for r in [nr, wr]:
    r['concat'] = r[cols].agg(''.join,axis=1)
    r['concat'] = r['concat'].str.replace('\W','',regex=True)

In [13]:
wr.columns

Index(['id', 'adel', 'heerlijkheid', 'voornaam', 'tussenvoegsel',
       'geslachtsnaam', 'searchable_geslachtsnaam', 'geboortedatum',
       'geboortedatum_als_bekend', 'geboorteplaats', 'doopjaar',
       'overlijdensdatum', 'overlijdensdatum_als_bekend', 'overlijdensplaats',
       'adellijketitel_id', 'academischetitel_id', 'opmerkingen',
       'geboortejaar', 'overlijdensjaar', 'concat'],
      dtype='object')

In [14]:
wr['concat']

0        HeydenvanderJudocusHenricusAntoniusAdrianusJos...
1                                               SlicherJan
2                                 SweertsdeLandasJacobDerk
3                                       AkerlakenvanPieter
4                             AlberdavanEkensteinOnnoReint
                               ...
12093                                   VolbergenvanTijman
12094                               AcquetdHendrikGeorgesz
12095                                 RaedtdeDirckKijfhoek
12096                                     ZeebergvanPieter
12097                             SteelantvanJohanFrederik
Name: concat, Length: 12098, dtype: object

In [50]:
idswr = list(wr.id)

In [53]:
midswr = list(m.id_wr)

In [57]:
idsnr = list(nr.id)

In [61]:
midsnr = list(m.id_nr)

In [59]:
len(set(midswr) & set(idswr))

12098

In [65]:
len(set(idsnr)  & set(midsnr))

2729

In [68]:
m.loc[m['id_nr'].duplicated()]

,geslachtsnaam_nr,tussenvoegsel_nr,voornaam_nr,adel_nr,adelspredikaat,heerlijkheid_nr,geboortejaar,overlijdensjaar,opmerkingen_nr,periode,...,geboortedatum_wr,geboortedatum_als_bekend,geboorteplaats_wr,doopjaar_wr,overlijdensdatum_wr,overlijdensdatum_als_bekend,overlijdensplaats_wr,adellijketitel_id_wr,academischetitel_id_wr,opmerkingen_wr
1,NaN,NaN,NaN,NaN,NaN,NaN,1815,1745,NaN,NaN,...,1745-07-13,13-07-1745,'s-Gravenhage,0,1815-09-24,24-09-1815,'s-Gravenhage,2.0,1.0,Adelspredicaat: 1815.
2,NaN,NaN,NaN,NaN,NaN,NaN,1820,1759,NaN,NaN,...,1759-02-28,28-02-1759,Gorinchem,0,1820-03-10,10-03-1820,'s-Gravenhage,1.0,NaN,Adelspredicaat: 1814/adelstitel: 1816.
3,NaN,NaN,NaN,NaN,NaN,NaN,1862,1792,NaN,NaN,...,1792-08-12,12-08-1792,Hoorn,0,1862-09-20,20-09-1862,Hoorn,2.0,1.0,Adelspredicaat: 1843.
4,NaN,NaN,NaN,NaN,NaN,NaN,1821,1752,NaN,NaN,...,1752-02-03,03-02-1752,Groningen,0,1821-10-21,21-10-1821,Tjamsweer,2.0,1.0,Adelspredicaat: 1814.
5,NaN,NaN,NaN,NaN,NaN,NaN,1829,1754,NaN,NaN,...,1754-06-16,16-06-1754,Groningen,0,1829-06-12,12-06-1829,Uithuizermeden,1.0,1.0,Adelspredicaat: 1814/adelstitel: 1825.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12166,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,1560,NaN,NaN,...,NaT,1560,None,0,NaT,,None,NaN,NaN,"Persoonsgegevens: leeft nog in augustus 1645, ..."
12167,NaN,NaN,NaN,NaN,NaN,NaN,1769,1692,NaN,NaN,...,1692-01-01,1692,None,0,1769-12-22,22-12-1769,None,NaN,1.0,Persoonsgegevens: Algemeen Nederlandsch Famili...
12168,NaN,NaN,NaN,NaN,NaN,NaN,1706,1649,NaN,NaN,...,NaT,1649,None,0,1706-01-18,18-01-1706,None,NaN,1.0,Buitenlandse adelstitel: Engelse titel 2e baro...
12169,NaN,NaN,NaN,NaN,NaN,NaN,1785,<NA>,NaN,NaN,...,NaT,,None,0,1785-12-31,1785,None,NaN,1.0,None
12170,NaN,NaN,NaN,NaN,NaN,NaN,1785,1730,NaN,NaN,...,1730-01-01,1730,None,0,1785-11-29,29-11-1785,None,NaN,1.0,None

In [121]:
wr.columns

Index(['id', 'adel', 'heerlijkheid', 'voornaam', 'tussenvoegsel',
       'geslachtsnaam', 'searchable_geslachtsnaam', 'geboortedatum',
       'geboortedatum_als_bekend', 'geboorteplaats', 'doopjaar',
       'overlijdensdatum', 'overlijdensdatum_als_bekend', 'overlijdensplaats',
       'adellijketitel_id', 'academischetitel_id', 'opmerkingen',
       'geboortejaar', 'overlijdensjaar', 'concat'],
      dtype='object')

In [111]:
prem = nr.merge(wr, left_on=['geslachtsnaam'], right_on=['geslachtsnaam'], suffixes=['_nr','_wr'])

In [114]:
fprem = prem.loc[prem.concat_nr==prem.concat_wr]

In [119]:
?fprem.overlijdensjaar_nr.eq

Signature:
fprem.overlijdensjaar_nr.eq(
    other,
    level: 'Level | None' = None,
    fill_value: 'float | None' = None,
    axis: 'Axis' = 0,
) -> 'Series'
Docstring:
Return Equal to of series and other, element-wise (binary operator `eq`).

Equivalent to ``series == other``, but with support to substitute a fill_value for
missing data in either one of the inputs.

Parameters
----------
other : Series or scalar value
level : int or name
    Broadcast across a level, matching Index values on the
    passed MultiIndex level.
fill_value : None or float value, default None (NaN)
    Fill existing missing (NaN) values, and any new element needed for
    successful Series alignment, with this value before computation.
    If data in both corresponding Series locations is missing
    the result of filling (at that location) will be missing.
axis : {0 or 'index'}
    Unused. Parameter needed for compatibility with DataFrame.

Returns
-------
Series
    The result of the operation.

Examples
--------
>>> a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
>>> a
a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64
>>> b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
>>> b
a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64
>>> a.eq(b, fill_value=0)
a     True
b    False
c    False
d    False
e    False
dtype: bool
File:      ~/develop/republic_clean/.venv/lib/python3.9/site-packages/pandas/core/series.py
Type:      method

In [118]:
fprem.loc[fprem.overlijdensjaar_nr.eq(fprem.overlijdensjaar_wr,)]

TypeError: boolean value of NA is ambiguous

In [108]:
altm = nr.merge(wr, left_on=['geslachtsnaam','overlijdensjaar'], right_on=['geslachtsnaam','overlijdensjaar'], suffixes=['_nr','_wr'])

In [110]:
altm.loc[altm.concat_nr==altm.concat_wr]

,geslachtsnaam,tussenvoegsel_nr,voornaam_nr,adel_nr,adelspredikaat,heerlijkheid_nr,geboortejaar_nr,overlijdensjaar,opmerkingen_nr,periode,...,geboorteplaats_wr,doopjaar_wr,overlijdensdatum_wr,overlijdensdatum_als_bekend,overlijdensplaats_wr,adellijketitel_id_wr,academischetitel_id_wr,opmerkingen_wr,geboortejaar_wr,concat_wr
3,Brakel,van,Cornelis Jacob,0,None,,NaN,NaN,None,2,...,None,0,NaT,,None,NaN,1.0,None,<NA>,BrakelvanCornelisJacob
4,Bousquet,,J.,0,None,,NaN,NaN,None,2,...,None,0,NaT,,None,NaN,NaN,None,<NA>,BousquetJ
8,Jongh,de,J.,0,None,,NaN,NaN,None,2,...,None,0,NaT,,None,NaN,NaN,None,<NA>,JonghdeJ
14,Bosch,van den,Johan Diederik,0,None,,NaN,NaN,None,2,...,None,0,NaT,,None,NaN,NaN,None,<NA>,BoschvandenJohanDiederik
16,Cuvillier-Fleury,,Jean-Louis,0,None,,NaN,NaN,None,2,...,None,0,NaT,,None,NaN,NaN,None,<NA>,CuvillierFleuryJeanLouis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6716,Neck,van,Jan,0,None,,NaN,NaN,None,1,...,None,0,NaT,1448,None,NaN,NaN,None,1448,NeckvanJan
6721,Splinter,,Cornelis,0,None,,NaN,NaN,Persoonsgegevens: het is niet geheel zeker dat...,1,...,None,0,NaT,,None,NaN,1.0,None,<NA>,SplinterCornelis
6766,Leeuw,de,Gerard,0,None,,NaN,NaN,Persoonsgegevens: overleden vóór 9 juni 1684.,1,...,None,0,1845-12-31,1845,None,NaN,NaN,None,1845,LeeuwdeGerard
6784,Cooper,,Adriaan,0,None,,NaN,NaN,Overig: was pensionaris van Veere.,1,...,None,0,NaT,,None,NaN,1.0,None,<NA>,CooperAdriaan
6825,Drept,van der,Jan Jansz.,0,None,,NaN,NaN,Persoonsgegevens: overleden in de jaren 1650.,1,...,None,0,NaT,165?,None,NaN,NaN,None,1650,DreptvanderJanJansz

In [109]:
altm

,geslachtsnaam,tussenvoegsel_nr,voornaam_nr,adel_nr,adelspredikaat,heerlijkheid_nr,geboortejaar_nr,overlijdensjaar,opmerkingen_nr,periode,...,geboorteplaats_wr,doopjaar_wr,overlijdensdatum_wr,overlijdensdatum_als_bekend,overlijdensplaats_wr,adellijketitel_id_wr,academischetitel_id_wr,opmerkingen_wr,geboortejaar_wr,concat_wr
0,Brakel,van,Cornelis Jacob,0,None,,NaN,NaN,None,2,...,None,0,NaT,,None,NaN,NaN,Persoonsgegevens: het is niet zeker of dit Cor...,<NA>,BrakelvanCJ
1,Brakel,van,Cornelis Jacob,0,None,,NaN,NaN,None,2,...,None,0,NaT,1484,None,NaN,NaN,None,1484,BrakelvanWillemSpaarndamenSpaarnland
2,Brakel,van,Cornelis Jacob,0,None,,NaN,NaN,None,2,...,None,0,1740-09-25,25-09-1740,None,NaN,1.0,None,1740,BrakelvanCornelisPieter
3,Brakel,van,Cornelis Jacob,0,None,,NaN,NaN,None,2,...,None,0,NaT,,None,NaN,1.0,None,<NA>,BrakelvanCornelisJacob
4,Bousquet,,J.,0,None,,NaN,NaN,None,2,...,None,0,NaT,,None,NaN,NaN,None,<NA>,BousquetJ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6821,Goes,van der,Adriaen,0,None,,NaN,NaN,Persoonsgegevens: hooogstwaarschijnlijk identi...,1,...,None,0,NaT,,None,NaN,NaN,None,<NA>,GoesvanderAdriaan
6822,Goes,van der,Adriaen,0,None,,NaN,NaN,Persoonsgegevens: hooogstwaarschijnlijk identi...,1,...,None,0,NaT,1606,None,NaN,NaN,"Overig: volgens Van Leeuwen blz. 1461, stierf ...",1606,GoesvanderCornelisUitwijk
6823,Goes,van der,Adriaen,0,None,,NaN,NaN,Persoonsgegevens: hooogstwaarschijnlijk identi...,1,...,None,0,NaT,,None,NaN,NaN,Vroedschap: einde wegens vertrek naar Dordrecht.,<NA>,GoesvanderAernout
6824,Randwijck,van,Steven Walraven,1,None,"de Pol en de Beringen, Homoet",1742.0,1805.0,Heerlijkheden/adellijke huizen: verwerving Pol...,1,...,Nijmegen,0,1870-10-04,04-10-1870,Rossum,1.0,NaN,Adelspredicaat: 1814/adelstitel: 1822.,1870,RandwijckGodardAdriaanJacob
6825,Drept,van der,Jan Jansz.,0,None,,NaN,NaN,Persoonsgegevens: overleden in de jaren 1650.,1,...,None,0,NaT,165?,None,NaN,NaN,None,1650,DreptvanderJanJansz

In [104]:
m = nr.loc[nr.republiek==1].merge(wr, left_on=['concat'], right_on=['concat'], suffixes=['_nr','_wr'])

In [105]:
m

,geslachtsnaam_nr,tussenvoegsel_nr,voornaam_nr,adel_nr,adelspredikaat,heerlijkheid_nr,geboortejaar_nr,overlijdensjaar_nr,opmerkingen_nr,periode,...,geboorteplaats_wr,doopjaar_wr,overlijdensdatum_wr,overlijdensdatum_als_bekend,overlijdensplaats_wr,adellijketitel_id_wr,academischetitel_id_wr,opmerkingen_wr,geboortejaar_wr,overlijdensjaar_wr
0,Fremery,de,Nicolaas,0,None,,1719.0,1784.0,None,1,...,None,0,1784-12-31,1784,None,NaN,NaN,None,1784,1719
1,Thilenius,,Jan Abraham,0,None,,1698.0,1754.0,None,1,...,None,0,1754-04-04,04-04-1754,None,NaN,1.0,None,1754,1698
2,Meer,van der,Jacob,0,None,Hoogeveen,1696.0,1755.0,None,1,...,None,0,1795-12-31,1795,None,NaN,NaN,None,1795,1724
3,Meer,van der,Jacob,0,None,Hoogeveen,1696.0,1755.0,None,1,...,None,0,1755-05-08,08-05-1755,None,NaN,1.0,None,1755,1696
4,Josselet,,Coenraad Hendriksz.,0,None,,1710.0,1783.0,None,1,...,None,0,1783-09-17,17-09-1783,None,NaN,NaN,None,1783,1710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4299,Zuylen van Nyevelt,van,Jacob,0,None,,1642.0,1695.0,Binnenlandse adelstitels: de verwantschap van ...,1,...,None,0,1695-06-24,24-06-1695,None,NaN,1.0,None,1695,1642
4300,Zuylen van Nyevelt,van,Jacob,0,None,,1642.0,1695.0,Binnenlandse adelstitels: de verwantschap van ...,1,...,None,0,1753-03-28,28-03-1753,None,NaN,1.0,None,1753,1699
4301,Lidth de Jeude,van,Cornelis Christiaan,0,None,,1728.0,1809.0,None,1,...,Tiel,0,1858-06-15,15-06-1858,Tiel,NaN,1.0,None,1858,1777
4302,Heerdt tot Eversberg,van,Adam,1,None,,1556.0,1640.0,Ridderschap: jaren van verschijning.,1,...,None,0,NaT,09-07-1640,None,NaN,NaN,None,1640,1556
4303,Drept,van der,Jan Jansz.,0,None,,NaN,NaN,Persoonsgegevens: overleden in de jaren 1650.,1,...,None,0,NaT,165?,None,NaN,NaN,None,1650,<NA>

In [103]:
m.loc[m['id_wr'].isna()]

Empty DataFrame
Columns: [geslachtsnaam_nr, tussenvoegsel_nr, voornaam_nr, adel_nr, adelspredikaat, heerlijkheid_nr, geboortejaar, overlijdensjaar, opmerkingen_nr, periode, eindcontrole, geboortedag, geboortemaand, doopjaar_nr, geboorteplaats_nr, overlijdensdag, overlijdensmaand, overlijdensplaats_nr, id_nr, geboortedatum_nr, overlijdensdatum_nr, searchable, academischetitel_id_nr, adellijketitel_id_nr, me, republiek, batfra, negentiende_eeuw, divperioden, concat, id_wr, adel_wr, heerlijkheid_wr, voornaam_wr, tussenvoegsel_wr, geslachtsnaam_wr, searchable_geslachtsnaam, geboortedatum_wr, geboortedatum_als_bekend, geboorteplaats_wr, doopjaar_wr, overlijdensdatum_wr, overlijdensdatum_als_bekend, overlijdensplaats_wr, adellijketitel_id_wr, academischetitel_id_wr, opmerkingen_wr]
Index: []

[0 rows x 47 columns]

In [78]:
altm.columns

Index(['geslachtsnaam_nr', 'tussenvoegsel_nr', 'voornaam_nr', 'adel_nr',
       'adelspredikaat', 'heerlijkheid_nr', 'geboortejaar_nr',
       'overlijdensjaar', 'opmerkingen', 'periode', 'eindcontrole',
       'geboortedag', 'geboortemaand', 'doopjaar_nr', 'geboorteplaats_nr',
       'overlijdensdag', 'overlijdensmaand', 'overlijdensplaats_nr', 'id_nr',
       'geboortedatum_nr', 'overlijdensdatum_nr', 'searchable',
       'academischetitel_id_nr', 'adellijketitel_id_nr', 'me', 'republiek',
       'batfra', 'negentiende_eeuw', 'divperioden', 'concat', 'id_wr',
       'adel_wr', 'heerlijkheid_wr', 'voornaam_wr', 'tussenvoegsel_wr',
       'geslachtsnaam_wr', 'searchable_geslachtsnaam', 'geboortedatum_wr',
       'geboortedatum_als_bekend', 'geboorteplaats_wr', 'doopjaar_wr',
       'overlijdensdatum_wr', 'overlijdensdatum_als_bekend',
       'overlijdensplaats_wr', 'adellijketitel_id_wr',
       'academischetitel_id_wr', 'geboortejaar_wr'],
      dtype='object')

In [85]:
altm.loc[altm.id_wr.duplicated()][['geslachtsnaam_nr','geslachtsnaam_wr','voornaam_nr','voornaam_wr','heerlijkheid_nr','heerlijkheid_wr', 'geboortejaar_nr','geboortejaar_wr','id_wr']].sort_values(['id_wr','geslachtsnaam_wr'])

,geslachtsnaam_nr,geslachtsnaam_wr,voornaam_nr,voornaam_wr,heerlijkheid_nr,heerlijkheid_wr,geboortejaar_nr,geboortejaar_wr,id_wr
1434,Gobius,Gobius,Joan Frederik,Joan Frederik,,,NaN,<NA>,1434
1748,Vermeulen,Vermeulen,Gerard,Gerard,,,NaN,<NA>,1747
1834,Smits,Smits,J.,J.,,,NaN,<NA>,1832
1835,Smits,Smits,J.,J.,,,NaN,<NA>,1832
2480,Roock,Roock,Adriaan,Adriaan,,,NaN,<NA>,2476
...,...,...,...,...,...,...,...,...,...
10854,Wicherlink,Wicherlink,Gerrit,Gerrit,,,1764.0,<NA>,10796
10936,Rietberg,Rietberg,Lubbertus J.,Lubbertus J.,,,NaN,<NA>,10877
11317,Assendelft,Assendelft,Corneille Jean,Corneille Jean,,,NaN,<NA>,11257
11598,Stratenus,Stratenus,,,,,NaN,<NA>,11537
11782,Wichers,Wichers,Johan,Johan,,,NaN,<NA>,11720

In [87]:
altm.loc[altm.id_nr.isna()]

,geslachtsnaam_nr,tussenvoegsel_nr,voornaam_nr,adel_nr,adelspredikaat,heerlijkheid_nr,geboortejaar_nr,overlijdensjaar,opmerkingen,periode,...,geboortedatum_wr,geboortedatum_als_bekend,geboorteplaats_wr,doopjaar_wr,overlijdensdatum_wr,overlijdensdatum_als_bekend,overlijdensplaats_wr,adellijketitel_id_wr,academischetitel_id_wr,geboortejaar_wr
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1765,Adelstitels: baron (Empire) 1813/jonkheer 1815...,NaN,...,1765-02-25,25-02-1765,Doetinchem,0,1854-09-19,19-09-1854,Steenderen,1.0,NaN,1854
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1745,Adelspredicaat: 1815.,NaN,...,1745-07-13,13-07-1745,'s-Gravenhage,0,1815-09-24,24-09-1815,'s-Gravenhage,2.0,1.0,1815
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1759,Adelspredicaat: 1814/adelstitel: 1816.,NaN,...,1759-02-28,28-02-1759,Gorinchem,0,1820-03-10,10-03-1820,'s-Gravenhage,1.0,NaN,1820
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1792,Adelspredicaat: 1843.,NaN,...,1792-08-12,12-08-1792,Hoorn,0,1862-09-20,20-09-1862,Hoorn,2.0,1.0,1862
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1752,Adelspredicaat: 1814.,NaN,...,1752-02-03,03-02-1752,Groningen,0,1821-10-21,21-10-1821,Tjamsweer,2.0,1.0,1821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1560,"Persoonsgegevens: leeft nog in augustus 1645, ...",NaN,...,NaT,1560,None,0,NaT,,None,NaN,NaN,<NA>
12157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1692,Persoonsgegevens: Algemeen Nederlandsch Famili...,NaN,...,1692-01-01,1692,None,0,1769-12-22,22-12-1769,None,NaN,1.0,1769
12158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1649,Buitenlandse adelstitel: Engelse titel 2e baro...,NaN,...,NaT,1649,None,0,1706-01-18,18-01-1706,None,NaN,1.0,1706
12159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,None,NaN,...,NaT,,None,0,1785-12-31,1785,None,NaN,1.0,1785
12160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1730,None,NaN,...,1730-01-01,1730,None,0,1785-11-29,29-11-1785,None,NaN,1.0,1785

In [86]:
altm.loc[altm.id_nr.duplicated()][['geslachtsnaam_nr','geslachtsnaam_wr','voornaam_nr','voornaam_wr','heerlijkheid_nr','heerlijkheid_wr', 'geboortejaar_nr','geboortejaar_wr','id_wr','id_nr']].sort_values(['id_nr','geslachtsnaam_nr'])

,geslachtsnaam_nr,geslachtsnaam_wr,voornaam_nr,voornaam_wr,heerlijkheid_nr,heerlijkheid_wr,geboortejaar_nr,geboortejaar_wr,id_wr,id_nr
9541,Citters,Citters,,,,,NaN,<NA>,9496,131.0
6038,Witt,Witt,Jan,Jan,,,NaN,<NA>,6014,418.0
11597,Stratenus,Stratenus,,,,,NaN,<NA>,11537,611.0
10735,Hagen,Hagen,F.,F.,,,NaN,<NA>,10679,709.0
10690,Riemsdijk,Riemsdijk,G.,G.,,,NaN,<NA>,10637,1433.0
...,...,...,...,...,...,...,...,...,...,...
12156,NaN,Volbergen,NaN,Tijman,NaN,,NaN,<NA>,12094,NaN
12157,NaN,Acquet,NaN,Hendrik Georgesz.,NaN,,NaN,1769,12095,NaN
12158,NaN,Raedt,NaN,Dirck,NaN,Kijfhoek,NaN,1706,12096,NaN
12159,NaN,Zeeberg,NaN,Pieter,NaN,,NaN,1785,12097,NaN
12160,NaN,Steelant,NaN,Johan Frederik,NaN,,NaN,1785,12098,NaN

In [16]:
m = nr.merge(wr, left_on=['concat','geboortejaar','overlijdensjaar'], right_on=['concat','geboortejaar','overlijdensjaar'], how='right', suffixes=['_nr','_wr'])

In [47]:
len(wr)

12098

In [18]:
concordance = m.loc[m['id_nr'].notna()][['id_nr','id_wr']].drop_duplicates('id_wr')

In [19]:
dpl = concordance[concordance.id_nr.duplicated()]

In [20]:
outcols = ['id_nr', 'id_wr','geslachtsnaam_nr', 'geslachtsnaam_wr', 'tussenvoegsel_nr', 'tussenvoegsel_wr','voornaam_nr', 
        'voornaam_wr','geboortejaar', 'overlijdensjaar', 'opmerkingen_nr', 'geboorteplaats_nr', 'overlijdensplaats_nr',
         'geboortedatum_nr','geboortedatum_wr','overlijdensdatum_nr','overlijdensdatum_wr',
          'concat', 'geboorteplaats_wr', 'overlijdensplaats_wr',  'opmerkingen_wr']

In [21]:
m.loc[m['id_nr'].isin(dpl['id_nr'])].sort_values('id_wr')[outcols].to_excel('./concordance_files/controle_ident1.xlsx')

In [22]:
len (concordance)/len(wr)

0.22334270127293768

In [23]:
len(concordance)/len(nr)

0.171283676703645

In [24]:
m.loc[m['id_nr'].isna()]['concat']

0        HeydenvanderJudocusHenricusAntoniusAdrianusJos...
1                                               SlicherJan
2                                 SweertsdeLandasJacobDerk
3                                       AkerlakenvanPieter
4                             AlberdavanEkensteinOnnoReint
                               ...
12166                                   VolbergenvanTijman
12167                               AcquetdHendrikGeorgesz
12168                                 RaedtdeDirckKijfhoek
12169                                     ZeebergvanPieter
12170                             SteelantvanJohanFrederik
Name: concat, Length: 9396, dtype: object

In [25]:
res = m.loc[m.id_nr.isna()]

In [26]:
from pylcs import levenshtein_distance
def score_lcsr(term1, term2):
    max_distance = max(len(term1),len(term2))
    distance = levenshtein_distance(term1, term2)
    return 1 - distance / max_distance

In [27]:
def multiples_to_single(inputresults, threshold, identity=True):
    multiples = defaultdict(list)
    for k,v in inputresults.items():
        for e in v:
            multiples[e[0]].append((k,e[1]))
    for k,v in multiples.items():
        if len(v)>1:
            if identity is False:
                v = [e for e in v if e[0]!=k]
            newv = max(v, key=lambda x: x[1])
            multiples[k] = [newv]
        else:
            multiples[k] = v
    result = {k:v for k,v in multiples.items() if v[0][1]>threshold}
    return result

def srch2df(skipgramsearcher=None, 
            lst=[], 
            dataframe=None, 
            src_column='', 
            target_column='', 
            threshold=0.5):
    df=dataframe
    res = {w:skipgramsearcher.rank_similar(w) for w in lst}
    # result = {k:v for k,v in res.items() if v[0][1]>threshold}
    rr =  {k:max(v, key=lambda x: x[1]) for k,v in res.items()}  #multiples_to_single(res, threshold=threshold)
    # rr = {k:v[0] for k,v in redux_res.items()}
    df[target_column] = df[src_column].map(rr)
    try:
        df[[f'{target_column}_loc', f'{target_column}_score']] = df[target_column].apply(pd.Series)
    except ValueError:
        print(df[f'target_column'])
    return df

In [28]:
from fuzzy_search import similarity #import skipgramsearcher

In [29]:
terms = list(nr['concat'])

In [30]:
skipgramsearcher = similarity.SkipgramSimilarity(terms=terms)

In [31]:
inp = list(res['concat'])

In [32]:
def max_w(lst=[]):
    result = None
    if len(lst)>0:
        result = max(lst, key=lambda x: x[1])
    return pd.Series(result)

In [33]:
res['match'] = res['concat'].apply(lambda x: skipgramsearcher.rank_similar(x))
res[['match_loc','match_score']] = res['match'].apply(max_w)
res.drop(columns='match',inplace=True)

In [34]:
# skipgramsearch
res

,geslachtsnaam_nr,tussenvoegsel_nr,voornaam_nr,adel_nr,adelspredikaat,heerlijkheid_nr,geboortejaar,overlijdensjaar,opmerkingen_nr,periode,...,geboorteplaats_wr,doopjaar_wr,overlijdensdatum_wr,overlijdensdatum_als_bekend,overlijdensplaats_wr,adellijketitel_id_wr,academischetitel_id_wr,opmerkingen_wr,match_loc,match_score
0,NaN,NaN,NaN,NaN,NaN,NaN,1854,1765,NaN,NaN,...,Doetinchem,0,1854-09-19,19-09-1854,Steenderen,1.0,NaN,Adelstitels: baron (Empire) 1813/jonkheer 1815...,HeydenvanderJudocusHenricusAntoniusAdrianusJos...,1.0
1,NaN,NaN,NaN,NaN,NaN,NaN,1815,1745,NaN,NaN,...,'s-Gravenhage,0,1815-09-24,24-09-1815,'s-Gravenhage,2.0,1.0,Adelspredicaat: 1815.,SlicherJan,1.0
2,NaN,NaN,NaN,NaN,NaN,NaN,1820,1759,NaN,NaN,...,Gorinchem,0,1820-03-10,10-03-1820,'s-Gravenhage,1.0,NaN,Adelspredicaat: 1814/adelstitel: 1816.,SweertsdeLandasJacobDerk,1.0
3,NaN,NaN,NaN,NaN,NaN,NaN,1862,1792,NaN,NaN,...,Hoorn,0,1862-09-20,20-09-1862,Hoorn,2.0,1.0,Adelspredicaat: 1843.,AkerlakenvanPieter,1.0
4,NaN,NaN,NaN,NaN,NaN,NaN,1821,1752,NaN,NaN,...,Groningen,0,1821-10-21,21-10-1821,Tjamsweer,2.0,1.0,Adelspredicaat: 1814.,AlberdavanEkensteinOnnoReint,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12166,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,1560,NaN,NaN,...,None,0,NaT,,None,NaN,NaN,"Persoonsgegevens: leeft nog in augustus 1645, ...",VolbergenvanTijman,1.0
12167,NaN,NaN,NaN,NaN,NaN,NaN,1769,1692,NaN,NaN,...,None,0,1769-12-22,22-12-1769,None,NaN,1.0,Persoonsgegevens: Algemeen Nederlandsch Famili...,AcquetdHendrikGeorgesz,1.0
12168,NaN,NaN,NaN,NaN,NaN,NaN,1706,1649,NaN,NaN,...,None,0,1706-01-18,18-01-1706,None,NaN,1.0,Buitenlandse adelstitel: Engelse titel 2e baro...,RaedtdeDirckKijfhoek,1.0
12169,NaN,NaN,NaN,NaN,NaN,NaN,1785,<NA>,NaN,NaN,...,None,0,1785-12-31,1785,None,NaN,1.0,None,ZeebergvanPieter,1.0
12170,NaN,NaN,NaN,NaN,NaN,NaN,1785,1730,NaN,NaN,...,None,0,1785-11-29,29-11-1785,None,NaN,1.0,None,SteelantvanJohanFrederik,1.0

In [37]:
cols = ['geslachtsnaam','voornaam', 'geboortejaar','overlijdensjaar','opmerkingen','concat']

In [38]:
add_result = res.merge(nr[cols], left_on='match_loc',right_on='concat', suffixes=['_web','_nieuw']).drop_duplicates()

In [39]:
add_result.match_score.value_counts(bins=[0,0.6,0.7,0.8,0.9,1.0])

(0.9, 1.0]       7097
(0.8, 0.9]        277
(0.7, 0.8]        120
(0.6, 0.7]         30
(-0.001, 0.6]      11
Name: count, dtype: int64

In [40]:
doubtful = add_result.loc[add_result.match_score<0.9]

In [41]:
directmatch = add_result.loc[add_result.match_score>0.89]

In [42]:
doubtful.columns

Index(['geslachtsnaam_nr', 'tussenvoegsel_nr', 'voornaam_nr', 'adel_nr',
       'adelspredikaat', 'heerlijkheid_nr', 'geboortejaar_web',
       'overlijdensjaar_web', 'opmerkingen_nr', 'periode', 'eindcontrole',
       'geboortedag', 'geboortemaand', 'doopjaar_nr', 'geboorteplaats_nr',
       'overlijdensdag', 'overlijdensmaand', 'overlijdensplaats_nr', 'id_nr',
       'geboortedatum_nr', 'overlijdensdatum_nr', 'searchable',
       'academischetitel_id_nr', 'adellijketitel_id_nr', 'me', 'republiek',
       'batfra', 'negentiende_eeuw', 'divperioden', 'concat_web', 'id_wr',
       'adel_wr', 'heerlijkheid_wr', 'voornaam_wr', 'tussenvoegsel_wr',
       'geslachtsnaam_wr', 'searchable_geslachtsnaam', 'geboortedatum_wr',
       'geboortedatum_als_bekend', 'geboorteplaats_wr', 'doopjaar_wr',
       'overlijdensdatum_wr', 'overlijdensdatum_als_bekend',
       'overlijdensplaats_wr', 'adellijketitel_id_wr',
       'academischetitel_id_wr', 'opmerkingen_wr', 'match_loc', 'match_score',
       'geslachtsnaam', 'voornaam', 'geboortejaar_nieuw',
       'overlijdensjaar_nieuw', 'opmerkingen', 'concat_nieuw'],
      dtype='object')

In [43]:
d1 = doubtful

In [44]:
d1.columns

Index(['geslachtsnaam_nr', 'tussenvoegsel_nr', 'voornaam_nr', 'adel_nr',
       'adelspredikaat', 'heerlijkheid_nr', 'geboortejaar_web',
       'overlijdensjaar_web', 'opmerkingen_nr', 'periode', 'eindcontrole',
       'geboortedag', 'geboortemaand', 'doopjaar_nr', 'geboorteplaats_nr',
       'overlijdensdag', 'overlijdensmaand', 'overlijdensplaats_nr', 'id_nr',
       'geboortedatum_nr', 'overlijdensdatum_nr', 'searchable',
       'academischetitel_id_nr', 'adellijketitel_id_nr', 'me', 'republiek',
       'batfra', 'negentiende_eeuw', 'divperioden', 'concat_web', 'id_wr',
       'adel_wr', 'heerlijkheid_wr', 'voornaam_wr', 'tussenvoegsel_wr',
       'geslachtsnaam_wr', 'searchable_geslachtsnaam', 'geboortedatum_wr',
       'geboortedatum_als_bekend', 'geboorteplaats_wr', 'doopjaar_wr',
       'overlijdensdatum_wr', 'overlijdensdatum_als_bekend',
       'overlijdensplaats_wr', 'adellijketitel_id_wr',
       'academischetitel_id_wr', 'opmerkingen_wr', 'match_loc', 'match_score',
       'geslachtsnaam', 'voornaam', 'geboortejaar_nieuw',
       'overlijdensjaar_nieuw', 'opmerkingen', 'concat_nieuw'],
      dtype='object')

In [45]:
d1

,geslachtsnaam_nr,tussenvoegsel_nr,voornaam_nr,adel_nr,adelspredikaat,heerlijkheid_nr,geboortejaar_web,overlijdensjaar_web,opmerkingen_nr,periode,...,academischetitel_id_wr,opmerkingen_wr,match_loc,match_score,geslachtsnaam,voornaam,geboortejaar_nieuw,overlijdensjaar_nieuw,opmerkingen,concat_nieuw
7,NaN,NaN,NaN,NaN,NaN,NaN,1824,1743,NaN,NaN,...,NaN,Adelstitel: 1816.,AnethandFrançoisHenriFrançoisdePaulJoseph,0.764706,Anethan,François Henri François de Paul Joseph,1743.0,1824.0,Adelstitel: 1816.,AnethandFrançoisHenriFrançoisdePaulJoseph
10,NaN,NaN,NaN,NaN,NaN,NaN,1835,1777,NaN,NaN,...,NaN,Adelstitel: 1816.,BéthuneHesdigneuldeMarieAméBernardAntoineJosep...,0.873016,Béthune Hesdigneul,Marie Amé Bernard Antoine Joseph Eugène Maximi...,1777.0,1835.0,Adelstitel: 1816.,BéthuneHesdigneuldeMarieAméBernardAntoineJosep...
18,NaN,NaN,NaN,NaN,NaN,NaN,1850,1757,NaN,NaN,...,1.0,Adelspredicaat: 1817.,BrouckèredeCharles,0.812500,Brouckère,Charles,1757.0,1850.0,Adelspredicaat: 1817.,BrouckèredeCharles
24,NaN,NaN,NaN,NaN,NaN,NaN,1849,1765,NaN,NaN,...,NaN,Adelstitels: baron 1810/baron (Empire) 1811.,ChasséDavidHendrik,0.812500,Chassé,David Hendrik,1765.0,1849.0,Adelstitels: baron 1810/baron (Empire) 1811.,ChasséDavidHendrik
34,NaN,NaN,NaN,NaN,NaN,NaN,1822,1754,NaN,NaN,...,NaN,None,FailledeLeverghemdellaJosephCharlesHenriJeanNé...,0.884615,Faille de Leverghem,Joseph Charles Henri Jean-Népomucène,1754.0,1822.0,None,FailledeLeverghemdellaJosephCharlesHenriJeanNé...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10818,NaN,NaN,NaN,NaN,NaN,NaN,1773,1740,NaN,NaN,...,1.0,None,FagelFrançois,0.727273,Fagel,François,1659.0,1746.0,None,FagelFrançois
10819,NaN,NaN,NaN,NaN,NaN,NaN,1773,1740,NaN,NaN,...,1.0,None,FagelFrançois,0.727273,Fagel,François,1740.0,1773.0,None,FagelFrançois
10862,NaN,NaN,NaN,NaN,NaN,NaN,1806,1749,NaN,NaN,...,NaN,None,ColéeNicolaas,0.727273,Colée,Nicolaas,1749.0,1806.0,None,ColéeNicolaas
10940,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,...,1.0,None,BriëlisJanRapenburg,0.823529,Briëlis,Jan,NaN,NaN,None,BriëlisJanRapenburg
11028,NaN,NaN,NaN,NaN,NaN,NaN,1733,1689,NaN,NaN,...,NaN,Overig: was hoogleraar wijsbegeerte aan het De...,RoëllDionysiusAndreas,0.842105,Roëll,Dionysius Andreas,1689.0,1733.0,Overig: was hoogleraar wijsbegeerte aan het De...,RoëllDionysiusAndreas

In [99]:
d1.loc[d1['opmerkingen_wr']==d1['opmerkingen_nr']]

Empty DataFrame
Columns: [geslachtsnaam_nr, tussenvoegsel_nr, voornaam_nr, adel_nr, adelspredikaat, heerlijkheid_nr, geboortejaar_web, overlijdensjaar_web, opmerkingen_nr, periode, eindcontrole, geboortedag, geboortemaand, doopjaar_nr, geboorteplaats_nr, overlijdensdag, overlijdensmaand, overlijdensplaats_nr, id_nr, geboortedatum_nr, overlijdensdatum_nr, searchable, academischetitel_id_nr, adellijketitel_id_nr, 1, 2, 3, 4, 5, concat_web, id_wr, adel_wr, heerlijkheid_wr, voornaam_wr, tussenvoegsel_wr, geslachtsnaam_wr, searchable_geslachtsnaam, geboortedatum_wr, geboortedatum_als_bekend, geboorteplaats_wr, doopjaar_wr, overlijdensdatum_wr, overlijdensdatum_als_bekend, overlijdensplaats_wr, adellijketitel_id_wr, academischetitel_id_wr, opmerkingen_wr, match_loc, match_score, geslachtsnaam, voornaam, geboortejaar_nieuw, overlijdensjaar_nieuw, opmerkingen, concat_nieuw, ol_w, gj_w, gjdelta, ojdelta]
Index: []

[0 rows x 59 columns]

In [173]:
dnw = excelfile.parse('conccont')

In [174]:
add_res2 = dnw.loc[dnw.ok == 1]

In [175]:
add_res_concat = add_res2.merge(nr, left_on=['concat_nieuw','geboortejaar_nieuw','overlijdensjaar_nieuw'], right_on=['concat','geboortejaar','overlijdensjaar']).drop_duplicates()[['id_wr','id']]

In [176]:
dmatch = directmatch.merge(nr, left_on=['concat_nieuw','geboortejaar_nieuw','overlijdensjaar_nieuw'], right_on=['concat','geboortejaar','overlijdensjaar']).drop_duplicates()[['id_wr','id']]

In [177]:
dmatch.rename(columns={'id':'id_nr'}, inplace=True)

In [178]:
add_res_concat.rename(columns={'id':'id_nr'}, inplace=True)

In [180]:
found = excelfile.parse("not_found_remediate")

In [182]:
found

,Unnamed: 0,id_ps,id_nieuw,id,adel,heerlijkheid,voornaam,tussenvoegsel,geslachtsnaam,searchable_geslachtsnaam,...,concat,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,1274,5021,5022.0,1275,0,NaN,H.N.,NaN,LaclÃ©,LaclÃ©,...,NaN,NaN,LaclÃHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1424,4079,4080.0,1425,0,NaN,Wijnand,van Asch van,Assenraad,van Asch van Assenraad,...,5,5,12,1855,Amersfoort,NaN,NaN,NaN,AssenraadvanAschvanWijnand,NaN
2,5260,15463,15464.0,5261,0,Nieuw,Lekkerland en Limmen,FranÃ§ois,de,Mey,...,1797,NaN,NaN,1.0,NaN,MeydeFranÃoisNieuwLekkerlandenLimmen,NaN,NaN,NaN,NaN
3,5516,143,144.0,5517,0,NaN,NaN,La,BÃ©nardiÃ¨re,La BÃ©nardiÃ¨re,...,BÃnardiÃreLa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5776,309,310.0,5777,0,NaN,FranÃ§ois,NaN,MÃ©sangÃ¨re,MÃ©sangÃ¨re,...,MÃsangÃreFranÃois,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6809,15465,15466.0,6810,0,NaN,Johan Gerritsz.,van,Egmond van de Nijenburg,van Egmond van de Nijenburg,...,NaN,Vroedschap: ontslagen op eigen verzoek 1687._x...,EgmondvandeNijenburgvanJohanGerritsz,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7869,33910,33911.0,7870,0,NaN,T.,NaN,SchÃ¶n,SchÃ¶n,...,SchÃnT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7960,26214,26215.0,7961,0,NaN,Jan,NaN,Buijes,Buijes,...,1.0,"Persoonsgegevens: Hoewel niet geheel zeker, is...",BuijesJan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8479,2382,2383.0,8480,0,NaN,G.C.,NaN,VisÃ©e,VisÃ©e,...,VisÃeGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,8565,NAN,NaN,8566,1,NaN,Derk Wolter,van,Lynden,van Lynden,...,NaN,NaN,LyndenvanDerkWolter,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,8739,3708,3709.0,8740,0,NaN,H.N.,la,ClÃ©,la ClÃ©,...,ClÃlaHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,9496,15503,15504.0,9497,0,NaN,Pieter Pietersz.,NaN,Laackeman (de jonge),Laackeman (de jonge),...,NaN,LaackemandejongePieterPietersz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,9746,40165,40166.0,9747,1,NaN,AssuÃ«rus,NaN,Vegelin van Claerbergen,Vegelin van Claerbergen,...,3,1771,NaN,NaN,NaN,Overig: was grietman van Haskerland 1739,1749.,VegelinvanClaerbergenAssuÃrus,NaN,NaN
13,9778,313,314.0,9779,0,NaN,A.J.,NaN,MijnÃ©,MijnÃ©,...,MijnÃAJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,10004,31452,31453.0,10005,1,Oudkarspel en Koedijk,Cornelis,van,Teylingen,van Teylingen,...,NaN,2.0,NaN,Heerlijkheden: volgens Bossaers heerlijkheid H...,TeylingenvanCornelisOudkarspelenKoedijk,NaN,NaN,NaN,NaN,NaN
15,10492,9452,9453.0,10493,0,NaN,DaniÃ«l,NaN,Noordhey,Noordhey,...,NaN,NaN,1.0,NaN,NoordheyDaniÃl,NaN,NaN,NaN,NaN,NaN
16,10696,8590,8591.0,10697,0,NaN,DaniÃ«l Livius,de,Kempenaer,de Kempenaer,...,9,1772,NaN,NaN,1.0,Persoonsgegevens: volgens Raad van State 450 j...,KempenaerdeDaniÃlLivius,NaN,NaN,NaN
17,10724,8719,8720.0,10725,0,NaN,DaniÃ«l,de,Kempenaer,de Kempenaer,...,KempenaerdeDaniÃl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,10782,9540,9541.0,10783,0,NaN,FranÃ§ois,NaN,Keetlaer,Keetlaer,...,NaN,NaN,1.0,NaN,KeetlaerFranÃois,NaN,NaN,NaN,NaN,NaN
19,10787,7905,7906.0,10788,0,NaN,FranÃ§ois,de,Baudimont,de Baudimont,...,BaudimontdeFranÃois,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,10905,5561,5562.0,10906,0,NaN,Pieter Johan,Rethaan,MacarÃ©,Rethaan MacarÃ©,...,3,3,12,1828,Middelburg,NaN,NaN,NaN,MacarÃRethaanPieterJohan,NaN
21,10963,2933,2934.0,10964,0,NaN,Catharinus,NaN,OneÃ¯des,OneÃ¯des,...,OneÃdesCatharinus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,10989,2068,2069.0,10990,0,NaN,GabriÃ«l Hercules,van,Loon,van Loon,...,LoonvanGabriÃlHercules,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,11077,3145,3146.0,11078,1,NaN,DaniÃ«l,NaN,Hooft,Hooft,...,18,18,2,1860,Amsterdam,2.0,1.0,Adelspredicaat: 1815.,HooftDaniÃl,NaN
24,11101,2372,2373.0,11102,0,NaN,Bernard Antoine,NaN,FallÃ©e,FallÃ©e,...,FallÃeBernardAntoine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,11104,2270,2271.0,11105,0,NaN,A.,de,MonyÃ©,de MonyÃ©,...,MonyÃdeA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,11122,2424,2425.0,11123,0,NaN,Meinard Johan,NaN,MacarÃ©,MacarÃ©,...,NaN,NaN,MacarÃMeinardJohan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,11193,4507,4508.0,11194,0,NaN,Patrice,Charles,Ghislain,de,...,1827,12,31,1827,NaN,NaN,NaN,NaN,ConinckOutrivedePatriceCharlesGhislain,NaN
28,11235,303,304.0,11236,0,NaN,Jean,Baptiste,Denis,NaN,...,NaN,NaN,DesprÃsJeanBaptisteDenis,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,11267,8609,8610.0,11268,0,NaN,Suffridus,NaN,Lycklama Ã Nijeholt,Lycklama Ã Nijeholt,...,NaN,Overig: was grietman van Oost,Stellingwerf 1639,1645.,LycklamaÃNijeholtSuffridus,NaN,NaN,NaN,NaN,NaN
30,11290,15508,15509.0,11291,0,NaN,Jan Jansz.,NaN,Engel de Oude,Engel de Oude,...,NaN,NaN,NaN,EngeldeOudeJanJansz,NaN,NaN,NaN,NaN,NaN,NaN
31,11399,11926,11927.0,11400,0,NaN,FranÃ§ois,NaN,Cuper van Holthuysen,Cuper van Holthuysen,...,NaN,NaN,1.0,Persoonsgegevens: Raad van State 450 jr. geeft...,CupervanHolthuysenFranÃois,NaN,NaN,NaN,NaN,NaN
32,11406,4367,4368.0,11407,0,NaN,Adriaan FranÃ§ois,de,Virieu,de Virieu,...,5,5,5,1838,'s,Gravenhage,NaN,NaN,Persoonsgegevens: J.Pzn.,VirieudeAdriaanFranÃois
33,11417,11231,11232.0,11418,0,NaN,FranÃ§ois,NaN,Gallis,Gallis,...,7,1777,NaN,NaN,3.0,NaN,GallisFranÃois,NaN,NaN,NaN
34,11515,10553,10554.0,11516,0,NaN,Mahu,le,FÃ¨bre,le FÃ¨bre,...,FÃbreleMahu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,11661,150,151.0,11662,0,NaN,Antoine FranÃ§ois,de,Nantes,de Nantes,...,NantesdeAntoineFranÃois,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,11688,8466,8467.0,11689,0,NaN,IsaÃ¤c,van,Acronius,van Acronius,...,7,1771,NaN,NaN,1.0,NaN,AcroniusvanIsaÃc,NaN,NaN,NaN
37,11740,NaN,NaN,11741,0,NaN,Helene Wolfgang,NaN,VaissiÃ¨re,VaissiÃ¨re,...,VaissiÃreHeleneWolfgang,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,11752,3809,3810.0,11753,0,NaN,Jonas DaniÃ«l,NaN,Meyer,Meyer,...,6,6,12,1834,Amsterdam,NaN,1.0,NaN,MeyerJonasDaniÃl,NaN
39,11786,2646,2647.0,11787,0,NaN,Pierre FrÃ©dric,NaN,Perrenoud,Perrenoud,...,NaN,NaN,PerrenoudPierreFrÃdric,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,11827,2944,2945.0,11828,0,NaN,A.,NaN,LÃ¶wenstein,LÃ¶wenstein,...,LÃwensteinA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,12019,11432,11433.0,12020,0,NaN,FranÃ§ois,NaN,BautÃ©,BautÃ©,...,3.0,Persoonsgegevens: Nagtglas geeft jaar van over...,"Generaal, inv. nr. 12278, f. 134v). Vooralsnog...",BautÃFranÃois,NaN,NaN,NaN,NaN,NaN,NaN

In [183]:
fnd = found[['id', 'id_nieuw']]

In [190]:
fnd.rename(columns={'id':'id_wr', 'id_nieuw':'id_nr'}, inplace=True)

In [191]:
conc_tot = pd.concat([concordance,add_res_concat,dmatch,fnd])

In [192]:
len(conc_tot)

12182

In [193]:
len(conc_tot.drop_duplicates())/len(wr)

1.0044635476938337

In [198]:
conc_tot[conc_tot['id_wr'].duplicated()]

       id_nr  id_wr
15   10544.0  11878
19   10544.0  10625
22    3598.0   2318
23    8578.0   7707
26   12494.0  11878
..       ...    ...
145   4581.0  10204
146    781.0  10206
147    596.0  10398
154   3313.0  11243
155   8222.0  11243

[84 rows x 2 columns]

In [223]:
con_dupl = conc_tot[conc_tot['id_nr'].duplicated()]

In [239]:
conc_tot.loc[conc_tot['id_nr'].isin(con_dupl['id_nr'])].set_index('id_nr').sort_index()

         id_wr
id_nr
13.0       612
13.0     11052
26.0     10167
26.0       907
52.0      4611
...        ...
15635.0   9110
15698.0  10649
15698.0   5943
NaN       8566
NaN      11741

[939 rows x 1 columns]

In [ ]:
conc_tot.concat

In [233]:
nr.loc[nr['id'].isin(con_dupl['id_nr'])].set_index('id')

,geslachtsnaam,tussenvoegsel,voornaam,adel,adelspredikaat,heerlijkheid,geboortejaar,overlijdensjaar,opmerkingen,periode,...,overlijdensdatum,searchable,academischetitel_id,adellijketitel_id,1,2,3,4,5,concat
id,,,,,,,,,,,,,,,,,,,,,
13,Bosscha,,Johannes,0,None,,1767.0,1810.0,None,2,...,1810-12-31,Bosscha,NaN,NaN,0,0,1,0,0,BosschaJohannes
26,Hogendorp,van,Dirk,1,None,,1761.0,1822.0,Adelstitel: comte 1811.\r\nOverig: Van Hogendo...,2,...,1822-12-31,van Hogendorp,NaN,3.0,0,0,1,0,0,HogendorpvanDirk
52,Conrad,,Frederik Willem,0,None,,1769.0,1808.0,None,2,...,1808-12-31,Conrad,NaN,NaN,0,0,1,0,0,ConradFrederikWillem
67,Régnier,,Claude Ambroise,0,None,,1746.0,1815.0,Adelstitel: duc de Massa 1809.,2,...,1815-12-31,Régnier,NaN,NaN,0,0,1,0,0,RégnierClaudeAmbroise
75,Villiers du Terrage,de,Paul-Étienne,0,None,,1774.0,1858.0,Overig: Devilliers was voordien Commissaire Gé...,2,...,1858-12-31,de Villiers du Terrage,NaN,NaN,0,0,1,0,0,VilliersduTerragedePaulÉtienne
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12578,Meyners,,Gerard François,0,None,,NaN,NaN,None,1,...,None,Meyners,4.0,NaN,0,1,0,0,0,MeynersGerardFrançois
13154,Hove,ten,Nicolaas,0,None,,1611.0,1679.0,None,1,...,1679-10-15,ten Hove,4.0,NaN,0,1,0,0,0,HovetenNicolaas
15276,Hooft,,Daniël,0,None,Vreeland,1741.0,1803.0,Vroedschap: ontslagen op eigen verzoek 1787.,1,...,1803-01-17,Hooft,4.0,NaN,0,1,0,0,0,HooftDaniëlVreeland
15635,Dorp,van,Charles Philips,1,Jonkheer,Maasdam,1659.0,1726.0,Persoonsgegevens: De Blécourt geeft als eindda...,1,...,1726-07-14,van Dorp,NaN,NaN,0,1,0,0,0,DorpvanCharlesPhilipsMaasdam
15698,Zuylen van Nyevelt,van,Jacob,0,None,,1699.0,1753.0,Binnenlandse adelstitels: de verwantschap van ...,1,...,1753-03-28,van Zuylen van Nyevelt,4.0,NaN,0,1,0,0,0,ZuylenvanNyeveltvanJacob

In [229]:
con_dupl.merge(nr, left_on='id_nr', right_on='id', how='left').set_index('id_nr')

,id_wr,geslachtsnaam,tussenvoegsel,voornaam,adel,adelspredikaat,heerlijkheid,geboortejaar,overlijdensjaar,opmerkingen,...,overlijdensdatum,searchable,academischetitel_id,adellijketitel_id,1,2,3,4,5,concat
id_nr,,,,,,,,,,,,,,,,,,,,,
3438.0,342,Brauw,de,Willem Maurits,1.0,jonkheer,,1810.0,1874.0,Adelspredicaat: 1839.,...,1874-01-17,de Brauw,4.0,NaN,0.0,0.0,0.0,1.0,0.0,BrauwdeWillemMaurits
3388.0,369,Sichterman,,Mello,0.0,None,,1804.0,1856.0,None,...,1856-08-07,Sichterman,4.0,NaN,0.0,0.0,0.0,1.0,0.0,SichtermanMello
3587.0,684,Gevers Deynoot,,Willem Theodore,0.0,None,,1767.0,1819.0,None,...,1819-12-24,Gevers Deynoot,4.0,NaN,0.0,0.0,0.0,1.0,0.0,GeversDeynootWillemTheodore
3335.0,777,Poll,van de,Willem Gerrit,1.0,jonkheer,,1763.0,1836.0,Adelspredicaat: 1817.,...,1836-12-19,van de Poll,4.0,NaN,0.0,0.0,0.0,1.0,0.0,PollvandeWillemGerrit
3415.0,794,Boreel,,Willem,1.0,jonkheer,,1800.0,1883.0,Adelspredicaat: 1814.,...,1883-08-24,Boreel,4.0,NaN,0.0,0.0,0.0,1.0,0.0,BoreelWillem
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15635.0,9073,Dorp,van,Charles Philips,1.0,Jonkheer,Maasdam,1659.0,1726.0,Persoonsgegevens: De Blécourt geeft als eindda...,...,1726-07-14,van Dorp,NaN,NaN,0.0,1.0,0.0,0.0,0.0,DorpvanCharlesPhilipsMaasdam
781.0,10206,Hoorn,van,Hendrik Daniël,0.0,None,,1731.0,1802.0,None,...,1802-12-31,van Hoorn,4.0,NaN,0.0,0.0,1.0,0.0,0.0,HoornvanHendrikDaniël
596.0,10398,Goes,Meerman van der,Daniël Adriaan,0.0,None,,1748.0,1805.0,None,...,1805-12-31,Meerman van der Goes,4.0,NaN,0.0,0.0,1.0,0.0,0.0,GoesMeermanvanderDaniëlAdriaan
3709.0,8740,Clé,la,Hendrik Nicolaas,0.0,None,,1741.0,1816.0,None,...,1816-02-17,la Clé,NaN,NaN,0.0,0.0,0.0,1.0,0.0,ClélaHendrikNicolaas
NaN,11741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
len(conc_tot.drop_duplicates())-len(wr)

54

In [195]:
conc_tot

      id_nr  id_wr
0    3235.0      1
1    3236.0      2
2    3238.0      3
3    3239.0      4
4    3240.0      5
..      ...    ...
37      NaN  11741
38   3810.0  11753
39   2647.0  11787
40   2945.0  11828
41  11433.0  12020

[12182 rows x 2 columns]

In [241]:
len(wr.loc[~wr.id.isin(conc_tot['id_wr'])])

42

In [244]:
wr.loc[~wr.id.isin(conc_tot['id_wr'])].to_clipboard(sep='\t')

In [153]:
nr.loc[nr['geslachtsnaam'].str.contains('Baut.?')].sort_values('overlijdensjaar')

,geslachtsnaam,tussenvoegsel,voornaam,adel,adelspredikaat,heerlijkheid,geboortejaar,overlijdensjaar,opmerkingen,periode,...,overlijdensdatum,searchable,academischetitel_id,adellijketitel_id,1,2,3,4,5,concat
11432,Bauté,,François,0,None,,NaN,1694.0,Persoonsgegevens: Nagtglas geeft jaar van over...,1,...,1694-12-31,Bauté,1.0,NaN,0,1,0,0,0,BautéFrançois

In [134]:
nrs = nr.iloc[[382,3708]]

In [163]:
nnrs = pd.read_clipboard()
for c in nnrs.columns:
    nnrs[c] = nnrs[c].astype('float')
 # fields=['nieuw_id','old_id'])

In [164]:
nnrs['id_nieuw'] = nnrs['id_nieuw']+1

In [167]:
nr.loc[nr['id'].isin(nnrs['id_nieuw'])]

,geslachtsnaam,tussenvoegsel,voornaam,adel,adelspredikaat,heerlijkheid,geboortejaar,overlijdensjaar,opmerkingen,periode,...,overlijdensdatum,searchable,academischetitel_id,adellijketitel_id,1,2,3,4,5,concat
143,Bénardière,La,,0,None,,NaN,NaN,None,2,...,None,La Bénardière,NaN,NaN,0,0,1,0,0,BénardièreLa
150,Nantes,de,Antoine François,0,None,,NaN,NaN,None,2,...,None,de Nantes,NaN,NaN,0,0,1,0,0,NantesdeAntoineFrançois
303,Després,,Jean-Baptiste-Denis,0,None,,NaN,NaN,None,2,...,None,Després,NaN,NaN,0,0,1,0,0,DesprésJeanBaptisteDenis
309,Mésangère,,François,0,None,,NaN,NaN,None,2,...,None,Mésangère,NaN,NaN,0,0,1,0,0,MésangèreFrançois
313,Mijné,,A.J.,0,None,,NaN,NaN,None,2,...,None,Mijné,NaN,NaN,0,0,1,0,0,MijnéAJ
2068,Loon,van,Gabriël Hercules,0,None,,NaN,NaN,None,2,...,None,van Loon,NaN,NaN,0,0,1,0,0,LoonvanGabriëlHercules
2270,Monyé,de,A.,0,None,,NaN,NaN,None,2,...,None,de Monyé,NaN,NaN,0,0,1,0,0,MonyédeA
2372,Fallée,,Bernard Antoine,0,None,,NaN,NaN,None,2,...,None,Fallée,NaN,NaN,0,0,1,0,0,FalléeBernardAntoine
2382,Visée,,G.C.,0,None,,NaN,NaN,None,2,...,None,Visée,NaN,NaN,0,0,1,0,0,ViséeGC
2424,Macaré,,Meinard Johan,0,None,,1765.0,NaN,None,2,...,None,Macaré,NaN,NaN,0,0,1,0,0,MacaréMeinardJohan
2646,Perrenoud,,Pierre Frédric,0,None,,1788.0,NaN,None,2,...,None,Perrenoud,NaN,NaN,0,0,1,0,0,PerrenoudPierreFrédric
2933,Oneïdes,,Catharinus,0,None,,NaN,NaN,None,2,...,None,Oneïdes,NaN,NaN,0,0,1,0,0,OneïdesCatharinus
2944,Löwenstein,,A.,0,None,,NaN,NaN,None,2,...,None,Löwenstein,NaN,NaN,0,0,1,0,0,LöwensteinA
3145,Hooft,,Daniël,1,jonkheer,,1788.0,1860.0,Adelspredicaat: 1815.,2,...,1860-12-31,Hooft,4.0,NaN,0,0,1,0,0,HooftDaniël
3708,Clé,la,Hendrik Nicolaas,0,None,,1741.0,1816.0,None,2,...,1816-02-17,la Clé,NaN,NaN,0,0,0,1,0,ClélaHendrikNicolaas
3809,Meyer,,Jonas Daniël,0,None,,1780.0,1834.0,None,2,...,1834-12-06,Meyer,4.0,NaN,0,0,0,1,0,MeyerJonasDaniël
4079,Assenraad,van,Wijnand,0,None,,1764.0,1855.0,None,2,...,1855-12-05,van Assenraad,NaN,NaN,0,0,0,1,0,AssenraadvanWijnand
4367,Virieu,de,Adriaan François,0,None,,1767.0,1838.0,Persoonsgegevens: J.Pzn.,2,...,1838-05-05,de Virieu,NaN,NaN,0,0,0,1,0,VirieudeAdriaanFrançois
4507,Coninck,de,Patrice Charles Ghislain,1,None,,1770.0,1827.0,Adelstitel: 1816.,2,...,1827-05-22,de Coninck,4.0,13.0,0,0,0,1,0,ConinckdePatriceCharlesGhislain
5021,Laclé,,H.N.,0,None,,NaN,1816.0,None,2,...,1816-12-31,Laclé,NaN,NaN,0,0,0,1,0,LacléHN
5561,Macaré,Rethaan,Pieter Johan,0,None,,1762.0,1828.0,None,2,...,1828-12-03,Rethaan Macaré,NaN,NaN,0,0,0,1,0,MacaréRethaanPieterJohan
7905,Baudimont,de,François,0,None,,NaN,NaN,None,9,...,None,de Baudimont,NaN,NaN,0,0,0,0,1,BaudimontdeFrançois
8466,Acronius,van,Isaäc,0,None,,1712.0,1771.0,None,9,...,1771-07-20,van Acronius,NaN,NaN,0,0,0,0,1,AcroniusvanIsaäc
8590,Kempenaer,de,Daniël Livius,0,None,,1713.0,1772.0,Persoonsgegevens: volgens Raad van State 450 j...,9,...,1772-09-27,de Kempenaer,NaN,NaN,0,0,0,0,1,KempenaerdeDaniëlLivius
8609,Lycklama à Nijeholt,,Suffridus,0,None,,1600.0,1645.0,Overig: was grietman van Oost-Stellingwerf 163...,9,...,1645-04-12,Lycklama à Nijeholt,NaN,NaN,0,0,0,0,1,LycklamaàNijeholtSuffridus
8719,Kempenaer,de,Daniël,0,None,,NaN,NaN,None,9,...,None,de Kempenaer,NaN,NaN,0,0,0,0,1,KempenaerdeDaniël
9452,Noordhey,,Daniël,0,None,,1670.0,1721.0,None,1,...,1721-07-05,Noordhey,4.0,NaN,0,1,0,0,0,NoordheyDaniël
9540,Keetlaer,,François,0,None,,1640.0,1718.0,None,1,...,1718-12-22,Keetlaer,4.0,NaN,0,1,0,0,0,KeetlaerFrançois
10553,Fèbre,le,Mahu,0,None,,NaN,NaN,None,1,...,None,le Fèbre,4.0,NaN,0,1,0,0,0,FèbreleMahu
11231,Gallis,,François,0,None,,1714.0,1777.0,None,1,...,1777-07-14,Gallis,1.0,NaN,0,1,0,0,0,GallisFrançois
11432,Bauté,,François,0,None,,NaN,1694.0,Persoonsgegevens: Nagtglas geeft jaar van over...,1,...,1694-12-31,Bauté,1.0,NaN,0,1,0,0,0,BautéFrançois
11926,Cuper van Holthuysen,,François,0,None,,1636.0,1726.0,Persoonsgegevens: Raad van State 450 jr. geeft...,1,...,1726-10-08,Cuper van Holthuysen,4.0,NaN,0,1,0,0,0,CupervanHolthuysenFrançois
15463,Mey,de,François,0,None,"Nieuw-Lekkerland en Limmen, Souburg",1726.0,1797.0,None,1,...,1797-12-31,de Mey,4.0,NaN,0,1,0,0,0,MeydeFrançoisNieuwLekkerlandenLimmenSouburg
15465,Egmond van de Nijenburg,van,Johan Gerritsz.,1,None,Vleuten,1618.0,1712.0,Persoonsgegevens: de adeldom van de familie Va...,1,...,1712-10-26,van Egmond van de Nijenburg,NaN,NaN,0,1,0,0,0,EgmondvandeNijenburgvanJohanGerritszVleuten
15503,Laackeman,,Pieter Pietersz. (de jonge),0,None,,NaN,1653.0,Persoonsgegevens: begraven 18 februari.,1,...,1653-12-31,Laackeman,NaN,NaN,0,1,0,0,0,LaackemanPieterPieterszdejonge
15508,Engel,,Jan Jansz. (de oude),0,None,,NaN,1727.0,Persoonsgegevens: begraven 28 oktober 1727.,1,...,1727-12-31,Engel,NaN,NaN,0,1,0,0,0,EngelJanJanszdeoude

In [168]:
wr.loc[wr['id'].isin(nnrs['id'])]

,id,adel,heerlijkheid,voornaam,tussenvoegsel,geslachtsnaam,searchable_geslachtsnaam,geboortedatum,geboortedatum_als_bekend,geboorteplaats,doopjaar,overlijdensdatum,overlijdensdatum_als_bekend,overlijdensplaats,adellijketitel_id,academischetitel_id,opmerkingen,concat
1274,1275,0,,H.N.,,LaclÃ©,LaclÃ©,NaT,,None,0,1816-12-31,1816,None,NaN,NaN,None,LaclÃHN
1424,1425,0,,Wijnand,van Asch van,Assenraad,van Asch van Assenraad,1764-11-15,15-11-1764,Amersfoort,1,1855-12-05,05-12-1855,Amersfoort,NaN,NaN,None,AssenraadvanAschvanWijnand
5260,5261,0,Nieuw-Lekkerland en Limmen,FranÃ§ois,de,Mey,de Mey,1726-01-01,1726,None,0,1797-12-31,1797,None,NaN,1.0,None,MeydeFranÃoisNieuwLekkerlandenLimmen
5516,5517,0,,,La,BÃ©nardiÃ¨re,La BÃ©nardiÃ¨re,NaT,,None,0,NaT,,None,NaN,NaN,None,BÃnardiÃreLa
5776,5777,0,,FranÃ§ois,,MÃ©sangÃ¨re,MÃ©sangÃ¨re,NaT,,None,0,NaT,,None,NaN,NaN,None,MÃsangÃreFranÃois
6809,6810,0,,Johan Gerritsz.,van,Egmond van de Nijenburg,van Egmond van de Nijenburg,NaT,1618,None,0,1712-12-31,1712,None,NaN,NaN,Vroedschap: ontslagen op eigen verzoek 1687.\r...,EgmondvandeNijenburgvanJohanGerritsz
7869,7870,0,,T.,,SchÃ¶n,SchÃ¶n,NaT,,None,0,NaT,,None,NaN,NaN,None,SchÃnT
7960,7961,0,,Jan,,Buijes,Buijes,NaT,,None,0,NaT,12-02-1614,None,NaN,1.0,"Persoonsgegevens: Hoewel niet geheel zeker, is...",BuijesJan
8479,8480,0,,G.C.,,VisÃ©e,VisÃ©e,NaT,,None,0,NaT,,None,NaN,NaN,None,VisÃeGC
8565,8566,1,,Derk Wolter,van,Lynden,van Lynden,NaT,,None,0,1806-12-31,1806,None,1.0,NaN,None,LyndenvanDerkWolter
8739,8740,0,,H.N.,la,ClÃ©,la ClÃ©,NaT,,None,0,NaT,,None,NaN,NaN,None,ClÃlaHN
9496,9497,0,,Pieter Pietersz.,,Laackeman (de jonge),Laackeman (de jonge),NaT,,None,0,NaT,02-1653,None,NaN,NaN,None,LaackemandejongePieterPietersz
9746,9747,1,,AssuÃ«rus,,Vegelin van Claerbergen,Vegelin van Claerbergen,1687-01-01,1687,None,0,1771-03-13,13-03-1771,None,NaN,NaN,Overig: was grietman van Haskerland 1739-1749.,VegelinvanClaerbergenAssuÃrus
9778,9779,0,,A.J.,,MijnÃ©,MijnÃ©,NaT,,None,0,NaT,,None,NaN,NaN,None,MijnÃAJ
10004,10005,1,Oudkarspel en Koedijk,Cornelis,van,Teylingen,van Teylingen,1692-01-01,1692,None,0,1738-12-31,1738,None,2.0,NaN,Heerlijkheden: volgens Bossaers heerlijkheid H...,TeylingenvanCornelisOudkarspelenKoedijk
10492,10493,0,,DaniÃ«l,,Noordhey,Noordhey,NaT,1670,None,0,1721-07-05,05-07-1721,None,NaN,1.0,None,NoordheyDaniÃl
10696,10697,0,,DaniÃ«l Livius,de,Kempenaer,de Kempenaer,1713-01-01,1713,None,0,1772-09-27,27-09-1772,None,NaN,1.0,Persoonsgegevens: volgens Raad van State 450 j...,KempenaerdeDaniÃlLivius
10724,10725,0,,DaniÃ«l,de,Kempenaer,de Kempenaer,NaT,,None,0,NaT,,None,NaN,NaN,None,KempenaerdeDaniÃl
10782,10783,0,,FranÃ§ois,,Keetlaer,Keetlaer,NaT,1640,None,0,1718-12-22,22-12-1718,None,NaN,1.0,None,KeetlaerFranÃois
10787,10788,0,,FranÃ§ois,de,Baudimont,de Baudimont,NaT,,None,0,NaT,,None,NaN,NaN,None,BaudimontdeFranÃois
10905,10906,0,,Pieter Johan,Rethaan,MacarÃ©,Rethaan MacarÃ©,1762-05-11,11-05-1762,Middelburg,0,1828-12-03,03-12-1828,Middelburg,NaN,NaN,None,MacarÃRethaanPieterJohan
10963,10964,0,,Catharinus,,OneÃ¯des,OneÃ¯des,NaT,,None,0,NaT,,None,NaN,NaN,None,OneÃdesCatharinus
10989,10990,0,,GabriÃ«l Hercules,van,Loon,van Loon,NaT,,None,0,NaT,,None,NaN,NaN,None,LoonvanGabriÃlHercules
11077,11078,1,,DaniÃ«l,,Hooft,Hooft,1788-11-25,25-11-1788,Amsterdam,0,1860-02-18,18-02-1860,Amsterdam,2.0,1.0,Adelspredicaat: 1815.,HooftDaniÃl
11101,11102,0,,Bernard Antoine,,FallÃ©e,FallÃ©e,NaT,,None,0,NaT,,None,NaN,NaN,None,FallÃeBernardAntoine
11104,11105,0,,A.,de,MonyÃ©,de MonyÃ©,NaT,,None,0,NaT,,None,NaN,NaN,None,MonyÃdeA
11122,11123,0,,Meinard Johan,,MacarÃ©,MacarÃ©,1765-01-01,1765,None,0,NaT,,None,NaN,NaN,None,MacarÃMeinardJohan
11193,11194,0,,Patrice-Charles-Ghislain,de,Coninck-Outrive,de Coninck-Outrive,1770-01-01,1770,None,0,1827-12-31,1827,None,NaN,NaN,None,ConinckOutrivedePatriceCharlesGhislain
11235,11236,0,,Jean-Baptiste-Denis,,DesprÃ©s,DesprÃ©s,NaT,,None,0,NaT,,None,NaN,NaN,None,DesprÃsJeanBaptisteDenis
11267,11268,0,,Suffridus,,Lycklama Ã Nijeholt,Lycklama Ã Nijeholt,NaT,1600,None,0,NaT,12-04-1645,None,NaN,NaN,Overig: was grietman van Oost-Stellingwerf 163...,LycklamaÃNijeholtSuffridus
11290,11291,0,,Jan Jansz.,,Engel de Oude,Engel de Oude,NaT,,None,0,1727-10-31,10-1727,None,NaN,NaN,None,EngeldeOudeJanJansz
11399,11400,0,,FranÃ§ois,,Cuper van Holthuysen,Cuper van Holthuysen,NaT,1636,None,0,1726-10-08,08-10-1726,None,NaN,1.0,Persoonsgegevens: Raad van State 450 jr. geeft...,CupervanHolthuysenFranÃois
11406,11407,0,,Adriaan FranÃ§ois,de,Virieu,de Virieu,1767-02-26,26-02-1767,Zaltbommel,1,1838-05-05,05-05-1838,'s-Gravenhage,NaN,NaN,Persoonsgegevens: J.Pzn.,VirieudeAdriaanFranÃois
11417,11418,0,,FranÃ§ois,,Gallis,Gallis,1714-01-01,1714,None,0,1777-07-14,14-07-1777,None,NaN,3.0,None,GallisFranÃois
11515,11516,0,,Mahu,le,FÃ¨bre,le FÃ¨bre,NaT,,None,0,NaT,,None,NaN,1.0,None,FÃbreleMahu
11661,11662,0,,Antoine FranÃ§ois,de,Nantes,de Nantes,NaT,,None,0,NaT,,None,NaN,NaN,None,NantesdeAntoineFranÃois
11688,11689,0,,IsaÃ¤c,van,Acronius,van Acronius,1712-01-01,1712,None,0,1771-07-20,20-07-1771,None,NaN,1.0,None,AcroniusvanIsaÃc
11740,11741,0,,Helene Wolfgang,,VaissiÃ¨re,VaissiÃ¨re,NaT,,None,0,NaT,,None,NaN,1.0,None,VaissiÃreHeleneWolfgang
11752,11753,0,,Jonas DaniÃ«l,,Meyer,Meyer,1780-09-15,15-09-1780,Arnhem,0,1834-12-06,06-12-1834,Amsterdam,NaN,1.0,None,MeyerJonasDaniÃl
11786,11787,0,,Pierre FrÃ©dric,,Perrenoud,Perrenoud,1788-01-01,1788,None,0,NaT,,None,NaN,NaN,None,PerrenoudPierreFrÃdric
11827,11828,0,,A.,,LÃ¶wenstein,LÃ¶wenstein,NaT,,None,0,NaT,,None,NaN,NaN,None,LÃwensteinA
12019,12020,0,,FranÃ§ois,,BautÃ©,BautÃ©,NaT,,None,0,1694-12-31,1694,None,NaN,3.0,Persoonsgegevens: Nagtglas geeft jaar van over...,BautÃFranÃois

In [135]:
nrs[nr.columns[nr.iloc[382] != nr.iloc[3708]]]

,voornaam,adelspredikaat,geboortejaar,overlijdensjaar,opmerkingen,eindcontrole,geboortedag,geboortemaand,doopjaar,geboorteplaats,...,overlijdensmaand,overlijdensplaats,id,geboortedatum,overlijdensdatum,academischetitel_id,adellijketitel_id,3,4,concat
382,H.N.,None,NaN,NaN,None,1.0,NaN,NaN,NaN,None,...,NaN,None,383,None,None,NaN,NaN,1,0,ClélaHN
3708,Hendrik Nicolaas,None,1741.0,1816.0,None,NaN,6.0,5.0,0.0,Haarlem,...,2.0,Groningen,3709,1741-05-06,1816-02-17,NaN,NaN,0,1,ClélaHendrikNicolaas

In [121]:
conc_tot[conc_tot.id_nr.isna()]['id']

NameError: name 'conc_tot' is not defined

In [214]:
conc_tot.sample(20)

         id_nr  id_wr
15964   8209.0   4927
31938  10752.0   9600
19756   8241.0   6060
28626   9942.0   8619
34851  12039.0  10444
16196   2674.0   5000
21809   2744.0   6649
777        NaN   4428
11627   2095.0   3643
32646   2725.0   9815
31014   2632.0   9336
24957   7406.0   7557
2609    4492.0    829
9254    6570.0   2908
6144    5569.0   1911
1470       NaN   9837
15265  10152.0   4722
38314   1465.0  11479
34326  10958.0  10298
37548  10354.0  11241

In [289]:
wr.drop_duplicates()

,id,adel,heerlijkheid,voornaam,tussenvoegsel,geslachtsnaam,searchable_geslachtsnaam,geboortedatum,geboortedatum_als_bekend,geboorteplaats,doopjaar,overlijdensdatum,overlijdensdatum_als_bekend,overlijdensplaats,adellijketitel_id,academischetitel_id,opmerkingen,concat
0,1,1,,Judocus Henricus Antonius Adrianus Josephus Jo...,van der,Heyden,van der Heyden,1765-02-25,25-02-1765,Doetinchem,0,1854-09-19,19-09-1854,Steenderen,1.0,NaN,Adelstitels: baron (Empire) 1813/jonkheer 1815...,HeydenvanderJudocusHenricusAntoniusAdrianusJos...
1,2,1,,Jan,,Slicher,Slicher,1745-07-13,13-07-1745,'s-Gravenhage,0,1815-09-24,24-09-1815,'s-Gravenhage,2.0,1.0,Adelspredicaat: 1815.,SlicherJan
2,3,1,,Jacob Derk,,Sweerts de Landas,Sweerts de Landas,1759-02-28,28-02-1759,Gorinchem,0,1820-03-10,10-03-1820,'s-Gravenhage,1.0,NaN,Adelspredicaat: 1814/adelstitel: 1816.,SweertsdeLandasJacobDerk
3,4,1,,Pieter,van,Akerlaken,van Akerlaken,1792-08-12,12-08-1792,Hoorn,0,1862-09-20,20-09-1862,Hoorn,2.0,1.0,Adelspredicaat: 1843.,AkerlakenvanPieter
4,5,1,,Onno Reint,,Alberda van Ekenstein,Alberda van Ekenstein,1752-02-03,03-02-1752,Groningen,0,1821-10-21,21-10-1821,Tjamsweer,2.0,1.0,Adelspredicaat: 1814.,AlberdavanEkensteinOnnoReint
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12093,12094,0,,Tijman,van,Volbergen,van Volbergen,NaT,1560,None,0,NaT,,None,NaN,NaN,"Persoonsgegevens: leeft nog in augustus 1645, ...",VolbergenvanTijman
12094,12095,0,,Hendrik Georgesz.,d',Acquet,d' Acquet,1692-01-01,1692,None,0,1769-12-22,22-12-1769,None,NaN,1.0,Persoonsgegevens: Algemeen Nederlandsch Famili...,AcquetdHendrikGeorgesz
12095,12096,0,Kijfhoek,Dirck,de,Raedt,de Raedt,NaT,1649,None,0,1706-01-18,18-01-1706,None,NaN,1.0,Buitenlandse adelstitel: Engelse titel 2e baro...,RaedtdeDirckKijfhoek
12096,12097,0,,Pieter,van,Zeeberg,van Zeeberg,NaT,,None,0,1785-12-31,1785,None,NaN,1.0,None,ZeebergvanPieter
12097,12098,0,,Johan Frederik,van,Steelant,van Steelant,1730-01-01,1730,None,0,1785-11-29,29-11-1785,None,NaN,1.0,None,SteelantvanJohanFrederik

In [288]:
nr.drop_duplicates()

,geslachtsnaam,tussenvoegsel,voornaam,adel,adelspredikaat,heerlijkheid,geboortejaar,overlijdensjaar,opmerkingen,periode,...,overlijdensdatum,searchable,academischetitel_id,adellijketitel_id,1,2,3,4,5,concat
0,Röell,,Willem Frederik,1,None,,1767.0,1835.0,Adelspredicaat: 1815/adelstitel: 1819.\r\nOver...,2,...,1835-12-31,Röell,5.0,0.0,0,0,1,0,0,RöellWillemFrederik
1,Mollerus,,Johan Hendrik,1,None,Westkerke en Wulpendaal,1750.0,1834.0,Adelspredicaat: 1816/adelstitel: 1820.\r\nOver...,2,...,1834-12-31,Mollerus,4.0,0.0,0,0,1,0,0,MollerusJohanHendrikWestkerkeenWulpendaal
2,Lodewijk Napoleon,,,0,None,,1778.0,1846.0,None,2,...,1846-12-31,Lodewijk Napoleon,NaN,NaN,0,0,1,0,0,LodewijkNapoleon
3,Crommelin,van Wickevoort,Jan Pieter,0,None,,1763.0,1837.0,None,2,...,1837-12-31,van Wickevoort Crommelin,4.0,NaN,0,0,1,0,0,CrommelinvanWickevoortJanPieter
4,Appelius,,Jean Henry,0,None,,1767.0,1828.0,Overig: na 13 februari 1807 was Appelius zowel...,2,...,1828-12-31,Appelius,4.0,NaN,0,0,1,0,0,AppeliusJeanHenry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15770,"Essen tot Helbergen, Schaffelaer en Abbenbroek",van,Lucas Willem,1,None,"Helbergen en Schaffelaar, Abbenbroek",1739.0,1791.0,Persoonsgegevens: Nederlandsche Leeuw geeft ge...,1,...,1791-09-23,"van Essen tot Helbergen, Schaffelaer en Abbenb...",NaN,NaN,0,1,0,0,0,EssentotHelbergenSchaffelaerenAbbenbroekvanLuc...
15771,Haersolte tot Staveren,van,Antony Frederik Robbert Evert,1,None,Staveren,1756.0,1830.0,Ridderschap: geadmitteerd ad audiendum.,1,...,1830-07-14,van Haersolte tot Staveren,NaN,0.0,0,1,0,0,0,HaersoltetotStaverenvanAntonyFrederikRobbertEv...
15772,Riemsdijck,van,Dirck,0,None,,NaN,1684.0,Persoonsgegevens: overleden voor 17 april 1684.,1,...,1684-12-31,van Riemsdijck,NaN,NaN,0,1,0,0,0,RiemsdijckvanDirck
15773,Teschemaker,,Johan,0,None,,NaN,NaN,Persoonsgegevens: Hormann geeft overlijden 12 ...,1,...,None,Teschemaker,NaN,NaN,0,1,0,0,0,TeschemakerJohan
15774,Drept,van der,Jan Jansz.,0,None,,NaN,NaN,Persoonsgegevens: overleden in de jaren 1650.,1,...,None,van der Drept,NaN,NaN,0,1,0,0,0,DreptvanderJanJansz

In [283]:
nr[nr['geslachtsnaam'].str.contains( 'Macar')] # & nr['voornaam'].str.contains('G.C.')]

,geslachtsnaam,tussenvoegsel,voornaam,adel,adelspredikaat,heerlijkheid,geboortejaar,overlijdensjaar,opmerkingen,periode,...,overlijdensdatum,searchable,academischetitel_id,adellijketitel_id,1,2,3,4,5,concat
2424,Macaré,,Meinard Johan,0,None,,1765.0,NaN,None,2,...,None,Macaré,NaN,NaN,0,0,1,0,0,MacaréMeinardJohan
4481,Macar,de,Marie Charles Ferdinand Balthazar,1,None,,1785.0,1866.0,Adelstitel: 1839.,2,...,1866-03-24,de Macar,4.0,0.0,0,0,0,1,0,MacardeMarieCharlesFerdinandBalthazar
5561,Macaré,Rethaan,Pieter Johan,0,None,,1762.0,1828.0,None,2,...,1828-12-03,Rethaan Macaré,NaN,NaN,0,0,0,1,0,MacaréRethaanPieterJohan
5565,Macaré,Rethaan,Cornelis Anthony,1,jonkheer,,1792.0,1861.0,Adelspredicaat: 1844.,2,...,1861-03-17,Rethaan Macaré,NaN,NaN,0,0,0,1,0,MacaréRethaanCornelisAnthony
11632,Macaré,Rethaan,Pieter Johan,0,None,,1762.0,1828.0,None,1,...,1828-12-03,Rethaan Macaré,NaN,NaN,0,1,0,0,0,MacaréRethaanPieterJohan
18199,Macaré,,Meinard Johan,0,None,,1765.0,NaN,None,2,...,None,Macaré,NaN,NaN,0,0,1,0,0,MacaréMeinardJohan
20256,Macar,de,Marie Charles Ferdinand Balthazar,1,None,,1785.0,1866.0,Adelstitel: 1839.,2,...,1866-03-24,de Macar,4.0,0.0,0,0,0,1,0,MacardeMarieCharlesFerdinandBalthazar
21336,Macaré,Rethaan,Pieter Johan,0,None,,1762.0,1828.0,None,2,...,1828-12-03,Rethaan Macaré,NaN,NaN,0,0,0,1,0,MacaréRethaanPieterJohan
21340,Macaré,Rethaan,Cornelis Anthony,1,jonkheer,,1792.0,1861.0,Adelspredicaat: 1844.,2,...,1861-03-17,Rethaan Macaré,NaN,NaN,0,0,0,1,0,MacaréRethaanCornelisAnthony
27407,Macaré,Rethaan,Pieter Johan,0,None,,1762.0,1828.0,None,1,...,1828-12-03,Rethaan Macaré,NaN,NaN,0,1,0,0,0,MacaréRethaanPieterJohan
33974,Macaré,,Meinard Johan,0,None,,1765.0,NaN,None,2,...,None,Macaré,NaN,NaN,0,0,1,0,0,MacaréMeinardJohan
36031,Macar,de,Marie Charles Ferdinand Balthazar,1,None,,1785.0,1866.0,Adelstitel: 1839.,2,...,1866-03-24,de Macar,4.0,0.0,0,0,0,1,0,MacardeMarieCharlesFerdinandBalthazar
37111,Macaré,Rethaan,Pieter Johan,0,None,,1762.0,1828.0,None,2,...,1828-12-03,Rethaan Macaré,NaN,NaN,0,0,0,1,0,MacaréRethaanPieterJohan
37115,Macaré,Rethaan,Cornelis Anthony,1,jonkheer,,1792.0,1861.0,Adelspredicaat: 1844.,2,...,1861-03-17,Rethaan Macaré,NaN,NaN,0,0,0,1,0,MacaréRethaanCornelisAnthony
43182,Macaré,Rethaan,Pieter Johan,0,None,,1762.0,1828.0,None,1,...,1828-12-03,Rethaan Macaré,NaN,NaN,0,1,0,0,0,MacaréRethaanPieterJohan

In [122]:
newdf =  pd.read_sql_table(con="mysql+pymysql://rik:X0chi@localhost/raa_new", table_name='persoon')

In [123]:
newdf.columns

Index(['id', 'adel', 'heerlijkheid', 'voornaam', 'tussenvoegsel',
       'geslachtsnaam', 'geboortedatum', 'geboortedatum_als_bekend',
       'geboorteplaats', 'doopjaar', 'overlijdensdatum',
       'overlijdensdatum_als_bekend', 'overlijdensplaats', 'adellijketitel_id',
       'academischetitel_id', 'opmerkingen', 'adelspredikaat', 'eindcontrole',
       'geboortedag', 'geboortejaar', 'geboortemaand',
       'old_idacademischetitel', 'old_idadellijketitel', 'old_idregent',
       'overlijdensdag', 'overlijdensjaar', 'overlijdensmaand', 'periode',
       'searchable'],
      dtype='object')

In [129]:
nrrep = nr.loc[nr.republiek==1]

In [131]:
nrrep[colk]

,geslachtsnaam,tussenvoegsel,voornaam,heerlijkheid
8832,Fremery,de,Nicolaas,
8833,Thilenius,,Jan Abraham,
8834,Meer,van der,Jacob,Hoogeveen
8835,Josselet,,Coenraad Hendriksz.,
8836,Bas,de,Lodewijk,Horstermeer
...,...,...,...,...
15770,"Essen tot Helbergen, Schaffelaer en Abbenbroek",van,Lucas Willem,"Helbergen en Schaffelaar, Abbenbroek"
15771,Haersolte tot Staveren,van,Antony Frederik Robbert Evert,Staveren
15772,Riemsdijck,van,Dirck,
15773,Teschemaker,,Johan,
15774,Drept,van der,Jan Jansz.,

In [138]:
pd.read_csv('./mdbdump/republiek_Regent.csv', sep='\t')

,Unnamed: 0,IDRegent,Geslachtsnaam,Tussenvoegsel,IDAdellijkeTitel,IDAcademischeTitel,Voornaam,Adel,Adelspredikaat,Heerlijkheid,Heerlijkheid2,Geboortejaar,OnbepaaldGeboortedatum,Overlijdensjaar,OnbepaaldOverlijdensdatum,Opmerkingen,Opmerkingen2,Periode,overlijdensdag,overlijdensmaand
0,0,23,Fremery,de,1.0,NaN,Nicolaas,0,NaN,NaN,NaN,1719.0,0,1784.0,0,NaN,NaN,1,NaN,NaN
1,1,24,Thilenius,NaN,1.0,4.0,Jan Abraham,0,NaN,NaN,NaN,1698.0,0,1754.0,0,NaN,NaN,1,4.0,4.0
2,2,25,Meer,van der,1.0,4.0,Jacob,0,NaN,Hoogeveen,NaN,1696.0,0,1755.0,0,NaN,NaN,1,8.0,5.0
3,3,26,Josselet,NaN,1.0,NaN,Coenraad Hendriksz.,0,NaN,NaN,NaN,1710.0,1,1783.0,0,NaN,NaN,1,17.0,9.0
4,4,27,Bas,de,1.0,NaN,Lodewijk,0,NaN,Horstermeer,NaN,1691.0,0,1756.0,0,NaN,NaN,1,16.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6938,6938,4674,"Essen tot Helbergen, Schaffelaer en Abbenbroek",van,1.0,7.0,Lucas Willem,1,NaN,Helbergen,"Schaffelaar, Abbenbroek",1739.0,0,1791.0,0,Persoonsgegevens: Nederlandsche Leeuw geeft ge...,NaN,1,23.0,9.0
6939,6939,4895,Haersolte tot Staveren,van,3.0,7.0,Antony Frederik Robbert Evert,1,NaN,Staveren,NaN,1756.0,0,1830.0,0,Ridderschap: geadmitteerd ad audiendum.,NaN,1,14.0,7.0
6940,6940,4909,Riemsdijck,van,1.0,7.0,Dirck,0,NaN,NaN,NaN,NaN,0,1684.0,0,Persoonsgegevens: overleden voor 17 april 1684.,NaN,1,NaN,NaN
6941,6941,6632,Teschemaker,NaN,1.0,7.0,Johan,0,NaN,NaN,NaN,NaN,0,NaN,0,Persoonsgegevens: Hormann geeft overlijden 12 ...,NaN,1,NaN,NaN
6942,6942,1348,Drept,van der,1.0,NaN,Jan Jansz.,0,NaN,NaN,NaN,NaN,0,NaN,0,Persoonsgegevens: overleden in de jaren 1650.,NaN,1,NaN,NaN

In [139]:
newdfrep = newdf.loc[newdf.old_idregent.str.contains('repu')]

In [143]:
newdfrep['was_idregent'] = newdfrep.old_idregent.str.split('_', expand=True)[1]

In [146]:
newdfrep['was_idregent'] = newdfrep.was_idregent.astype('Int64')

In [147]:
with open('./concordance_files/mapping_tables.json','r') as mt:
    refs = json.load(mt)

In [154]:
newdfrep['pid'] = newdfrep.old_idregent.map(refs['persoon'])
newdfrep['pid'] = newdfrep['pid'].astype('Int64')

In [155]:
newdfrep[['id','pid','old_idregent']]

          id    pid    old_idregent
13343  13344  15557    republiek_22
13344  13345   8832    republiek_23
13345  13346   8833    republiek_24
13346  13347   8834    republiek_25
13347  13348   8835    republiek_26
...      ...    ...             ...
19998  19999  15048  republiek_6308
19999  20000  15049  republiek_6729
20000  20001  15053  republiek_5834
20001  20002  15054  republiek_5762
20002  20003  15061  republiek_4579

[6660 rows x 3 columns]

In [156]:
newdfrep[['id','pid','old_idregent']].to_csv('./concordance_files/new_new.csv',sep='\t')

In [127]:
r[colk]

,geslachtsnaam,tussenvoegsel,voornaam,heerlijkheid
0,Röell,,Willem Frederik,
1,Mollerus,,Johan Hendrik,Westkerke en Wulpendaal
2,Lodewijk Napoleon,,None,
3,Crommelin,van Wickevoort,Jan Pieter,
4,Appelius,,Jean Henry,
...,...,...,...,...
19998,Reede,van,Godert Adriaan,Herreveld
19999,Wijnbergen,van,Sijwert,Oldenaller en Horssen
20000,Arnhem tot Harselo,van,Johan,Rosendael
20001,Arnhem,van,Robbert,Rosendael
20002,Haersolte tot Yrst,van,Willem,

In [125]:
colk = ['geslachtsnaam','tussenvoegsel','voornaam','heerlijkheid']

In [126]:
for r in [newdf]:
    r['concat'] = r[colk].fillna('').agg(''.join,axis=1)
    r['concat'] = r['concat'].str.replace('\W','',regex=True)

In [327]:
cols = ['voornaam', 'tussenvoegsel',
       'geslachtsnaam', 'geboortejaar',
       'geboorteplaats', 'overlijdensjaar',
       ]

In [211]:
for c in ['geboortejaar','overlijdensjaar']:
    newdf[c] = newdf[c].astype(float, errors='ignore')

In [330]:
concak_nw = newdf.merge(nr, left_on='concat', right_on='concat')

In [340]:
len(concak_nw.drop_duplicates('concat'))

13343

In [359]:
no_concat_nr = nr.loc[~nr['concat'].isin(newdf['concat'])]

In [369]:
no_concat_nr.loc[nr['2']==1].to_clipboard(sep='\t')

In [361]:
no_concat_nw = newdf.loc[~newdf['concat'].isin(nr['concat'])]

In [368]:
no_concat_nw[no_concat_nw.old_idregent.str.contains('republiek')].to_clipboard()

In [348]:
cc = ['id_y'] + list(concak_nw.columns)

In [349]:
concak_nw.loc[concak_nw['2']==1][cc]

,id_y,id_x,adel_x,heerlijkheid_x,voornaam_x,tussenvoegsel_x,geslachtsnaam_x,geboortedatum_x,geboortedatum_als_bekend,geboorteplaats_x,...,geboortedatum_y,overlijdensdatum_y,searchable_y,academischetitel_id_y,adellijketitel_id_y,1,2,3,4,5
3,9574,2,1,Westkerke en Wulpendaal,Johan Hendrik,,Mollerus,1750-01-01,None,None,...,1750-01-01,1834-06-22,Mollerus,4.0,0.0,0,1,0,0,0
19,9117,11,1,Raaphorst en Rozenburg,Adriaan Pieter,,Twent van Raephorst,1745-01-01,None,None,...,1745-01-01,1816-12-31,Twent van Raephorst,4.0,4.0,0,1,0,0,0
36,10857,21,1,,Paulus,van der,Heim,1753-01-01,None,None,...,1753-01-01,1823-04-06,van der Heim,4.0,NaN,0,1,0,0,0
39,9041,22,0,,Willem Carel,,Vosmaer,1749-01-01,None,None,...,1749-01-01,1818-10-22,Vosmaer,4.0,NaN,0,1,0,0,0
51,8854,30,1,Dalem en Vuren,Johan,,Meerman van Dalem,1753-01-01,None,None,...,1753-01-01,1815-12-31,Meerman van Dalem,4.0,4.0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17387,15049,19999,0,Herreveld,Godert Adriaan,van,Reede,NaT,None,None,...,1674-01-01,1730-05-02,van Reede,NaN,NaN,0,1,0,0,0
17388,15054,20001,0,Rosendael,Johan,van,Arnhem tot Harselo,NaT,None,None,...,1636-01-01,1716-12-12,van Arnhem tot Harselo,NaN,NaN,0,1,0,0,0
17389,15055,20002,0,Rosendael,Robbert,van,Arnhem,NaT,None,None,...,1596-01-01,1649-09-06,van Arnhem,NaN,NaN,0,1,0,0,0
17390,12906,20003,0,,Willem,van,Haersolte tot Yrst,NaT,None,None,...,1718-01-01,1791-07-17,van Haersolte tot Yrst,NaN,0.0,0,1,0,0,0
17391,15062,20003,0,,Willem,van,Haersolte tot Yrst,NaT,None,None,...,1644-01-01,1728-07-01,van Haersolte tot Yrst,NaN,NaN,0,1,0,0,0

In [343]:
concak_nw.loc[concak_nw['2']==1][['id_x','id_y']]

        id_x   id_y
3          2   9574
19        11   9117
36        21  10857
39        22   9041
51        30   8854
...      ...    ...
17387  19999  15049
17388  20001  15054
17389  20002  15055
17390  20003  12906
17391  20003  15062

[7277 rows x 2 columns]

In [335]:
len(newdf)-len(nr)

4228

In [336]:
concak_nw

,id_x,adel_x,heerlijkheid_x,voornaam_x,tussenvoegsel_x,geslachtsnaam_x,geboortedatum_x,geboortedatum_als_bekend,geboorteplaats_x,doopjaar_x,...,geboortedatum_y,overlijdensdatum_y,searchable_y,academischetitel_id_y,adellijketitel_id_y,1,2,3,4,5
0,1,1,,Willem Frederik,,Röell,1767-01-01,None,None,NaN,...,1767-01-01,1835-12-31,Röell,5.0,0.0,0,0,1,0,0
1,1,1,,Willem Frederik,,Röell,1767-01-01,None,None,NaN,...,1767-10-25,1835-01-03,Röell,5.0,0.0,0,0,0,1,0
2,2,1,Westkerke en Wulpendaal,Johan Hendrik,,Mollerus,1750-01-01,None,None,NaN,...,1750-01-01,1834-12-31,Mollerus,4.0,0.0,0,0,1,0,0
3,2,1,Westkerke en Wulpendaal,Johan Hendrik,,Mollerus,1750-01-01,None,None,NaN,...,1750-01-01,1834-06-22,Mollerus,4.0,0.0,0,1,0,0,0
4,3,0,,None,,Lodewijk Napoleon,1778-01-01,None,None,NaN,...,1778-01-01,1846-12-31,Lodewijk Napoleon,NaN,NaN,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17387,19999,0,Herreveld,Godert Adriaan,van,Reede,NaT,None,None,NaN,...,1674-01-01,1730-05-02,van Reede,NaN,NaN,0,1,0,0,0
17388,20001,0,Rosendael,Johan,van,Arnhem tot Harselo,NaT,None,None,NaN,...,1636-01-01,1716-12-12,van Arnhem tot Harselo,NaN,NaN,0,1,0,0,0
17389,20002,0,Rosendael,Robbert,van,Arnhem,NaT,None,None,NaN,...,1596-01-01,1649-09-06,van Arnhem,NaN,NaN,0,1,0,0,0
17390,20003,0,,Willem,van,Haersolte tot Yrst,NaT,None,None,NaN,...,1718-01-01,1791-07-17,van Haersolte tot Yrst,NaN,0.0,0,1,0,0,0
17391,20003,0,,Willem,van,Haersolte tot Yrst,NaT,None,None,NaN,...,1644-01-01,1728-07-01,van Haersolte tot Yrst,NaN,NaN,0,1,0,0,0

In [320]:
concok_nw = concak_nw[['id_x', 'id_y']]

In [321]:
len(concok_nw)

108

In [319]:
concor_nw = concat_nw[['id_x', 'id_y']]

20003

In [213]:
concat_nw = newdf.merge(nr, left_on=cols, right_on=cols)

In [215]:
concor_nw = concat_nw[['id_x', 'id_y']]

In [216]:
concor_nw

        id_x   id_y
0          1      1
1          2      2
2          2   9574
3          4      4
4          5      5
...      ...    ...
14634  19999  15049
14635  20000  15050
14636  20001  15054
14637  20002  15055
14638  20003  15062

[14639 rows x 2 columns]

In [ ]:
read_

In [295]:
nr.columns

Index(['geslachtsnaam', 'tussenvoegsel', 'voornaam', 'adel', 'adelspredikaat',
       'heerlijkheid', 'geboortejaar', 'overlijdensjaar', 'opmerkingen',
       'periode', 'eindcontrole', 'geboortedag', 'geboortemaand', 'doopjaar',
       'geboorteplaats', 'overlijdensdag', 'overlijdensmaand',
       'overlijdensplaats', 'id', 'geboortedatum', 'overlijdensdatum',
       'searchable', 'academischetitel_id', 'adellijketitel_id', '1', '2', '3',
       '4', '5', 'concat'],
      dtype='object')

In [300]:
nr.loc[~nr.id.isin(concor_nw.id_y) & nr['2']==1]

,geslachtsnaam,tussenvoegsel,voornaam,adel,adelspredikaat,heerlijkheid,geboortejaar,overlijdensjaar,opmerkingen,periode,...,overlijdensdatum,searchable,academischetitel_id,adellijketitel_id,1,2,3,4,5,concat
9836,Commersteyn,,Jacob,0,None,,1620.0,1708.0,Persoonsgegevens: De Jager geeft overlijden 17...,1,...,1708-12-31,Commersteyn,4.0,NaN,0,1,0,0,0,CommersteynJacob
10613,Gruyter,de,Bartholomeus,0,None,,NaN,NaN,None,1,...,None,de Gruyter,NaN,NaN,0,1,0,0,0,GruyterdeBartholomeus
10724,Schatter,,Mattheus,0,None,,1624.0,1695.0,None,1,...,1695-12-31,Schatter,NaN,NaN,0,1,0,0,0,SchatterMattheus
12445,Essenius,,Leonard,0,None,,1676.0,1748.0,None,1,...,1748-02-14,Essenius,1.0,NaN,0,1,0,0,0,EsseniusLeonard
12716,Does,van der,J.,0,None,,NaN,NaN,None,1,...,None,van der Does,NaN,NaN,0,1,0,0,0,DoesvanderJ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15768,"Haersolte tot Elsen, Bredenhorst, Staverden en...",van,Coenraad Willem,1,None,"Elsen en Bredenhorst, Staverden en Zwaluwenborg",1727.0,1799.0,Heerlijkheden/adellijke huizen: verwerving Els...,1,...,1799-08-24,"van Haersolte tot Elsen, Bredenhorst, Staverde...",NaN,0.0,0,1,0,0,0,HaersoltetotElsenBredenhorstStaverdenenZwaluwe...
15769,Lynden tot Onsteyn en Lantfort,van,Heilwig Derk,1,None,Onsteyn en Lantfort,1737.0,1782.0,None,1,...,1782-04-14,van Lynden tot Onsteyn en Lantfort,NaN,NaN,0,1,0,0,0,LyndentotOnsteynenLantfortvanHeilwigDerkOnstey...
15771,Haersolte tot Staveren,van,Antony Frederik Robbert Evert,1,None,Staveren,1756.0,1830.0,Ridderschap: geadmitteerd ad audiendum.,1,...,1830-07-14,van Haersolte tot Staveren,NaN,0.0,0,1,0,0,0,HaersoltetotStaverenvanAntonyFrederikRobbertEv...
15772,Riemsdijck,van,Dirck,0,None,,NaN,1684.0,Persoonsgegevens: overleden voor 17 april 1684.,1,...,1684-12-31,van Riemsdijck,NaN,NaN,0,1,0,0,0,RiemsdijckvanDirck
15773,Teschemaker,,Johan,0,None,,NaN,NaN,Persoonsgegevens: Hormann geeft overlijden 12 ...,1,...,None,Teschemaker,NaN,NaN,0,1,0,0,0,TeschemakerJohan

In [217]:
%mkdir concordance_files

In [219]:
concor_nw.to_parquet('./concordance_files/new_dbs_concordance.parquet')

In [222]:
conc_tot.to_parquet('./concordance_files/old_new_concordance.parquet')

In [289]:
nr.loc[nr.concat=='BisschopJ']

,geslachtsnaam,tussenvoegsel,voornaam,adel,adelspredikaat,heerlijkheid,geboortejaar,overlijdensjaar,opmerkingen,periode,...,overlijdensdatum,searchable,academischetitel_id,adellijketitel_id,1,2,3,4,5,concat
2379,Bisschop,,J.,0,None,,NaN,NaN,None,2,...,None,Bisschop,NaN,NaN,0,0,1,0,0,BisschopJ
2490,Bisschop,,J.,0,None,,NaN,NaN,None,2,...,None,Bisschop,NaN,NaN,0,0,1,0,0,BisschopJ