In [1]:
# this is for auto reloading changed python scripts
%load_ext autoreload
%autoreload 2

# leave this for checking. Change cell type to python to execute
# Note that unixodbc needs to be installed on the OS 
# with MacOS I did brew install unixodbc
# there is also a dependency on sqlalchemy

import sys
!{sys.executable} -m pip install pyodbc pandas_access

# Convert Access databases

This notebook is purely for pulling the original MSAccess database files of the Repertory of Officeholders. Note that they should be re-imported from their original location on the HuC storage files if there are changes in the original. The location of the files is in original/brondata.

The resulting tables will be put in a mdbdump directory. There is also code to input them into a mysql database.

In [30]:
import os
os.listdir('./original/brondata')

['BatFra',
 'Negentiende eeuw',
 'Dubbelen',
 '.DS_Store',
 'ME',
 'DivPerioden',
 'Republiek']

In [31]:
mdbbasedir = "./original/brondata"

In [32]:
import os
import pyodbc
import pandas as pd
import numpy as np
import pandas_access as mdb
import sqlalchemy

In [33]:
def my_conv(x):
    try:
        return pd.Period(x, freq="D")
    except ValueError:
        pass

In [34]:
import datetime

def datestdtojd (stddate):
    fmt='%Y-%m-%d'
    sdtdate = datetime.datetime.strptime(stddate, fmt)
    print (sdtdate)
    sdtdate = sdtdate.timetuple()
    print(sdtdate)
    jdate = sdtdate.tm_yday
    
    return(jdate)

database_path = mdbfile
import sys, subprocess, os
from io import StringIO
import pandas as pd
VERBOSE = True
def mdb_to_pandas(database_path):
    subprocess.call(["mdb-schema", database_path, "mysql"])
    # Get the list of table names with "mdb-tables"
    table_names = subprocess.Popen(["mdb-tables", "-1", database_path],
                                   stdout=subprocess.PIPE).communicate()[0]
    tables = table_names.splitlines()
    sys.stdout.flush()
    # Dump each table as a stringio using "mdb-export",
    out_tables = {}
    for rtable in tables:
        table = rtable.decode()
        if VERBOSE: print('running table:',table)
        if table != '':
            if VERBOSE: print("Dumping " + table)
            contents = subprocess.Popen(["mdb-export", database_path, table],
                                        stdout=subprocess.PIPE).communicate()[0]
            temp_io = StringIO(contents.decode())
            print(table, temp_io)
            out_tables[table] = pd.read_csv(temp_io)
    return out_tables

In [52]:
import json
with open('connection.json','r') as infl:
    con = json.load(infl)
    
connection_string = con['raa_old']

In [53]:
import sys, subprocess, os
from io import StringIO
import pandas as pd
VERBOSE = True

from sqlalchemy import create_engine, inspect
from sqlalchemy.schema import CreateSchema

engine = create_engine(connection_string, echo=False)

In [51]:
pip install sqlalchemy_utils

Collecting sqlalchemy_utils
  Downloading SQLAlchemy_Utils-0.41.1-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: SQLAlchemy>=1.3 in /Users/rikhoekstra/.local/share/virtualenvs/republic-project-Av06XlOZ/lib/python3.8/site-packages (from sqlalchemy_utils) (1.4.25)
Requirement already satisfied: greenlet!=0.4.17 in /Users/rikhoekstra/.local/share/virtualenvs/republic-project-Av06XlOZ/lib/python3.8/site-packages (from SQLAlchemy>=1.3->sqlalchemy_utils) (1.1.2)
Downloading SQLAlchemy_Utils-0.41.1-py3-none-any.whl (92 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.6/92.6 kB 1.1 MB/s eta 0:00:00a 0:00:01
Installing collected packages: sqlalchemy_utils
Successfully installed sqlalchemy_utils-0.41.1

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [54]:
#from https://stackoverflow.com/questions/50927740/sqlalchemy-create-schema-if-not-exists
from sqlalchemy_utils.functions import database_exists, create_database

if not database_exists(connection_string):
    create_database(connection_string)

In [55]:
def mdb_to_sql(engine, database_path, prefix='',basedir='.'):
    """via pandas"""
    subprocess.call(["mdb-schema", database_path, "mysql"])
    # Get the list of table names with "mdb-tables"
    table_names = subprocess.Popen(["mdb-tables", "-1", database_path],
                                   stdout=subprocess.PIPE).communicate()[0]
    tables = table_names.splitlines()
    sys.stdout.flush()
    # Dump each table as a stringio using "mdb-export",
    out_tables = {}
    prefix = prefix.replace(' ', '_') + '_'
    for rtable in tables:
        table = rtable.decode()
        if VERBOSE: print('running table:',table)
        if table != '':
            tname = prefix+table
            if VERBOSE: print("Dumping " + table)
            contents = subprocess.Popen(["mdb-export", database_path, table],
                                        stdout=subprocess.PIPE).communicate()[0]
            temp_io = StringIO(contents.decode("utf8")) # not f*cking latin1
            #print(table, temp_io)
            table = pd.read_csv(temp_io)
            try:
                table.to_sql(con=engine, name=tname, index=False, if_exists="replace")
                t_out_name = os.path.join(basedir,'mdbdump',tname)+'.csv'
                print('outfile', t_out_name)
                table.to_csv(t_out_name,sep="\t")
                print ("written: ", tname)
                done.append(tname)
            except:
                print('fout', tname)
                # table.to_sql(con=engine, name=tname, index=False, if_exists="replace")
                # t_out_name = os.path.join(basedir,'mdbdump',tname)+'.csv'
                # table.to_csv(t_out_name,sep="\t")

In [56]:
# this writes the original tables to a mysql database and to tables on a file system
# presumably it retains the data types better than the csvs
# basedir = "/Users/rikhoekstra/PycharmProjects/nw_raa/convert_raa/original/brondata/"
print ("writing to {}")
mdbs = [f for f in os.listdir(mdbbasedir) if f!='.DS_Store']
for dr in mdbs:
    mdb = os.path.join(mdbbasedir, f"{dr}/Regent-t.mdb")
    rep = mdb_to_sql(engine, database_path=mdb, prefix=dr.lower())

writing to {}
-- ----------------------------------------------------------
-- MDB Tools - A library for reading MS Access database files
-- Copyright (C) 2000-2011 Brian Bruns and others.
-- Files in libmdb are licensed under LGPL and the utilities under
-- the GPL, see COPYING.LIB and COPYING files respectively.
-- Check out http://mdbtools.sourceforge.net
-- ----------------------------------------------------------

-- That file uses encoding UTF-8

CREATE TABLE `AcademischeTitel`
 (
	`IDAcademischeTitel`			int not null auto_increment unique,
	`AcademischeTitel`			varchar (20)
);

-- CREATE INDEXES ...
ALTER TABLE `AcademischeTitel` ADD INDEX `ID AcademischeTitel` (`IDAcademischeTitel`);
ALTER TABLE `AcademischeTitel` ADD PRIMARY KEY (`IDAcademischeTitel`);

CREATE TABLE `AdellijkeTitel`
 (
	`IDAdellijkeTitel`			int not null auto_increment unique,
	`AdellijkeTitel`			varchar (20)
);

-- CREATE INDEXES ...
ALTER TABLE `AdellijkeTitel` ADD INDEX `ID AdellijkeTitel` (`IDAdellijkeTitel`);
ALTER TABLE `AdellijkeTitel` ADD PRIMARY KEY (`IDAdellijkeTitel`);

CREATE TABLE `aliassen`
 (
	`alias`			varchar (255),
	`IDPersoon`			int
);

-- CREATE INDEXES ...

CREATE TABLE `Bron`
 (
	`IDBron`			int not null auto_increment unique,
	`Bron`			varchar (255),
	`Periode`			int
);

-- CREATE INDEXES ...
ALTER TABLE `Bron` ADD INDEX `ID Bron` (`IDBron`);
ALTER TABLE `Bron` ADD PRIMARY KEY (`IDBron`);

CREATE TABLE `BronFunctieDetails`
 (
	`IDBron`			int,
	`IDBovenLokaalCollegeRegentDetails`			int
);

-- CREATE INDEXES ...
ALTER TABLE `BronFunctieDetails` ADD INDEX `IDBovenLokaalCollegeRegentDetails` (`IDBovenLokaalCollegeRegentDetails`);
ALTER TABLE `BronFunctieDetails` ADD INDEX `IDBron` (`IDBron`);
ALTER TABLE `BronFunctieDetails` ADD PRIMARY KEY (`IDBron`, `IDBovenLokaalCollegeRegentDetails`);

CREATE TABLE `BronRegentDetails`
 (
	`IDRegent`			int,
	`IDBron`			int,
	`deel en paginanummer`			varchar (255)
);

-- CREATE INDEXES ...
ALTER TABLE `BronRegentDetails` ADD INDEX `ID Bron` (`IDBron`);
ALTER TABLE `BronRegentDetails` ADD INDEX `ID Regent` (`IDRegent`);
ALTER TABLE `BronRegentDetails` ADD PRIMARY KEY (`IDRegent`, `IDBron`);

CREATE TABLE `College`
 (
	`IDCollege`			int not null auto_increment unique,
	`Periode`			int,
	`College`			varchar (200),
	`VolgnummerBasiscollege`			int,
	`Basis`			boolean NOT NULL,
	`Id`			int
);

-- CREATE INDEXES ...
ALTER TABLE `College` ADD INDEX `BasisCollege` (`Basis`, `College`);
ALTER TABLE `College` ADD INDEX `College` (`College`);
ALTER TABLE `College` ADD INDEX `CollegeIDCollege` (`IDCollege`);
ALTER TABLE `College` ADD PRIMARY KEY (`IDCollege`, `Periode`);

CREATE TABLE `Data`
 (
	`ID`			int not null auto_increment unique,
	`Periode`			int,
	`IDRegent`			int,
	`IDFunctie`			int,
	`IDCollege`			int,
	`Begindag`			varchar (2),
	`Beginmaand`			varchar (2),
	`Beginjaar`			varchar (4),
	`Einddag`			varchar (2),
	`Eindmaand`			varchar (2),
	`Eindjaar`			varchar (4),
	`Vertegenwoordigend`			boolean NOT NULL
);

-- CREATE INDEXES ...
ALTER TABLE `Data` ADD INDEX `ID BovenLokaalCollege` (`IDCollege`);
ALTER TABLE `Data` ADD INDEX `ID Functie` (`IDFunctie`);
ALTER TABLE `Data` ADD INDEX `ID Regent` (`IDRegent`);
ALTER TABLE `Data` ADD PRIMARY KEY (`ID`, `Periode`);

CREATE TABLE `Functie`
 (
	`IDFunctie`			int not null auto_increment unique,
	`Periode`			int,
	`Functie`			varchar (255),
	`Volgnummer`			int,
	`Lokaal`			boolean NOT NULL,
	`Id`			int
);

-- CREATE INDEXES ...
ALTER TABLE `Functie` ADD INDEX `FunctieIDFunctie` (`IDFunctie`);
ALTER TABLE `Functie` ADD INDEX `LokaalFunctie` (`Lokaal`, `Functie`);
ALTER TABLE `Functie` ADD PRIMARY KEY (`IDFunctie`, `Periode`);

CREATE TABLE `FunctieBovenLokaal`
 (
	`ID FunctieBovenLokaal`			int not null auto_increment unique,
	`FunctieBovenLokaal`			varchar (50),
	`Volgnummer`			int
);

-- CREATE INDEXES ...
ALTER TABLE `FunctieBovenLokaal` ADD PRIMARY KEY (`ID FunctieBovenLokaal`);

CREATE TABLE `FunctieLokaal`
 (
	`ID FunctieLokaal`			int not null auto_increment unique,
	`FunctieLokaal`			varchar (75)
);

-- CREATE INDEXES ...
ALTER TABLE `FunctieLokaal` ADD PRIMARY KEY (`ID FunctieLokaal`);

CREATE TABLE `lokaal`
 (
	`IDlokaal`			int not null auto_increment unique,
	`lokaal`			varchar (100),
	`volgnummer`			int
);

-- CREATE INDEXES ...
ALTER TABLE `lokaal` ADD INDEX `ID Gewest` (`IDlokaal`);
ALTER TABLE `lokaal` ADD PRIMARY KEY (`IDlokaal`);

CREATE TABLE `provinciaal`
 (
	`IDprovincie`			int not null auto_increment unique,
	`provincie`			varchar (20),
	`volgnummer`			varchar (50)
);

-- CREATE INDEXES ...
ALTER TABLE `provinciaal` ADD INDEX `ID Gewest` (`IDprovincie`);
ALTER TABLE `provinciaal` ADD PRIMARY KEY (`IDprovincie`);

CREATE TABLE `Regent`
 (
	`IDRegent`			int not null auto_increment unique,
	`Geslachtsnaam`			varchar (100),
	`Tussenvoegsel`			varchar (30),
	`IDAdellijkeTitel`			int,
	`IDAcademischeTitel`			int,
	`Voornaam`			varchar (100),
	`Adel`			boolean NOT NULL,
	`Adelspredikaat`			varchar (10),
	`Heerlijkheid`			varchar (255),
	`Heerlijkheid2`			varchar (255),
	`Geboortejaar`			int,
	`OnbepaaldGeboortedatum`			boolean NOT NULL,
	`Overlijdensjaar`			int,
	`OnbepaaldOverlijdensdatum`			boolean NOT NULL,
	`Opmerkingen`			text,
	`Periode`			int,
	`Eindcontrole`			boolean NOT NULL
);

-- CREATE INDEXES ...
ALTER TABLE `Regent` ADD INDEX `Geboortejaar` (`Geboortejaar`);
ALTER TABLE `Regent` ADD INDEX `Geslachtsnaam` (`Geslachtsnaam`);
ALTER TABLE `Regent` ADD INDEX `Heerlijkheid` (`Heerlijkheid`);
ALTER TABLE `Regent` ADD INDEX `ID AcademischeTitel` (`IDAcademischeTitel`);
ALTER TABLE `Regent` ADD INDEX `ID AdellijkeTitel` (`IDAdellijkeTitel`);
ALTER TABLE `Regent` ADD INDEX `ID Regent` (`IDRegent`);
ALTER TABLE `Regent` ADD PRIMARY KEY (`IDRegent`);

CREATE TABLE `regionaal`
 (
	`IDregio`			int not null auto_increment unique,
	`regio`			varchar (100),
	`volgnummer`			int
);

-- CREATE INDEXES ...
ALTER TABLE `regionaal` ADD INDEX `ID Gewest` (`IDregio`);
ALTER TABLE `regionaal` ADD PRIMARY KEY (`IDregio`);

CREATE TABLE `stand`
 (
	`IDstand`			int not null auto_increment unique,
	`stand`			varchar (100),
	`Volgnummer`			int
);

-- CREATE INDEXES ...
ALTER TABLE `stand` ADD INDEX `ID Gewest` (`IDstand`);
ALTER TABLE `stand` ADD PRIMARY KEY (`IDstand`);

CREATE TABLE `BovenLokaalCollegeRegentDetails`
 (
	`ID`			int not null auto_increment unique,
	`Periode`			int,
	`IDRegent`			int,
	`IDFunctie`			int,
	`IDCollege`			int,
	`Begindag`			varchar (2),
	`Beginmaand`			varchar (2),
	`Beginjaar`			varchar (4),
	`Einddag`			varchar (2),
	`Eindmaand`			varchar (2),
	`Eindjaar`			varchar (4),
	`Vertegenwoordigend`			boolean NOT NULL,
	`provinciaal`			int,
	`Opmerkingen`			text,
	`stand`			int,
	`lokaal`			int,
	`regio`			int
);

-- CREATE INDEXES ...
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD UNIQUE INDEX `ID` (`ID`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `ID BovenLokaalCollege` (`IDCollege`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `ID Functie` (`IDFunctie`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `ID Regent` (`IDRegent`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `IDGewest` (`provinciaal`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD PRIMARY KEY (`ID`, `Periode`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `Vertegenwoordigend` (`Vertegenwoordigend`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `VertegenwoordigendBeginjaarEindjaar` (`Vertegenwoordigend`, `Beginjaar`, `Eindjaar`);

CREATE TABLE `Gewest`
 (
	`IDGewest`			int not null auto_increment unique,
	`Gewest`			varchar (20)
);

-- CREATE INDEXES ...
ALTER TABLE `Gewest` ADD INDEX `ID Gewest` (`IDGewest`);
ALTER TABLE `Gewest` ADD PRIMARY KEY (`IDGewest`);


-- CREATE Relationships ...
ALTER TABLE `BronFunctieDetails` ADD CONSTRAINT `BronFunctieDetails_IDBovenLokaalCollegeRegentDetails_fk` FOREIGN KEY (`IDBovenLokaalCollegeRegentDetails`) REFERENCES `BovenLokaalCollegeRegentDetails`(`ID`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BronRegentDetails` ADD CONSTRAINT `BronRegentDetails_IDBron_fk` FOREIGN KEY (`IDBron`) REFERENCES `Bron`(`IDBron`) ON UPDATE CASCADE ON DELETE CASCADE;
-- Relationship from `BovenLokaalCollegeRegentDetails` (`IDCollege`) to `College`(`IDCollege`) does not enforce integrity.
-- Relationship from `BovenLokaalCollegeRegentDetails` (`IDFunctie`) to `Functie`(`IDFunctie`) does not enforce integrity.
-- Relationship from `BovenLokaalCollegeRegentDetails` (`provinciaal`) to `Gewest`(`IDGewest`) does not enforce integrity.
-- Relationship from `BronFunctieDetails` (`IDBron`) to `Bron`(`IDBron`) does not enforce integrity.
-- Relationship from `College` (`IDCollege`) to `College`(`IDCollege`) does not enforce integrity.
-- Relationship from `Regent` (`IDAcademischeTitel`) to `AcademischeTitel`(`IDAcademischeTitel`) does not enforce integrity.
ALTER TABLE `AdellijkeTitel` ADD CONSTRAINT `AdellijkeTitel_IDAdellijkeTitel_fk` FOREIGN KEY (`IDAdellijkeTitel`) REFERENCES `Regent`(`IDRegent`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD CONSTRAINT `BovenLokaalCollegeRegentDetails_IDRegent_fk` FOREIGN KEY (`IDRegent`) REFERENCES `Regent`(`IDRegent`);
-- Relationship from `BronRegentDetails` (`IDRegent`) to `Regent`(`IDRegent`) does not enforce integrity.
running table: AcademischeTitel
Dumping AcademischeTitel
outfile ./mdbdump/batfra_AcademischeTitel.csv
written:  batfra_AcademischeTitel
fout batfra_AcademischeTitel
running table: AdellijkeTitel
Dumping AdellijkeTitel
outfile ./mdbdump/batfra_AdellijkeTitel.csv
written:  batfra_AdellijkeTitel
fout batfra_AdellijkeTitel
running table: aliassen
Dumping aliassen
outfile ./mdbdump/batfra_aliassen.csv
written:  batfra_aliassen
fout batfra_aliassen
running table: Bron
Dumping Bron
outfile ./mdbdump/batfra_Bron.csv
written:  batfra_Bron
fout batfra_Bron
running table: BronFunctieDetails
Dumping BronFunctieDetails
outfile ./mdbdump/batfra_BronFunctieDetails.csv
written:  batfra_BronFunctieDetails
fout batfra_BronFunctieDetails
running table: BronRegentDetails
Dumping BronRegentDetails
outfile ./mdbdump/batfra_BronRegentDetails.csv
written:  batfra_BronRegentDetails
fout batfra_BronRegentDetails
running table: College
Dumping College
outfile ./mdbdump/batfra_College.csv
written:  batfra_College
fout batfra_College
running table: Data
Dumping Data
outfile ./mdbdump/batfra_Data.csv
written:  batfra_Data
fout batfra_Data
running table: Functie
Dumping Functie
outfile ./mdbdump/batfra_Functie.csv
written:  batfra_Functie
fout batfra_Functie
running table: FunctieBovenLokaal
Dumping FunctieBovenLokaal
outfile ./mdbdump/batfra_FunctieBovenLokaal.csv
written:  batfra_FunctieBovenLokaal
fout batfra_FunctieBovenLokaal
running table: FunctieLokaal
Dumping FunctieLokaal
outfile ./mdbdump/batfra_FunctieLokaal.csv
written:  batfra_FunctieLokaal
fout batfra_FunctieLokaal
running table: lokaal
Dumping lokaal
outfile ./mdbdump/batfra_lokaal.csv
written:  batfra_lokaal
fout batfra_lokaal
running table: provinciaal
Dumping provinciaal
outfile ./mdbdump/batfra_provinciaal.csv
written:  batfra_provinciaal
fout batfra_provinciaal
running table: Regent
Dumping Regent
outfile ./mdbdump/batfra_Regent.csv
written:  batfra_Regent
fout batfra_Regent
running table: regionaal
Dumping regionaal
outfile ./mdbdump/batfra_regionaal.csv
written:  batfra_regionaal
fout batfra_regionaal
running table: stand
Dumping stand
outfile ./mdbdump/batfra_stand.csv
written:  batfra_stand
fout batfra_stand
running table: BovenLokaalCollegeRegentDetails
Dumping BovenLokaalCollegeRegentDetails
outfile ./mdbdump/batfra_BovenLokaalCollegeRegentDetails.csv
written:  batfra_BovenLokaalCollegeRegentDetails
fout batfra_BovenLokaalCollegeRegentDetails
running table: Gewest
Dumping Gewest
outfile ./mdbdump/batfra_Gewest.csv
written:  batfra_Gewest
fout batfra_Gewest
-- ----------------------------------------------------------
-- MDB Tools - A library for reading MS Access database files
-- Copyright (C) 2000-2011 Brian Bruns and others.
-- Files in libmdb are licensed under LGPL and the utilities under
-- the GPL, see COPYING.LIB and COPYING files respectively.
-- Check out http://mdbtools.sourceforge.net
-- ----------------------------------------------------------

-- That file uses encoding UTF-8

CREATE TABLE `AcademischeTitel`
 (
	`IDAcademischeTitel`			int not null auto_increment unique,
	`AcademischeTitel`			varchar (20)
);

-- CREATE INDEXES ...
ALTER TABLE `AcademischeTitel` ADD INDEX `IDAcademische Titel` (`IDAcademischeTitel`);
ALTER TABLE `AcademischeTitel` ADD PRIMARY KEY (`IDAcademischeTitel`);

CREATE TABLE `AdellijkeTitel`
 (
	`IDAdellijkeTitel`			int not null auto_increment unique,
	`AdellijkeTitel`			varchar (20)
);

-- CREATE INDEXES ...
ALTER TABLE `AdellijkeTitel` ADD INDEX `ID AdellijkeTitel` (`IDAdellijkeTitel`);
ALTER TABLE `AdellijkeTitel` ADD PRIMARY KEY (`IDAdellijkeTitel`);

CREATE TABLE `aliassen`
 (
	`alias`			varchar (255),
	`IDPersoon`			int
);

-- CREATE INDEXES ...

CREATE TABLE `BovenLokaalCollegeRegentDetails`
 (
	`ID`			int not null auto_increment unique,
	`Periode`			int,
	`IDRegent`			int,
	`IDFunctie`			int,
	`IDCollege`			int,
	`Begindag`			varchar (2),
	`Beginmaand`			varchar (2),
	`Beginjaar`			varchar (4),
	`Einddag`			varchar (2),
	`Eindmaand`			varchar (2),
	`Eindjaar`			varchar (4),
	`Vertegenwoordigend`			boolean NOT NULL,
	`provinciaal`			int,
	`Opmerkingen`			text,
	`stand`			int,
	`regio`			int,
	`lokaal`			int
);

-- CREATE INDEXES ...
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD UNIQUE INDEX `ID` (`ID`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `ID BovenLokaalCollege` (`IDCollege`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `ID Functie` (`IDFunctie`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `ID Regent` (`IDRegent`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `IDGewest` (`provinciaal`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD PRIMARY KEY (`ID`, `Periode`);

CREATE TABLE `BronFunctieDetails`
 (
	`IDBron`			int,
	`IDBovenLokaalCollegeRegentDetails`			int
);

-- CREATE INDEXES ...
ALTER TABLE `BronFunctieDetails` ADD INDEX `IDBovenLokaalCollegeRegentDetails` (`IDBovenLokaalCollegeRegentDetails`);
ALTER TABLE `BronFunctieDetails` ADD INDEX `IDBron` (`IDBron`);
ALTER TABLE `BronFunctieDetails` ADD PRIMARY KEY (`IDBron`, `IDBovenLokaalCollegeRegentDetails`);

CREATE TABLE `BronRegentDetails`
 (
	`IDRegent`			int,
	`IDBron`			int,
	`deel en paginanummer`			varchar (255)
);

-- CREATE INDEXES ...
ALTER TABLE `BronRegentDetails` ADD INDEX `ID Bron` (`IDBron`);
ALTER TABLE `BronRegentDetails` ADD INDEX `ID Regent` (`IDRegent`);
ALTER TABLE `BronRegentDetails` ADD PRIMARY KEY (`IDRegent`, `IDBron`);

CREATE TABLE `College`
 (
	`IDCollege`			int not null auto_increment unique,
	`Periode`			int,
	`College`			varchar (200),
	`VolgnummerBasiscollege`			int,
	`Basis`			boolean NOT NULL,
	`Id`			int
);

-- CREATE INDEXES ...
ALTER TABLE `College` ADD INDEX `CollegeIDCollege` (`IDCollege`);
ALTER TABLE `College` ADD PRIMARY KEY (`IDCollege`, `Periode`);

CREATE TABLE `Data`
 (
	`ID`			int not null auto_increment unique,
	`Periode`			int,
	`IDRegent`			int,
	`IDFunctie`			int,
	`IDCollege`			int,
	`Begindag`			varchar (2),
	`Beginmaand`			varchar (2),
	`Beginjaar`			varchar (4),
	`Einddag`			varchar (2),
	`Eindmaand`			varchar (2),
	`Eindjaar`			varchar (4),
	`Vertegenwoordigend`			boolean NOT NULL
);

-- CREATE INDEXES ...
ALTER TABLE `Data` ADD INDEX `ID BovenLokaalCollege` (`IDCollege`);
ALTER TABLE `Data` ADD INDEX `ID Functie` (`IDFunctie`);
ALTER TABLE `Data` ADD INDEX `ID Regent` (`IDRegent`);
ALTER TABLE `Data` ADD PRIMARY KEY (`ID`, `Periode`);

CREATE TABLE `FunctieLokaal`
 (
	`ID FunctieLokaal`			int not null auto_increment unique,
	`FunctieLokaal`			varchar (75)
);

-- CREATE INDEXES ...
ALTER TABLE `FunctieLokaal` ADD PRIMARY KEY (`ID FunctieLokaal`);

CREATE TABLE `Gewest`
 (
	`IDGewest`			int not null auto_increment unique,
	`Gewest`			varchar (20)
);

-- CREATE INDEXES ...
ALTER TABLE `Gewest` ADD INDEX `ID Gewest` (`IDGewest`);
ALTER TABLE `Gewest` ADD PRIMARY KEY (`IDGewest`);

CREATE TABLE `lokaal`
 (
	`IDlokaal`			int not null auto_increment unique,
	`lokaal`			varchar (100),
	`volgnummer`			int
);

-- CREATE INDEXES ...
ALTER TABLE `lokaal` ADD INDEX `ID Gewest` (`IDlokaal`);
ALTER TABLE `lokaal` ADD PRIMARY KEY (`IDlokaal`);

CREATE TABLE `provinciaal`
 (
	`IDprovincie`			int not null auto_increment unique,
	`provincie`			varchar (25),
	`volgnummer`			varchar (50)
);

-- CREATE INDEXES ...
ALTER TABLE `provinciaal` ADD INDEX `ID Gewest` (`IDprovincie`);
ALTER TABLE `provinciaal` ADD PRIMARY KEY (`IDprovincie`);

CREATE TABLE `regionaal`
 (
	`IDregio`			int not null auto_increment unique,
	`regio`			varchar (100),
	`volgnummer`			int
);

-- CREATE INDEXES ...
ALTER TABLE `regionaal` ADD INDEX `ID Gewest` (`IDregio`);
ALTER TABLE `regionaal` ADD PRIMARY KEY (`IDregio`);

CREATE TABLE `stand`
 (
	`IDstand`			int not null auto_increment unique,
	`stand`			varchar (100),
	`Volgnummer`			int
);

-- CREATE INDEXES ...
ALTER TABLE `stand` ADD INDEX `ID Gewest` (`IDstand`);
ALTER TABLE `stand` ADD PRIMARY KEY (`IDstand`);

CREATE TABLE `Bron`
 (
	`IDBron`			int not null auto_increment unique,
	`Bron`			varchar (255),
	`Periode`			int
);

-- CREATE INDEXES ...
ALTER TABLE `Bron` ADD INDEX `ID Bron` (`IDBron`);
ALTER TABLE `Bron` ADD PRIMARY KEY (`IDBron`);

CREATE TABLE `Functie`
 (
	`IDFunctie`			int not null auto_increment unique,
	`Periode`			int,
	`Functie`			varchar (255),
	`Volgnummer`			int,
	`Lokaal`			boolean NOT NULL,
	`Id`			int
);

-- CREATE INDEXES ...
ALTER TABLE `Functie` ADD INDEX `FunctieIDFunctie` (`IDFunctie`);
ALTER TABLE `Functie` ADD PRIMARY KEY (`IDFunctie`, `Periode`);

CREATE TABLE `Regent`
 (
	`IDRegent`			int not null auto_increment unique,
	`Geslachtsnaam`			varchar (100),
	`Tussenvoegsel`			varchar (30),
	`IDAdellijkeTitel`			int,
	`IDAcademischeTitel`			int,
	`Voornaam`			varchar (100),
	`Adel`			boolean NOT NULL,
	`Adelspredikaat`			varchar (10),
	`Heerlijkheid`			varchar (255),
	`Heerlijkheid2`			varchar (255),
	`Geboortedag`			int,
	`Geboortemaand`			int,
	`Geboortejaar`			int,
	`Doopjaar`			boolean NOT NULL,
	`OnbepaaldGeboortedatum`			boolean NOT NULL,
	`Geboorteplaats`			varchar (150),
	`Overlijdensdag`			int,
	`Overlijdensmaand`			int,
	`Overlijdensjaar`			int,
	`OnbepaaldOverlijdensdatum`			boolean NOT NULL,
	`Overlijdensplaats`			varchar (150),
	`Opmerkingen`			text,
	`Periode`			int,
	`TempID`			int
);

-- CREATE INDEXES ...
ALTER TABLE `Regent` ADD INDEX `Geslachtsnaam` (`Geslachtsnaam`);
ALTER TABLE `Regent` ADD INDEX `Heerlijkheid` (`Heerlijkheid`);
ALTER TABLE `Regent` ADD INDEX `ID AcademischeTitel` (`IDAcademischeTitel`);
ALTER TABLE `Regent` ADD INDEX `ID AdellijkeTitel` (`IDAdellijkeTitel`);
ALTER TABLE `Regent` ADD INDEX `ID Regent` (`IDRegent`);
ALTER TABLE `Regent` ADD PRIMARY KEY (`IDRegent`);

CREATE TABLE `Temp`
 (
	`Id`			int not null auto_increment unique,
	`Veld1`			varchar (255),
	`Veld2`			varchar (255),
	`Veld3`			varchar (255),
	`Veld4`			varchar (255),
	`Veld5`			varchar (255),
	`Veld6`			varchar (255),
	`Veld7`			varchar (255),
	`Veld8`			varchar (255),
	`Veld9`			varchar (255),
	`Veld10`			varchar (255),
	`Veld11`			varchar (255),
	`Veld12`			varchar (255),
	`Veld13`			varchar (255),
	`Veld14`			varchar (255),
	`Veld15`			varchar (255),
	`Veld16`			varchar (255),
	`Veld17`			varchar (255),
	`Veld18`			varchar (255),
	`Veld19`			varchar (255),
	`Veld20`			varchar (255),
	`Veld21`			varchar (255),
	`Veld22`			varchar (255),
	`Veld23`			varchar (255),
	`Veld24`			varchar (255),
	`Veld25`			varchar (255),
	`Veld26`			varchar (255),
	`Veld27`			varchar (255),
	`Veld28`			varchar (255),
	`Veld29`			varchar (255),
	`Veld30`			varchar (255),
	`Veld31`			varchar (255),
	`Veld32`			varchar (255),
	`Veld33`			varchar (255),
	`Veld34`			varchar (255),
	`Veld35`			varchar (255),
	`Veld36`			varchar (255),

File not found
Could not open file
File not found
Couldn't open database.

running table: AcademischeTitel
Dumping AcademischeTitel
outfile ./mdbdump/me_AcademischeTitel.csv
written:  me_AcademischeTitel
fout me_AcademischeTitel
running table: AdellijkeTitel
Dumping AdellijkeTitel
outfile ./mdbdump/me_AdellijkeTitel.csv
written:  me_AdellijkeTitel
fout me_AdellijkeTitel
running table: aliassen
Dumping aliassen
outfile ./mdbdump/me_aliassen.csv
written:  me_aliassen
fout me_aliassen
running table: BovenLokaalCollegeRegentDetails
Dumping BovenLokaalCollegeRegentDetails
outfile ./mdbdump/me_BovenLokaalCollegeRegentDetails.csv
written:  me_BovenLokaalCollegeRegentDetails
fout me_BovenLokaalCollegeRegentDetails
running table: BovenLokaalCollegeRegentDetails1
Dumping BovenLokaalCollegeRegentDetails1
outfile ./mdbdump/me_BovenLokaalCollegeRegentDetails1.csv
written:  me_BovenLokaalCollegeRegentDetails1
fout me_BovenLokaalCollegeRegentDetails1
running table: BronFunctieDetails
Dumping BronFunctieDetails
outfile ./mdbdump/me_BronFunctieDetails.csv
written:  me_BronFunctieDetails
fout me_BronFunctieDetails
running table: BronRegentDetails
Dumping BronRegentDetails
outfile ./mdbdump/me_BronRegentDetails.csv
written:  me_BronRegentDetails
fout me_BronRegentDetails
running table: College
Dumping College
outfile ./mdbdump/me_College.csv
written:  me_College
fout me_College
running table: Data
Dumping Data
outfile ./mdbdump/me_Data.csv
written:  me_Data
fout me_Data
running table: Functie
Dumping Functie
outfile ./mdbdump/me_Functie.csv
written:  me_Functie
fout me_Functie
running table: FunctieLokaal
Dumping FunctieLokaal
outfile ./mdbdump/me_FunctieLokaal.csv
written:  me_FunctieLokaal
fout me_FunctieLokaal
running table: Gewest
Dumping Gewest
outfile ./mdbdump/me_Gewest.csv
written:  me_Gewest
fout me_Gewest
running table: lokaal
Dumping lokaal
outfile ./mdbdump/me_lokaal.csv
written:  me_lokaal
fout me_lokaal
running table: regionaal
Dumping regionaal
outfile ./mdbdump/me_regionaal.csv
written:  me_regionaal
fout me_regionaal
running table: stand
Dumping stand
outfile ./mdbdump/me_stand.csv
written:  me_stand
fout me_stand
running table: TempTable
Dumping TempTable
outfile ./mdbdump/me_TempTable.csv
written:  me_TempTable
fout me_TempTable
running table: Bron
Dumping Bron
outfile ./mdbdump/me_Bron.csv
written:  me_Bron
fout me_Bron
running table: FunctieBovenLokaal
Dumping FunctieBovenLokaal
outfile ./mdbdump/me_FunctieBovenLokaal.csv
written:  me_FunctieBovenLokaal
fout me_FunctieBovenLokaal
running table: provinciaal
Dumping provinciaal
outfile ./mdbdump/me_provinciaal.csv
written:  me_provinciaal
fout me_provinciaal
running table: Regent
Dumping Regent
outfile ./mdbdump/me_Regent.csv
written:  me_Regent
fout me_Regent
-- ----------------------------------------------------------
-- MDB Tools - A library for reading MS Access database files
-- Copyright (C) 2000-2011 Brian Bruns and others.
-- Files in libmdb are licensed under LGPL and the utilities under
-- the GPL, see COPYING.LIB and COPYING files respectively.
-- Check out http://mdbtools.sourceforge.net
-- ----------------------------------------------------------

-- That file uses encoding UTF-8

CREATE TABLE `AcademischeTitel`
 (
	`IDAcademischeTitel`			int not null auto_increment unique,
	`AcademischeTitel`			varchar (20)
);

-- CREATE INDEXES ...
ALTER TABLE `AcademischeTitel` ADD INDEX `ID AcademischeTitel` (`IDAcademischeTitel`);
ALTER TABLE `AcademischeTitel` ADD PRIMARY KEY (`IDAcademischeTitel`);

CREATE TABLE `AdellijkeTitel`
 (
	`IDAdellijkeTitel`			int not null auto_increment unique,
	`AdellijkeTitel`			varchar (20)
);

-- CREATE INDEXES ...
ALTER TABLE `AdellijkeTitel` ADD INDEX `ID AdellijkeTitel` (`IDAdellijkeTitel`);
ALTER TABLE `AdellijkeTitel` ADD PRIMARY KEY (`IDAdellijkeTitel`);

CREATE TABLE `aliassen`
 (
	`alias`			varchar (255),
	`IDPersoon`			int
);

-- CREATE INDEXES ...
ALTER TABLE `aliassen` ADD INDEX `IDPersoon` (`IDPersoon`);

CREATE TABLE `BovenLokaalCollegeRegentDetails`
 (
	`ID`			int not null auto_increment unique,
	`Periode`			int,
	`IDRegent`			int,
	`IDFunctie`			int,
	`IDCollege`			int,
	`Begindag`			varchar (2),
	`Beginmaand`			varchar (2),
	`Beginjaar`			varchar (4),
	`Einddag`			varchar (2),
	`Eindmaand`			varchar (2),
	`Eindjaar`			varchar (4),
	`Vertegenwoordigend`			boolean NOT NULL,
	`regio`			int,
	`Opmerkingen`			text,
	`lokaal`			int,
	`provinciaal`			int,
	`stand`			int
);

-- CREATE INDEXES ...
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD UNIQUE INDEX `ID` (`ID`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `ID BovenLokaalCollege` (`IDCollege`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `ID Functie` (`IDFunctie`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `ID Regent` (`IDRegent`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `IDGewest` (`regio`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD PRIMARY KEY (`ID`, `Periode`);

CREATE TABLE `Bron`
 (
	`IDBron`			int not null auto_increment unique,
	`Bron`			varchar (255),
	`Periode`			int
);

-- CREATE INDEXES ...
ALTER TABLE `Bron` ADD INDEX `ID Bron` (`IDBron`);
ALTER TABLE `Bron` ADD PRIMARY KEY (`IDBron`);

CREATE TABLE `BronFunctieDetails`
 (
	`IDBron`			int,
	`IDBovenLokaalCollegeRegentDetails`			int
);

-- CREATE INDEXES ...
ALTER TABLE `BronFunctieDetails` ADD INDEX `IDBovenLokaalCollegeRegentDetails` (`IDBovenLokaalCollegeRegentDetails`);
ALTER TABLE `BronFunctieDetails` ADD INDEX `IDBron` (`IDBron`);
ALTER TABLE `BronFunctieDetails` ADD PRIMARY KEY (`IDBron`, `IDBovenLokaalCollegeRegentDetails`);

CREATE TABLE `College`
 (
	`IDCollege`			int not null auto_increment unique,
	`Periode`			int,
	`College`			varchar (200),
	`VolgnummerBasiscollege`			int,
	`Basis`			boolean NOT NULL,
	`Id`			int
);

-- CREATE INDEXES ...
ALTER TABLE `College` ADD INDEX `CollegeIDCollege` (`IDCollege`);
ALTER TABLE `College` ADD INDEX `Id` (`Id`);
ALTER TABLE `College` ADD PRIMARY KEY (`IDCollege`, `Periode`);

CREATE TABLE `Data`
 (
	`ID`			int not null auto_increment unique,
	`Periode`			int,
	`IDRegent`			int,
	`IDFunctie`			int,
	`IDCollege`			int,
	`Begindag`			varchar (2),
	`Beginmaand`			varchar (2),
	`Beginjaar`			varchar (4),
	`Einddag`			varchar (2),
	`Eindmaand`			varchar (2),
	`Eindjaar`			varchar (4),
	`Vertegenwoordigend`			boolean NOT NULL
);

-- CREATE INDEXES ...
ALTER TABLE `Data` ADD INDEX `ID BovenLokaalCollege` (`IDCollege`);
ALTER TABLE `Data` ADD INDEX `ID Functie` (`IDFunctie`);
ALTER TABLE `Data` ADD INDEX `ID Regent` (`IDRegent`);
ALTER TABLE `Data` ADD PRIMARY KEY (`ID`, `Periode`);

CREATE TABLE `Functie`
 (
	`IDFunctie`			int not null auto_increment unique,
	`Periode`			int,
	`Functie`			varchar (50),
	`Volgnummer`			int,
	`Lokaal`			boolean NOT NULL,
	`Id`			int
);

-- CREATE INDEXES ...
ALTER TABLE `Functie` ADD INDEX `FunctieIDFunctie` (`IDFunctie`);
ALTER TABLE `Functie` ADD INDEX `Id` (`Id`);
ALTER TABLE `Functie` ADD PRIMARY KEY (`IDFunctie`, `Periode`);

CREATE TABLE `FunctieBovenLokaal`
 (
	`ID FunctieBovenLokaal`			int not null auto_increment unique,
	`FunctieBovenLokaal`			varchar (50),
	`Volgnummer`			int
);

-- CREATE INDEXES ...
ALTER TABLE `FunctieBovenLokaal` ADD PRIMARY KEY (`ID FunctieBovenLokaal`);

CREATE TABLE `FunctieLokaal`
 (
	`ID FunctieLokaal`			int not null auto_increment unique,
	`FunctieLokaal`			varchar (75)
);

-- CREATE INDEXES ...
ALTER TABLE `FunctieLokaal` ADD PRIMARY KEY (`ID FunctieLokaal`);

CREATE TABLE `lokaal`
 (
	`IDlokaal`			int not null auto_increment unique,
	`lokaal`			varchar (100),
	`volgnummer`			int
);

-- CREATE INDEXES ...
ALTER TABLE `lokaal` ADD INDEX `ID Gewest` (`IDlokaal`);
ALTER TABLE `lokaal` ADD PRIMARY KEY (`IDlokaal`);

CREATE TABLE `Regent`
 (
	`IDRegent`			int not null auto_increment unique,
	`Geslachtsnaam`			varchar (100),
	`Tussenvoegsel`			varchar (30),
	`IDAdellijkeTitel`			int,
	`IDAcademischeTitel`			int,
	`Voornaam`			varchar (100),
	`Adel`			boolean NOT NULL,
	`Adelspredikaat`			varchar (10),
	`Heerlijkheid`			varchar (255),
	`Heerlijkheid2`			varchar (255),
	`Geboortejaar`			varchar (4),
	`OnbepaaldGeboortedatum`			boolean NOT NULL,
	`Overlijdensjaar`			varchar (4),
	`OnbepaaldOverlijdensdatum`			boolean NOT NULL,
	`Opmerkingen`			text,
	`Periode`			int,
	`overlijdensdag`			varchar (2),
	`overlijdensmaand`			varchar (2),
	`Opmerkingen2`			text
);

-- CREATE INDEXES ...
ALTER TABLE `Regent` ADD INDEX `Heerlijkheid` (`Heerlijkheid`);
ALTER TABLE `Regent` ADD INDEX `ID AcademischeTitel` (`IDAcademischeTitel`);
ALTER TABLE `Regent` ADD INDEX `ID AdellijkeTitel` (`IDAdellijkeTitel`);
ALTER TABLE `Regent` ADD INDEX `ID Regent` (`IDRegent`);
ALTER TABLE `Regent` ADD PRIMARY KEY (`IDRegent`);

CREATE TABLE `regionaal`
 (
	`IDRegio`			int not null auto_increment unique,
	`regio`			varchar (20)
);

-- CREATE INDEXES ...
ALTER TABLE `regionaal` ADD INDEX `ID Gewest` (`IDRegio`);
ALTER TABLE `regionaal` ADD PRIMARY KEY (`IDRegio`);

CREATE TABLE `stand`
 (
	`IDstand`			int not null auto_increment unique,
	`stand`			varchar (100),
	`Volgnummer`			int
);

-- CREATE INDEXES ...
ALTER TABLE `stand` ADD INDEX `ID Gewest` (`IDstand`);
ALTER TABLE `stand` ADD PRIMARY KEY (`IDstand`);

CREATE TABLE `BronRegentDetails`
 (
	`IDRegent`			int,
	`IDBron`			int,
	`deel en paginanummer`			varchar (255)
);

-- CREATE INDEXES ...
ALTER TABLE `BronRegentDetails` ADD INDEX `ID Bron` (`IDBron`);
ALTER TABLE `BronRegentDetails` ADD INDEX `ID Regent` (`IDRegent`);
ALTER TABLE `BronRegentDetails` ADD PRIMARY KEY (`IDRegent`, `IDBron`);

CREATE TABLE `provinciaal`
 (
	`IDprovincie`			int not null auto_increment unique,
	`provincie`			varchar (100),
	`Volgnummer`			int
);

-- CREATE INDEXES ...
ALTER TABLE `provinciaal` ADD INDEX `ID Gewest` (`IDprovincie`);
ALTER TABLE `provinciaal` ADD PRIMARY KEY (`IDprovincie`);


-- CREATE Relationships ...
-- Relationship from `BovenLokaalCollegeRegentDetails` (`IDFunctie`) to `Functie`(`IDFunctie`) does not enforce integrity.
ALTER TABLE `BronFunctieDetails` ADD CONSTRAINT `BronFunctieDetails_IDBovenLokaalCollegeRegentDetails_fk` FOREIGN KEY (`IDBovenLokaalCollegeRegentDetails`) REFERENCES `BovenLokaalCollegeRegentDetails`(`ID`) ON UPDATE CASCADE ON DELETE CASCADE;
-- Relationship from `BronRegentDetails` (`IDRegent`) to `Regent`(`IDRegent`) does not enforce integrity.
ALTER TABLE `Regent` ADD CONSTRAINT `Regent_IDAdellijkeTitel_fk` FOREIGN KEY (`IDAdellijkeTitel`) REFERENCES `AdellijkeTitel`(`IDAdellijkeTitel`);
-- Relationship from `BovenLokaalCollegeRegentDetails` (`IDCollege`) to `College`(`IDCollege`) does not enforce integrity.
ALTER TABLE `Regent` ADD CONSTRAINT `Regent_IDAcademischeTitel_fk` FOREIGN KEY (`IDAcademischeTitel`) REFERENCES `AcademischeTitel`(`IDAcademischeTitel`);
-- Relationship from `BovenLokaalCollegeRegentDetails` (`regio`) to `regionaal`(`IDRegio`) does not enforce integrity.
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD CONSTRAINT `BovenLokaalCollegeRegentDetails_IDRegent_fk` FOREIGN KEY (`IDRegent`) REFERENCES `Regent`(`IDRegent`);
ALTER TABLE `BronRegentDetails` ADD CONSTRAINT `BronRegentDetails_IDBron_fk` FOREIGN KEY (`IDBron`) REFERENCES `Bron`(`IDBron`) ON UPDATE CASCADE ON DELETE CASCADE;
running table: AcademischeTitel
Dumping AcademischeTitel
outfile ./mdbdump/divperioden_AcademischeTitel.csv
written:  divperioden_AcademischeTitel
fout divperioden_AcademischeTitel
running table: AdellijkeTitel
Dumping AdellijkeTitel
outfile ./mdbdump/divperioden_AdellijkeTitel.csv
written:  divperioden_AdellijkeTitel
fout divperioden_AdellijkeTitel
running table: aliassen
Dumping aliassen
outfile ./mdbdump/divperioden_aliassen.csv
written:  divperioden_aliassen
fout divperioden_aliassen
running table: BovenLokaalCollegeRegentDetails
Dumping BovenLokaalCollegeRegentDetails
outfile ./mdbdump/divperioden_BovenLokaalCollegeRegentDetails.csv
written:  divperioden_BovenLokaalCollegeRegentDetails
fout divperioden_BovenLokaalCollegeRegentDetails
running table: Bron
Dumping Bron
outfile ./mdbdump/divperioden_Bron.csv
written:  divperioden_Bron
fout divperioden_Bron
running table: BronFunctieDetails
Dumping BronFunctieDetails
outfile ./mdbdump/divperioden_BronFunctieDetails.csv
written:  divperioden_BronFunctieDetails
fout divperioden_BronFunctieDetails
running table: College
Dumping College
outfile ./mdbdump/divperioden_College.csv
written:  divperioden_College
fout divperioden_College
running table: Data
Dumping Data
outfile ./mdbdump/divperioden_Data.csv
written:  divperioden_Data
fout divperioden_Data
running table: Functie
Dumping Functie
outfile ./mdbdump/divperioden_Functie.csv
written:  divperioden_Functie
fout divperioden_Functie
running table: FunctieBovenLokaal
Dumping FunctieBovenLokaal
outfile ./mdbdump/divperioden_FunctieBovenLokaal.csv
written:  divperioden_FunctieBovenLokaal
fout divperioden_FunctieBovenLokaal
running table: FunctieLokaal
Dumping FunctieLokaal
outfile ./mdbdump/divperioden_FunctieLokaal.csv
written:  divperioden_FunctieLokaal
fout divperioden_FunctieLokaal
running table: lokaal
Dumping lokaal
outfile ./mdbdump/divperioden_lokaal.csv
written:  divperioden_lokaal
fout divperioden_lokaal
running table: Regent
Dumping Regent
outfile ./mdbdump/divperioden_Regent.csv
written:  divperioden_Regent
fout divperioden_Regent
running table: regionaal
Dumping regionaal
outfile ./mdbdump/divperioden_regionaal.csv
written:  divperioden_regionaal
fout divperioden_regionaal
running table: stand
Dumping stand
outfile ./mdbdump/divperioden_stand.csv
written:  divperioden_stand
fout divperioden_stand
running table: BronRegentDetails
Dumping BronRegentDetails
outfile ./mdbdump/divperioden_BronRegentDetails.csv
written:  divperioden_BronRegentDetails
fout divperioden_BronRegentDetails
running table: provinciaal
Dumping provinciaal
outfile ./mdbdump/divperioden_provinciaal.csv
written:  divperioden_provinciaal
fout divperioden_provinciaal
-- ----------------------------------------------------------
-- MDB Tools - A library for reading MS Access database files
-- Copyright (C) 2000-2011 Brian Bruns and others.
-- Files in libmdb are licensed under LGPL and the utilities under
-- the GPL, see COPYING.LIB and COPYING files respectively.
-- Check out http://mdbtools.sourceforge.net
-- ----------------------------------------------------------

-- That file uses encoding UTF-8

CREATE TABLE `AcademischeTitel`
 (
	`IDAcademischeTitel`			int not null auto_increment unique,
	`AcademischeTitel`			varchar (20)
);

-- CREATE INDEXES ...
ALTER TABLE `AcademischeTitel` ADD INDEX `ID AcademischeTitel` (`IDAcademischeTitel`);
ALTER TABLE `AcademischeTitel` ADD PRIMARY KEY (`IDAcademischeTitel`);

CREATE TABLE `AdellijkeTitel`
 (
	`IDAdellijkeTitel`			int not null auto_increment unique,
	`AdellijkeTitel`			varchar (20)
);

-- CREATE INDEXES ...
ALTER TABLE `AdellijkeTitel` ADD INDEX `ID AdellijkeTitel` (`IDAdellijkeTitel`);
ALTER TABLE `AdellijkeTitel` ADD PRIMARY KEY (`IDAdellijkeTitel`);

CREATE TABLE `aliassen`
 (
	`alias`			varchar (255),
	`IDPersoon`			int
);

-- CREATE INDEXES ...
ALTER TABLE `aliassen` ADD INDEX `IDPersoon` (`IDPersoon`);

CREATE TABLE `BovenLokaalCollegeRegentDetails`
 (
	`ID`			int not null auto_increment unique,
	`Periode`			int,
	`IDRegent`			int,
	`IDFunctie`			int,
	`IDCollege`			int,
	`Begindag`			varchar (2),
	`Beginmaand`			varchar (2),
	`Beginjaar`			varchar (4),
	`Einddag`			varchar (2),
	`Eindmaand`			varchar (2),
	`Eindjaar`			varchar (4),
	`Vertegenwoordigend`			boolean NOT NULL,
	`provinciaal`			int,
	`Opmerkingen`			text,
	`lokaal`			int,
	`regio`			int,
	`stand`			int
);

-- CREATE INDEXES ...
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD UNIQUE INDEX `ID` (`ID`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `ID BovenLokaalCollege` (`IDCollege`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `ID Functie` (`IDFunctie`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `ID Regent` (`IDRegent`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD INDEX `IDGewest` (`provinciaal`);
ALTER TABLE `BovenLokaalCollegeRegentDetails` ADD PRIMARY KEY (`ID`, `Periode`);

CREATE TABLE `Bron`
 (
	`IDBron`			int not null auto_increment unique,
	`Bron`			varchar (255),
	`Periode`			int
);

-- CREATE INDEXES ...
ALTER TABLE `Bron` ADD INDEX `ID Bron` (`IDBron`);
ALTER TABLE `Bron` ADD PRIMARY KEY (`IDBron`);

CREATE TABLE `BronFunctieDetails`
 (
	`IDBron`			int,
	`IDBovenLokaalCollegeRegentDetails`			int
);

-- CREATE INDEXES ...
ALTER TABLE `BronFunctieDetails` ADD INDEX `IDBovenLokaalCollegeRegentDetails` (`IDBovenLokaalCollegeRegentDetails`);
ALTER TABLE `BronFunctieDetails` ADD INDEX `IDBron` (`IDBron`);
ALTER TABLE `BronFunctieDetails` ADD PRIMARY KEY (`IDBron`, `IDBovenLokaalCollegeRegentDetails`);

CREATE TABLE `BronRegentDetails`
 (
	`IDRegent`			int,
	`IDBron`			int,
	`deel en paginanummer`			varchar (255)
);

-- CREATE INDEXES ...
ALTER TABLE `BronRegentDetails` ADD INDEX `ID Bron` (`IDBron`);
ALTER TABLE `BronRegentDetails` ADD INDEX `ID Regent` (`IDRegent`);
ALTER TABLE `BronRegentDetails` ADD PRIMARY KEY (`IDRegent`, `IDBron`);

CREATE TABLE `College`
 (
	`IDCollege`			int not null auto_increment unique,
	`Periode`			int,
	`College`			varchar (200),
	`VolgnummerBasiscollege`			int,
	`Basis`			boolean NOT NULL,
	`Id`			int
);

-- CREATE INDEXES ...
ALTER TABLE `College` ADD INDEX `CollegeIDCollege` (`IDCollege`);
ALTER TABLE `College` ADD PRIMARY KEY (`IDCollege`, `Periode`);

CREATE TABLE `Data`
 (
	`ID`			int not null auto_increment unique,
	`Periode`			int,
	`IDRegent`			int,
	`IDFunctie`			int,
	`IDCollege`			int,
	`Begindag`			varchar (2),
	`Beginmaand`			varchar (2),
	`Beginjaar`			varchar (4),
	`Einddag`			varchar (2),
	`Eindmaand`			varchar (2),
	`Eindjaar`			varchar (4),
	`Vertegenwoordigend`			boolean NOT NULL
);

-- CREATE INDEXES ...
ALTER TABLE `Data` ADD INDEX `ID BovenLokaalCollege` (`IDCollege`);
ALTER TABLE `Data` ADD INDEX `ID Functie` (`IDFunctie`);
ALTER TABLE `Data` ADD INDEX `ID Regent` (`IDRegent`);
ALTER TABLE `Data` ADD PRIMARY KEY (`ID`, `Periode`);

CREATE TABLE `Functie`
 (
	`IDFunctie`			int not null auto_increment unique,
	`Periode`			int,
	`Functie`			varchar (50),
	`Volgnummer`			int,
	`Lokaal`			boolean NOT NULL,
	`Id`			int
);

-- CREATE INDEXES ...
ALTER TABLE `Functie` ADD INDEX `FunctieIDFunctie` (`IDFunctie`);
ALTER TABLE `Functie` ADD PRIMARY KEY (`IDFunctie`, `Periode`);

CREATE TABLE `FunctieBovenLokaal`
 (
	`ID FunctieBovenLokaal`			int not null auto_increment unique,
	`FunctieBovenLokaal`			varchar (50),
	`Volgnummer`			int
);

-- CREATE INDEXES ...
ALTER TABLE `FunctieBovenLokaal` ADD PRIMARY KEY (`ID FunctieBovenLokaal`);

CREATE TABLE `FunctieLokaal`
 (
	`ID FunctieLokaal`			int not null auto_increment unique,
	`FunctieLokaal`			varchar (75)
);

-- CREATE INDEXES ...
ALTER TABLE `FunctieLokaal` ADD PRIMARY KEY (`ID FunctieLokaal`);

CREATE TABLE `Gewest`
 (
	`IDGewest`			int not null auto_increment unique,
	`Gewest`			varchar (20)
);

-- CREATE INDEXES ...
ALTER TABLE `Gewest` ADD INDEX `ID Gewest` (`IDGewest`);
ALTER TABLE `Gewest` ADD PRIMARY KEY (`IDGewest`);

CREATE TABLE `lokaal`
 (
	`IDlokaal`			int not null auto_increment unique,
	`lokaal`			varchar (100),
	`volgnummer`			int
);

-- CREATE INDEXES ...
ALTER TABLE `lokaal` ADD INDEX `ID Gewest` (`IDlokaal`);
ALTER TABLE `lokaal` ADD PRIMARY KEY (`IDlokaal`);

CREATE TABLE `provinciaal`
 (
	`IDprovincie`			int not null auto_increment unique,
	`provincie`			varchar (100),
	`Volgnummer`			int
);

-- CREATE INDEXES ...
ALTER TABLE `provinciaal` ADD INDEX `ID Gewest` (`IDprovincie`);
ALTER TABLE `provinciaal` ADD PRIMARY KEY (`IDprovincie`);

CREATE TABLE `RegentOud`
 (
	`IDRegent`			int not null auto_increment unique,
	`Periode`			int,
	`Geslachtsnaam`			varchar (100),
	`Tussenvoegsel`			varchar (30),
	`IDAdellijkeTitel`			int,
	`IDAcademischeTitel`			int,
	`Voornaam`			varchar (100),
	`Adel`			boolean NOT NULL,
	`Adelspredikaat`			varchar (10),
	`Heerlijkheid`			varchar (255),
	`Heerlijkheid2`			varchar (255),

## Graveyard


import sys, subprocess, os
from io import StringIO
import pandas as pd
VERBOSE = True
def mdb_to_pandas(database_path):
    subprocess.call(["mdb-schema", database_path, "mysql"])
    # Get the list of table names with "mdb-tables"
    table_names = subprocess.Popen(["mdb-tables", "-1", database_path],
                                   stdout=subprocess.PIPE).communicate()[0]
    tables = table_names.splitlines()
    sys.stdout.flush()
    # Dump each table as a stringio using "mdb-export",
    out_tables = {}
    for rtable in tables:
        table = rtable.decode()
        if VERBOSE: print('running table:',table)
        if table != '':
            if VERBOSE: print("Dumping " + table)
            contents = subprocess.Popen(["mdb-export", database_path, table],
                                        stdout=subprocess.PIPE).communicate()[0]
            temp_io = StringIO(contents.decode("latin1"))
            print(table, temp_io)
            out_tables[table] = pd.read_csv(temp_io)
    return out_tables

from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://rik:X0chi@localhost/old_raa', echo=False)
done= []
prefix = "republiek_"
for table in os.listdir(outdir):
    if table not in done:
        df = pd.read_csv(os.path.join(outdir, table), delimiter="\t")
        df.drop([c for c in df.columns if "Unnamed" in c], axis=1, inplace=True)
        tname = os.path.splitext(prefix+table)[0]
        tname = tname.lower()
        try:
            df.to_sql(con=engine, name=tname,index=False, if_exists="replace")
            print ("written: ", tname)
            done.append(table)
        except:
            df.to_sql(con=engine, name=tname, index=False, if_exists="replace")