In [1]:
%load_ext autoreload
%autoreload 2

_TODO:_ 

* check gewest 
* determine order of merge (for repeatability)

In [2]:
import os
import pandas as pd
import numpy as np
from collections import defaultdict

In [3]:
coll = {' batfra': ['AcademischeTitel',
              'AdellijkeTitel',
              'aliassen',
              'Bron',
              'BronFunctieDetails',
              'BronRegentDetails',
              'College',
              'Data',
              'Functie',
              'FunctieBovenLokaal',
              'FunctieLokaal',
              'lokaal',
              'provinciaal',
              'Regent',
              'regionaal',
              'stand',
              'BovenLokaalCollegeRegentDetails',
              'Gewest'],
             ' negentiende eeuw': ['AcademischeTitel',
              'AdellijkeTitel',
              'aliassen',
              'BovenLokaalCollegeRegentDetails',
              'BronFunctieDetails',
              'BronRegentDetails',
              'College',
              'Data',
              'FunctieLokaal',
              'Gewest',
              'lokaal',
              'provinciaal',
              'regionaal',
              'stand',
              'Bron',
              'Functie',
              'Regent',
              'Temp'],
             ' me': ['AcademischeTitel',
              'AdellijkeTitel',
              'aliassen',
              'BovenLokaalCollegeRegentDetails',
              'BovenLokaalCollegeRegentDetails1',
              'BronFunctieDetails',
              'BronRegentDetails',
              'College',
              'Data',
              'Functie',
              'FunctieLokaal',
              'Gewest',
              'lokaal',
              'regionaal',
              'stand',
              'TempTable',
              'Bron',
              'FunctieBovenLokaal',
              'provinciaal',
              'Regent'],
             ' divperioden': ['AcademischeTitel',
              'AdellijkeTitel',
              'aliassen',
              'BovenLokaalCollegeRegentDetails',
              'Bron',
              'BronFunctieDetails',
              'College',
              'Data',
              'Functie',
              'FunctieBovenLokaal',
              'FunctieLokaal',
              'lokaal',
              'Regent',
              'regionaal',
              'stand',
              'BronRegentDetails',
              'provinciaal'],
             ' republiek': ['AcademischeTitel',
              'AdellijkeTitel',
              'aliassen',
              'BovenLokaalCollegeRegentDetails',
              'Bron',
              'BronRegentDetails',
              'College',
              'Data',
              'Functie',
              'FunctieBovenLokaal',
              'FunctieLokaal',
              'lokaal',
              'provinciaal',
              'Regent',
              'RegentOud',
              'regionaal',
              'BronFunctieDetails',
              'Gewest',
              'stand']}

In [4]:
transposed_graph = defaultdict(list)
for node, neighbours in coll.items():
    for neighbour in neighbours:
        transposed_graph[neighbour].append(node)

In [5]:
# make common_tables static here
common_tables = ['AcademischeTitel',
 'AdellijkeTitel',
 'aliassen',
 'Bron',
 'BronFunctieDetails',
 'BronRegentDetails',
 'College',
 'Data',
 'Functie',
 'FunctieBovenLokaal',
 'FunctieLokaal',
 'lokaal',
 'provinciaal',
 'Regent',
 'regionaal',
 'stand',
 'BovenLokaalCollegeRegentDetails',
 'Gewest']

In [6]:
table_dict = defaultdict(dict)
for table in common_tables:
    for periode in transposed_graph[table]:
        periode = periode.strip().replace(' ', '_')
        tname = '_'.join([periode, table]).strip()
        print(f"getting {tname}")
        dftable = pd.read_sql_table(con="mysql+pymysql://rik:X0chi@localhost/raa_old", table_name=tname)
        dftable = dftable.rename(columns={c:c.lower() for c in dftable.columns})
        dftable.reset_index(inplace=True)
        print(f"adding {table.lower()} to {periode}")
        table_dict[periode][table.lower()] = dftable

getting batfra_AcademischeTitel
adding academischetitel to batfra
getting negentiende_eeuw_AcademischeTitel
adding academischetitel to negentiende_eeuw
getting me_AcademischeTitel
adding academischetitel to me
getting divperioden_AcademischeTitel
adding academischetitel to divperioden
getting republiek_AcademischeTitel
adding academischetitel to republiek
getting batfra_AdellijkeTitel
adding adellijketitel to batfra
getting negentiende_eeuw_AdellijkeTitel
adding adellijketitel to negentiende_eeuw
getting me_AdellijkeTitel
adding adellijketitel to me
getting divperioden_AdellijkeTitel
adding adellijketitel to divperioden
getting republiek_AdellijkeTitel
adding adellijketitel to republiek
getting batfra_aliassen
adding aliassen to batfra
getting negentiende_eeuw_aliassen
adding aliassen to negentiende_eeuw
getting me_aliassen
adding aliassen to me
getting divperioden_aliassen
adding aliassen to divperioden
getting republiek_aliassen
adding aliassen to republiek
getting batfra_Bron
adding bron to batfra
getting negentiende_eeuw_Bron
adding bron to negentiende_eeuw
getting me_Bron
adding bron to me
getting divperioden_Bron
adding bron to divperioden
getting republiek_Bron
adding bron to republiek
getting batfra_BronFunctieDetails
adding bronfunctiedetails to batfra
getting negentiende_eeuw_BronFunctieDetails
adding bronfunctiedetails to negentiende_eeuw
getting me_BronFunctieDetails
adding bronfunctiedetails to me
getting divperioden_BronFunctieDetails
adding bronfunctiedetails to divperioden
getting republiek_BronFunctieDetails
adding bronfunctiedetails to republiek
getting batfra_BronRegentDetails
adding bronregentdetails to batfra
getting negentiende_eeuw_BronRegentDetails
adding bronregentdetails to negentiende_eeuw
getting me_BronRegentDetails
adding bronregentdetails to me
getting divperioden_BronRegentDetails
adding bronregentdetails to divperioden
getting republiek_BronRegentDetails
adding bronregentdetails to republiek
getting batfra_College
adding college to batfra
getting negentiende_eeuw_College
adding college to negentiende_eeuw
getting me_College
adding college to me
getting divperioden_College
adding college to divperioden
getting republiek_College
adding college to republiek
getting batfra_Data
adding data to batfra
getting negentiende_eeuw_Data
adding data to negentiende_eeuw
getting me_Data
adding data to me
getting divperioden_Data
adding data to divperioden
getting republiek_Data
adding data to republiek
getting batfra_Functie
adding functie to batfra
getting negentiende_eeuw_Functie
adding functie to negentiende_eeuw
getting me_Functie
adding functie to me
getting divperioden_Functie
adding functie to divperioden
getting republiek_Functie
adding functie to republiek
getting batfra_FunctieBovenLokaal
adding functiebovenlokaal to batfra
getting me_FunctieBovenLokaal
adding functiebovenlokaal to me
getting divperioden_FunctieBovenLokaal
adding functiebovenlokaal to divperioden
getting republiek_FunctieBovenLokaal
adding functiebovenlokaal to republiek
getting batfra_FunctieLokaal
adding functielokaal to batfra
getting negentiende_eeuw_FunctieLokaal
adding functielokaal to negentiende_eeuw
getting me_FunctieLokaal
adding functielokaal to me
getting divperioden_FunctieLokaal
adding functielokaal to divperioden
getting republiek_FunctieLokaal
adding functielokaal to republiek
getting batfra_lokaal
adding lokaal to batfra
getting negentiende_eeuw_lokaal
adding lokaal to negentiende_eeuw
getting me_lokaal
adding lokaal to me
getting divperioden_lokaal
adding lokaal to divperioden
getting republiek_lokaal
adding lokaal to republiek
getting batfra_provinciaal
adding provinciaal to batfra
getting negentiende_eeuw_provinciaal
adding provinciaal to negentiende_eeuw
getting me_provinciaal
adding provinciaal to me
getting divperioden_provinciaal
adding provinciaal to divperioden
getting republiek_provinciaal
adding provinciaal to republiek
getting batfra_Regent
adding regent to batfra
getting negentiende_eeuw_Regent
adding regent to negentiende_eeuw
getting me_Regent
adding regent to me
getting divperioden_Regent
adding regent to divperioden
getting republiek_Regent
adding regent to republiek
getting batfra_regionaal
adding regionaal to batfra
getting negentiende_eeuw_regionaal
adding regionaal to negentiende_eeuw
getting me_regionaal
adding regionaal to me
getting divperioden_regionaal
adding regionaal to divperioden
getting republiek_regionaal
adding regionaal to republiek
getting batfra_stand
adding stand to batfra
getting negentiende_eeuw_stand
adding stand to negentiende_eeuw
getting me_stand
adding stand to me
getting divperioden_stand
adding stand to divperioden
getting republiek_stand
adding stand to republiek
getting batfra_BovenLokaalCollegeRegentDetails
adding bovenlokaalcollegeregentdetails to batfra
getting negentiende_eeuw_BovenLokaalCollegeRegentDetails
adding bovenlokaalcollegeregentdetails to negentiende_eeuw
getting me_BovenLokaalCollegeRegentDetails
adding bovenlokaalcollegeregentdetails to me
getting divperioden_BovenLokaalCollegeRegentDetails
adding bovenlokaalcollegeregentdetails to divperioden
getting republiek_BovenLokaalCollegeRegentDetails
adding bovenlokaalcollegeregentdetails to republiek
getting batfra_Gewest
adding gewest to batfra
getting negentiende_eeuw_Gewest
adding gewest to negentiende_eeuw
getting me_Gewest
adding gewest to me
getting republiek_Gewest
adding gewest to republiek

In [7]:
common_tables = [t.lower() for t in common_tables]
common_tables

['academischetitel',
 'adellijketitel',
 'aliassen',
 'bron',
 'bronfunctiedetails',
 'bronregentdetails',
 'college',
 'data',
 'functie',
 'functiebovenlokaal',
 'functielokaal',
 'lokaal',
 'provinciaal',
 'regent',
 'regionaal',
 'stand',
 'bovenlokaalcollegeregentdetails',
 'gewest']

In [8]:
ids = {'AcademischeTitel': ['IDAcademischeTitel'],
'AdellijkeTitel': ['IDAdellijkeTitel'],
'aliassen': ['IDPersoon'],
'Bron': ['IDBron'],
'BronFunctieDetails': ['IDBron','IDBovenLokaalCollegeRegentDetails'],
'BronRegentDetails': ['IDRegent','IDBron'],
'College': ['IDCollege','Id'],
'Functie': ['IDFunctie','Id'],
'FunctieBovenLokaal': ['ID FunctieBovenLokaal'],
'FunctieLokaal': ['ID FunctieLokaal'],
'lokaal': ['IDlokaal'],
'provinciaal': ['IDprovincie'],
'Regent': ['IDRegent', 'IDAdellijkeTitel','IDAcademischeTitel'],
'regionaal': ['IDregio', 'IDRegio'],
'stand': ['IDstand'],
'BovenLokaalCollegeRegentDetails': ['ID','IDRegent','IDFunctie','IDCollege',
        'lokaal', 'provinciaal', 'regio', 'stand',
       'vertegenwoordigend'],
'Gewest': ['IDGewest'],}
nids = {}
for k in ids.keys():
    v = [x.lower() for x in ids[k]]
    nids[k.lower()] = v

In [9]:
# joined means merged as in making one table from different tables
# we first change the ids and reference ids to old ids and add the table origin to the id

idmappings = defaultdict(list)
joined_tables = {}
for tbl in common_tables:
    for key in table_dict.keys():
        if tbl in table_dict[key].keys():
            addtbl = table_dict[key][tbl]
        else:
            print (f"no {tbl} in {key}")
        try:
            for idnr in nids.get(tbl):
                addtbl[f'old_{idnr}'] = addtbl[idnr].astype(pd.Int64Dtype()).apply(lambda x: f"{key}_{x}")
                idmappings[f'old_{idnr}'].append(tbl)
        except (KeyError, TypeError):
            print (f"no {idnr} on {tbl} in {key}")
        if tbl in joined_tables.keys():
            print(f"joining {key}, {tbl}")
            joined_tables[tbl] = pd.concat([joined_tables[tbl],addtbl])
        else:
            joined_tables[tbl] = addtbl
        joined_tables[tbl].reset_index(inplace=True, drop=True)

joining negentiende_eeuw, academischetitel
joining me, academischetitel
joining divperioden, academischetitel
joining republiek, academischetitel
joining negentiende_eeuw, adellijketitel
joining me, adellijketitel
joining divperioden, adellijketitel
joining republiek, adellijketitel
joining negentiende_eeuw, aliassen
joining me, aliassen
joining divperioden, aliassen
joining republiek, aliassen
joining negentiende_eeuw, bron
joining me, bron
joining divperioden, bron
joining republiek, bron
joining negentiende_eeuw, bronfunctiedetails
joining me, bronfunctiedetails
joining divperioden, bronfunctiedetails
joining republiek, bronfunctiedetails
joining negentiende_eeuw, bronregentdetails
joining me, bronregentdetails
joining divperioden, bronregentdetails
joining republiek, bronregentdetails
joining negentiende_eeuw, college
joining me, college
joining divperioden, college
joining republiek, college
no id on data in batfra
no id on data in negentiende_eeuw
joining negentiende_eeuw, data
no id on data in me
joining me, data
no id on data in divperioden
joining divperioden, data
no id on data in republiek
joining republiek, data
joining negentiende_eeuw, functie
joining me, functie
joining divperioden, functie
joining republiek, functie
no functiebovenlokaal in negentiende_eeuw
joining negentiende_eeuw, functiebovenlokaal
joining me, functiebovenlokaal
joining divperioden, functiebovenlokaal
joining republiek, functiebovenlokaal
joining negentiende_eeuw, functielokaal
joining me, functielokaal
joining divperioden, functielokaal
joining republiek, functielokaal
joining negentiende_eeuw, lokaal
joining me, lokaal
joining divperioden, lokaal
joining republiek, lokaal
joining negentiende_eeuw, provinciaal
joining me, provinciaal
joining divperioden, provinciaal
joining republiek, provinciaal
joining negentiende_eeuw, regent
joining me, regent
joining divperioden, regent
joining republiek, regent
joining negentiende_eeuw, regionaal
joining me, regionaal
joining divperioden, regionaal
joining republiek, regionaal
joining negentiende_eeuw, stand
joining me, stand
joining divperioden, stand
joining republiek, stand
joining negentiende_eeuw, bovenlokaalcollegeregentdetails
joining me, bovenlokaalcollegeregentdetails
joining divperioden, bovenlokaalcollegeregentdetails
joining republiek, bovenlokaalcollegeregentdetails
joining negentiende_eeuw, gewest
joining me, gewest
no gewest in divperioden
joining divperioden, gewest
joining republiek, gewest

In [10]:
joined_tables['aanstelling'] = joined_tables.pop('bovenlokaalcollegeregentdetails')
joined_tables['persoon'] = joined_tables.pop('regent')

In [11]:
joined_tables.keys()

dict_keys(['academischetitel', 'adellijketitel', 'aliassen', 'bron', 'bronfunctiedetails', 'bronregentdetails', 'college', 'data', 'functie', 'functiebovenlokaal', 'functielokaal', 'lokaal', 'provinciaal', 'regionaal', 'stand', 'gewest', 'aanstelling', 'persoon'])

In [12]:
ids = nids

outdir = "/Users/rikhoekstra/PycharmProjects/nw_raa/convert_raa/original/brondata/rawconvert"
try:
    os.makedirs(outdir)
except FileExistsError:
    pass
for key in joined_tables.keys():
    dfout = joined_tables[key]
    dfout.to_csv(os.path.join(outdir, key + '.csv'))

In [13]:
joined_tables['gewest']

   index idgewest       gewest  old_idgewest
0      0        1            -      batfra_1
1      1        2      Zeeland      batfra_2
2      0        1            -   republiek_1
3      1        2    Groningen   republiek_2
4      2        3      Holland   republiek_3
5      3        5      Zeeland   republiek_5
6      4        6    Friesland   republiek_6
7      5        7      Utrecht   republiek_7
8      6        8   Gelderland   republiek_8
9      7        9   Overijssel   republiek_9
10     8       10       H en Z  republiek_10
11     9       11     Oostergo  republiek_11
12    10       12     Westergo  republiek_12
13    11       13  Zevenwolden  republiek_13
14    12       14       Steden  republiek_14

## Overhaul: no more regent from here

all references to regent should disappear, because it kept getting confused with the target name persoon.

In [14]:
# we still need to set a new id on regent 
persoon = joined_tables['persoon']
persoon["persoon_id"] = persoon.index + 1 
persoon.reset_index(inplace=True, drop=True)

joined_tables.keys()

In [15]:
persoon.old_idregent.value_counts()

me_2783           2
republiek_5050    1
republiek_718     1
republiek_5155    1
republiek_2559    1
                 ..
republiek_5745    1
republiek_487     1
me_4330           1
republiek_5813    1
me_5329           1
Name: old_idregent, Length: 20002, dtype: int64

In [16]:
cols = ['geboortejaar','geslachtsnaam', 'heerlijkheid',
       'overlijdensjaar', 'overlijdensmaand',
       'tussenvoegsel','voornaam']

In [17]:
duplicates = persoon.loc[(persoon[cols].duplicated(keep=False))].sort_values('geslachtsnaam')

In [18]:
xx = duplicates.merge(duplicates, left_on=cols,right_on=cols, suffixes=('l', 's'))

In [19]:
keypairs = xx.loc[xx.idregentl != xx.idregents][['idregentl' ,'idregents']]
dup = persoon.loc[persoon.duplicated(cols)]
zz = keypairs.loc[keypairs.idregentl.isin(dup.idregent)]

In [20]:
persoon[cols].drop_duplicates(inplace=True)
persoon.reset_index(drop=True, inplace=True)

<ipython-input-20-6bb1b68595a0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  persoon[cols].drop_duplicates(inplace=True)

In [21]:
def sup(x):
    result = x[0]
    if x[1] not in [None, '']:
        result = ' en '.join(x)
    return result

persoon.heerlijkheid.fillna('', inplace=True)
persoon.heerlijkheid2.fillna('', inplace=True)
persoon.heerlijkheid = persoon.apply(lambda x: x.heerlijkheid + ' en ' + x.heerlijkheid2  if x.heerlijkheid2 !='' else x.heerlijkheid, axis=1)

In [22]:
def my_conv(x):
    try:
        return pd.Period(x, freq="D")
    except ValueError:
        pass

def try_padding(possible_int):
    """I stole this from the original code  by Jan Wijbrand"""
    try:
        possible_int = int(possible_int)
        return '%02d'%possible_int
    except (ValueError, TypeError) as e:
        if possible_int.find('?')>-1: #they put a ? in a year!!!!!
            return possible_int
        elif not np.isnan(possible_int):
            return possible_int

In [23]:
# we replace overlijdensjaar with ? as last digit with 9
# that is the only real edit, all other non-standard date elements are replaced
persoon.overlijdensjaar.replace('?','9', inplace=True)

In [24]:
for j in ["geboortedag", "geboortemaand", "geboortejaar", 
          "overlijdensdag", "overlijdensmaand", "overlijdensjaar"]:
    persoon[j] = pd.to_numeric(persoon[j], errors="coerce")

In [25]:
persoon["geboortedatum_als_bekend"] = persoon.apply(lambda x: '-'.join([try_padding(d) for d in [
                        x.geboortedag, x.geboortemaand, x.geboortejaar ] if d and not np.isnan(d)]),
                        axis=1)

In [26]:
# the d==d is a workaround for all None and NaN, as they are the only items that have no identity
persoon["overlijdensdatum_als_bekend"] = persoon.apply(lambda x: '-'.join([try_padding(d) for d in [
                        x.overlijdensdag, x.overlijdensmaand, x.overlijdensjaar ] if d and d==d]),
                        axis=1)

In [27]:
def makedate_from_givendate(givendate, start=True):
    """we make a date from any given date using the following rules:
    - make a pandas period from anything with day month year
    - anydate without a year will be turned into either a start or a closing date by filling 
    in month and day: 1-1 for startdate 31-12 for closing date
    - dates with question marks for a final year will get replaced by 9 for closing date and 
    0 for startdate
    """
    #months = {'1':'January','2':'February','3':'March','4':'April','5':'May','6':'June',
    #         '7':'July','8':'August','9':'September','10':'October','11':'November','12':'December'}
    if not givendate or type(givendate) != str:
        return
    year = 1000
    if start==True:
        month = 1
        day = 1
        questionmark = '0'
    else:
        month = 12
        day = 31
        questionmark = '9'
    
    parts = givendate.split('-')
    if len(parts) == 0:
        return

    if len(parts)==3:
        day,month,year = parts
    else:
        year = parts[-1] #I don't think there are dates with only years and months
    year = year.replace('?', questionmark)
    try:
        year = int(year)
    except (TypeError, ValueError):
        #import pdb; pdb.set_trace()
        if year == '':
            return
        
    try:
        month = int(month)
        if int(month) > 12:
            month = 12
    except TypeError:
        pass
    try:
        day = int(day)
    except TypeError:
        if type(month)==int:
            if start:
                day = 1
            else:
                day = 31
    
    try:
        result = pd.Period(year=year, month=month, day=day,freq="D")
    except (ValueError, TypeError):
        #import pdb; pdb.set_trace()
        if month==2 and int(day) == 29:
            corrected_day = int(day) - 1 # out of bounds day for february
        else:
            if start == True:
                corrected_day = 1
            else:
                corrected_day = 28
        result = pd.Period(year=year, month=month, day=corrected_day,freq="D")
    except:
        import pdb; pdb.set_trace()
        print(givendate)
        result = None
        raise
    return result.strftime("%Y-%m-%d")




#test
# but commented out here
for item in ['02-03-1493',
            '03-1632',
            '1721',
            '143?',
            '',
            '22-12-1293',
            '96-06-1841',
             '02-28-1650',
             '29-02-1650',
             '39-4-1802'
             '31-02-1734',
             '31-06-1703',
             np.nan]:
    print('begin result: ', makedate_from_givendate(item, start=True))

begin result:  1493-03-02
begin result:  1632-01-01
begin result:  1721-01-01
begin result:  1430-01-01
begin result:  None
begin result:  1293-12-22
begin result:  1841-09-04
begin result:  1650-12-02
begin result:  1650-03-01
begin result:  1734-01-01
begin result:  1703-07-01
begin result:  None

In [28]:
persoon["geboortedatum"] = persoon.geboortedatum_als_bekend.apply(lambda x: makedate_from_givendate(x,start=True))

In [29]:
persoon["overlijdensdatum"] = persoon.overlijdensdatum_als_bekend.apply(lambda x: makedate_from_givendate(x,start=False))

In [30]:
persoon.tussenvoegsel.fillna('', inplace=True)
persoon.geslachtsnaam.fillna('', inplace=True) # gross
persoon['searchable'] = persoon[["tussenvoegsel", "geslachtsnaam"]].apply(lambda x: ' '.join(x), axis=1).str.strip()

In [31]:
persoon[['geboortedatum_als_bekend', 'geboortedatum']].sample(25)

      geboortedatum_als_bekend geboortedatum
17418                     1696    1696-01-01
4919                08-03-1757    1757-03-08
18070                                   None
9775                      1537    1537-01-01
16054                                   None
15167                     1653    1653-01-01
7696                                    None
18755                                   None
12527                     1618    1618-01-01
14506                     1640    1640-01-01
18358                                   None
16446                     1659    1659-01-01
5767                23-03-1793    1793-03-23
6513                21-09-1776    1776-09-21
7859                                    None
16621                                   None
4110                07-02-1802    1802-02-07
2701                      1760    1760-01-01
16617                     1728    1728-01-01
12366                     1582    1582-01-01
2529                      1766    1766-01-01
15712                                   None
4313                26-07-1790    1790-07-26
8328                                    None
17341                                   None

In [32]:
persoon.reset_index(drop=True, inplace=True)
joined_tables['persoon'] = persoon
#regent.searchable

## Overhaul 2: no more blcrd or bovenlokaalcollegeregentdetails from here

In [33]:
aanstelling = joined_tables['aanstelling']

In [34]:
# we tried to do this with more heuristics, but in the end we just edit out faulty stuff as we do not know
# what to make of it anyway
for d in ['begindag', 'beginmaand', 'beginjaar', 'einddag','eindmaand','eindjaar']:
    try:
        #blcrd[d] = blcrd[d].str.replace(r'[^0-9]+','',regex=True)
        #blcrd[d] = blcrd[d].str.replace(r'[\)\<\-\?\/\>]|Jaco|Duve|Leid|Clee|Will|Krus','',regex=True)
        aanstelling[d] = pd.to_numeric(aanstelling[d], errors='coerce') # this automatically kicks out mistakes in dates
    except AttributeError:
        pass

In [35]:
aanstelling["van_als_bekend"] = aanstelling.apply(lambda x: '-'.join([try_padding(d) for d in [
                        x.begindag, x.beginmaand, x.beginjaar ] if d and not np.isnan(d)]),
                        axis=1)

In [36]:
aanstelling["tot_als_bekend"] = aanstelling.apply(lambda x: '-'.join([try_padding(d) for d in [
                        x.einddag, x.eindmaand, x.eindjaar] if d and d==d]),
                        axis=1)

In [37]:
aanstelling[['begindag','beginmaand','beginjaar','van_als_bekend']]

       begindag  beginmaand  beginjaar van_als_bekend
0           2.0        10.0     1801.0     02-10-1801
1          16.0         7.0     1799.0     16-07-1799
2           3.0        12.0     1801.0     03-12-1801
3           1.0        12.0     1807.0     01-12-1807
4          19.0         8.0     1809.0     19-08-1809
...         ...         ...        ...            ...
49676       1.0         5.0     1791.0     01-05-1791
49677      17.0         8.0     1649.0     17-08-1649
49678      14.0         6.0     1681.0     14-06-1681
49679      19.0         6.0     1605.0     19-06-1605
49680       NaN         NaN     1655.0           1655

[49681 rows x 4 columns]

In [38]:
for item in ['van', 'tot']:
    if item == 'tot':
        start = False
    else:
        start=True
    aanstelling[item] = aanstelling[f"{item}_als_bekend"].apply(lambda x: makedate_from_givendate(x,start=start))
    aanstelling[item] = aanstelling[item].astype(str)

In [39]:
makedate_from_givendate("00-10-1801")

'1801-10-02'

In [40]:
aanstelling.loc[aanstelling.van_als_bekend.notna()].sample(25)

,index,id,periode,idregent,idfunctie,idcollege,begindag,beginmaand,beginjaar,einddag,...,old_idcollege,old_lokaal,old_provinciaal,old_regio,old_stand,old_vertegenwoordigend,van_als_bekend,tot_als_bekend,van,tot
11602,4874,8009,3,7721.0,1.0,91.0,19.0,9.0,1814.0,NaN,...,negentiende_eeuw_91,negentiende_eeuw_0,negentiende_eeuw_0,negentiende_eeuw_0,negentiende_eeuw_2,negentiende_eeuw_0,19-09-1814,1817,1814-09-19,1817-12-31
6679,6679,8827,2,2791.0,547.0,129.0,NaN,5.0,1805.0,NaN,...,batfra_129,batfra_0,batfra_0,batfra_0,batfra_0,batfra_0,05-1805,,1805-01-01,None
48558,20670,23731,1,5006.0,50.0,27.0,21.0,11.0,1633.0,NaN,...,republiek_27,republiek_40,republiek_8,republiek_11,republiek_0,republiek_0,21-11-1633,,1633-11-21,None
45580,17692,20169,1,6377.0,28.0,66.0,NaN,NaN,NaN,NaN,...,republiek_66,republiek_<NA>,republiek_0,republiek_0,republiek_0,republiek_1,,,None,None
41427,13539,15954,1,5085.0,76.0,139.0,23.0,2.0,1742.0,22.0,...,republiek_139,republiek_<NA>,republiek_0,republiek_0,republiek_0,republiek_0,23-02-1742,22-02-1743,1742-02-23,1743-02-22
41441,13553,15969,1,4416.0,76.0,139.0,23.0,2.0,1773.0,22.0,...,republiek_139,republiek_<NA>,republiek_0,republiek_0,republiek_0,republiek_0,23-02-1773,22-02-1775,1773-02-23,1775-02-22
4717,4717,6296,2,572.0,338.0,422.0,6.0,5.0,1800.0,1.0,...,batfra_422,batfra_<NA>,batfra_<NA>,batfra_<NA>,batfra_0,batfra_0,06-05-1800,01-05-1804,1800-05-06,1804-05-01
6238,6238,8354,2,1046.0,338.0,345.0,4.0,11.0,1795.0,NaN,...,batfra_345,batfra_164,batfra_0,batfra_<NA>,batfra_0,batfra_0,04-11-1795,,1795-11-04,None
9918,3190,4579,2,5113.0,1.0,73.0,2.0,7.0,1861.0,24.0,...,negentiende_eeuw_73,negentiende_eeuw_92,negentiende_eeuw_<NA>,negentiende_eeuw_<NA>,negentiende_eeuw_<NA>,negentiende_eeuw_0,02-07-1861,24-01-1873,1861-07-02,1873-01-24
14734,1257,4507,0,583.0,158.0,2.0,NaN,NaN,1433.0,NaN,...,me_2,me_0,me_0,me_0,me_0,me_0,1433,1435,1433-01-01,1435-12-31
36508,8620,10383,1,3558.0,28.0,118.0,NaN,NaN,1742.0,NaN,...,republiek_118,republiek_<NA>,republiek_0,republiek_0,republiek_0,republiek_1,1742,1765,1742-01-01,1765-12-31
46,46,55,2,382.0,335.0,74.0,NaN,NaN,NaN,NaN,...,batfra_74,batfra_<NA>,batfra_0,batfra_<NA>,batfra_<NA>,batfra_0,,02-1803,None,1803-12-31
4303,4303,5799,2,375.0,338.0,301.0,2.0,11.0,1799.0,25.0,...,batfra_301,batfra_<NA>,batfra_0,batfra_0,batfra_0,batfra_0,02-11-1799,25-06-1802,1799-11-02,1802-06-25
44536,16648,19068,1,4514.0,80.0,144.0,20.0,3.0,1764.0,NaN,...,republiek_144,republiek_<NA>,republiek_0,republiek_0,republiek_0,republiek_0,20-03-1764,,1764-03-20,None
19589,6112,14962,0,1664.0,192.0,0.0,NaN,NaN,1442.0,NaN,...,me_0,me_0,me_0,me_0,me_0,me_0,1442,1465,1442-01-01,1465-12-31
30892,3004,3447,1,81.0,28.0,83.0,NaN,NaN,1749.0,NaN,...,republiek_83,republiek_<NA>,republiek_<NA>,republiek_<NA>,republiek_<NA>,republiek_1,1749,1783,1749-01-01,1783-12-31
28938,1050,2452,1,1156.0,1.0,34.0,4.0,6.0,1682.0,NaN,...,republiek_34,republiek_19,republiek_3,republiek_<NA>,republiek_<NA>,republiek_0,04-06-1682,1684,1682-06-04,1684-12-31
41160,13272,15431,1,5569.0,76.0,139.0,25.0,2.0,1632.0,25.0,...,republiek_139,republiek_<NA>,republiek_0,republiek_0,republiek_0,republiek_0,25-02-1632,25-02-1633,1632-02-25,1633-02-25
47582,19694,22427,1,6280.0,28.0,99.0,NaN,NaN,1663.0,NaN,...,republiek_99,republiek_<NA>,republiek_0,republiek_0,republiek_0,republiek_1,1663,1673,1663-01-01,1673-12-31
44610,16722,19145,1,4496.0,8.0,27.0,8.0,4.0,1734.0,NaN,...,republiek_27,republiek_<NA>,republiek_7,republiek_0,republiek_0,republiek_0,08-04-1734,,1734-04-08,None
15721,2244,6632,0,2070.0,136.0,0.0,NaN,NaN,1411.0,NaN,...,me_0,me_0,me_0,me_0,me_0,me_0,1411,1412,1411-01-01,1412-12-31
37221,9333,11115,1,3310.0,76.0,22.0,1.0,5.0,1760.0,30.0,...,republiek_22,republiek_28,republiek_<NA>,republiek_<NA>,republiek_0,republiek_0,01-05-1760,30-04-1761,1760-05-01,1761-04-30
7882,1154,2612,3,2808.0,1.0,2.0,28.0,3.0,1814.0,29.0,...,negentiende_eeuw_2,negentiende_eeuw_0,negentiende_eeuw_16,negentiende_eeuw_0,negentiende_eeuw_0,negentiende_eeuw_0,28-03-1814,29-03-1814,1814-03-28,1814-03-29
3553,3553,4914,2,2095.0,338.0,324.0,16.0,3.0,1795.0,31.0,...,batfra_324,batfra_482,batfra_0,batfra_<NA>,batfra_0,batfra_0,16-03-1795,31-03-1795,1795-03-16,1795-03-31
40065,12177,14261,1,5209.0,1.0,34.0,7.0,3.0,1782.0,NaN,...,republiek_34,republiek_<NA>,republiek_7,republiek_0,republiek_0,republiek_0,07-03-1782,,1782-03-07,None

In [41]:
joined_tables['aanstelling'] = aanstelling

wat willen we eigenlijk weten:

- gegeven een tbl met daarin titel, titelid, oude titel willen we hebben unieke titel, unieke id, referentie naar oude titel
- dus idealiter oude titel  -> nieuwe id, nieuwe titel
- daarom moeten we hebben unieke lijst van titels
- daaruit genereren we een unieke lijst van titels + id
- we voegen die dan toe aan de tabel waarin die titel wordt gerefereerd

In [42]:
# we have a number of tables that are referenced

idmappings = {i:list(set(idmappings[i])) for i in idmappings.keys()}
#idmappings

uniqtitels = pd.DataFrame(list(at.academischetitel.unique()), columns=['academischetitel'])
uniqtitels['nwnr'] = uniqtitels.index

nwtitels = pd.merge(left=uniqtitels, right=at[['old_idacademischetitel', 'academischetitel']], on='academischetitel')
#nwtitels

In [43]:
# reverse map the ids and references we have to change
graph=idmappings
transposed_graph = defaultdict(list)
for node, neighbours in graph.items():
    for neighbour in neighbours:
        transposed_graph[neighbour.lower()].append(node.lower())
#transposed_graph

# manually set the tables that contain references
reftables =['academischetitel',
 'adellijketitel',
 'bron',
 'college',
 'functie',
 'functiebovenlokaal',
 'functielokaal',
 'lokaal',
 'gewest',
 'regent',
 'provinciaal',
 'regionaal',
 'stand',
 'bovenlokaalcollegeregentdetails']

In [44]:
persoon

,index,idregent,geslachtsnaam,tussenvoegsel,idadellijketitel,idacademischetitel,voornaam,adel,adelspredikaat,heerlijkheid,...,overlijdensmaand,overlijdensplaats,tempid,opmerkingen2,persoon_id,geboortedatum_als_bekend,overlijdensdatum_als_bekend,geboortedatum,overlijdensdatum,searchable
0,0,1,Röell,,3.0,6.0,Willem Frederik,1,None,,...,NaN,NaN,NaN,NaN,1,1767,1835,1767-01-01,1835-12-31,Röell
1,1,2,Mollerus,,3.0,4.0,Johan Hendrik,1,None,Westkerke en Wulpendaal,...,NaN,NaN,NaN,NaN,2,1750,1834,1750-01-01,1834-12-31,Mollerus
2,2,3,Lodewijk Napoleon,,0.0,0.0,None,0,None,,...,NaN,NaN,NaN,NaN,3,1778,1846,1778-01-01,1846-12-31,Lodewijk Napoleon
3,3,4,Crommelin,van Wickevoort,0.0,4.0,Jan Pieter,0,None,,...,NaN,NaN,NaN,NaN,4,1763,1837,1763-01-01,1837-12-31,van Wickevoort Crommelin
4,4,6,Appelius,,0.0,4.0,Jean Henry,0,None,,...,NaN,NaN,NaN,NaN,5,1767,1828,1767-01-01,1828-12-31,Appelius
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19998,6655,6308,Reede,van,1.0,7.0,Godert Adriaan,0,None,Herreveld,...,5.0,NaN,NaN,None,19999,1674,02-05-1730,1674-01-01,1730-05-02,van Reede
19999,6656,6729,Wijnbergen,van,1.0,7.0,Sijwert,0,None,Oldenaller en Horssen,...,NaN,NaN,NaN,None,20000,,1703,None,1703-12-31,van Wijnbergen
20000,6657,5834,Arnhem tot Harselo,van,1.0,7.0,Johan,0,None,Rosendael,...,12.0,NaN,NaN,None,20001,1636,12-12-1716,1636-01-01,1716-12-12,van Arnhem tot Harselo
20001,6658,5762,Arnhem,van,1.0,7.0,Robbert,0,None,Rosendael,...,9.0,NaN,NaN,None,20002,1596,06-09-1649,1596-01-01,1649-09-06,van Arnhem
20002,6659,4579,Haersolte tot Yrst,van,1.0,7.0,Willem,0,None,,...,7.0,NaN,NaN,None,20003,1644,01-07-1728,1644-01-01,1728-07-01,van Haersolte tot Yrst

In [45]:
#but we also need to know which column contains the unique values
uniq_per_table = {
'academischetitel':{'uniq':'academischetitel','id':'old_idacademischetitel'},
'adellijketitel': {'uniq':'adellijketitel', 'id':'old_idadellijketitel'},
'bron':{'uniq':'bron','id':'old_idbron'},
'college':{'uniq':'college','id':'old_idcollege'},
'aanstelling':{'uniq':'id','id':'old_id'},
'functie':{'uniq':'functie','id':'old_idfunctie'},
'functiebovenlokaal':{'uniq':'functiebovenlokaal','id':'old_id functiebovenlokaal'}, 
'functielokaal': {'uniq':'functielokaal','id':'old_id functielokaal'},
'lokaal': {'uniq':'lokaal','id':'old_idlokaal'},
'gewest':{'uniq':'gewest','id':'old_idgewest'},
'persoon':{'uniq':'persoon_id','id':'old_idregent'},
'provinciaal':{'uniq':'provincie','id':'old_idprovincie'},
'regionaal':{'uniq':'regio','id':'old_idregio'},
'stand':{'uniq':'stand','id':'old_idstand'}
}

In [46]:
persoon.loc[persoon.old_idregent == 'me_2783']

,index,idregent,geslachtsnaam,tussenvoegsel,idadellijketitel,idacademischetitel,voornaam,adel,adelspredikaat,heerlijkheid,...,overlijdensmaand,overlijdensplaats,tempid,opmerkingen2,persoon_id,geboortedatum_als_bekend,overlijdensdatum_als_bekend,geboortedatum,overlijdensdatum,searchable
10473,3445,2783,Blyenburg,van,1.0,1.0,Adriaan,0,None,,...,NaN,NaN,NaN,NaN,10474,1560,1599,1560-01-01,1599-12-31,van Blyenburg
11610,4582,2783,Blijenburg,van,1.0,3.0,Adriaan Adriaansz.,0,None,,...,NaN,NaN,NaN,NaN,11611,,1582,None,1582-12-31,van Blijenburg

there is a double id in the middeleeuwen tables. But it's in the original. Sort out later what to do with it

In [47]:
# because there is too little uniformity between tables, we adapt the reversed table to a 
# normative registry of which table refers to which other tables (reftable), in the following form
# table: {reftables: refcolumn}} in which refcolumn is the column that is referring
# (and that should be updated)
tblregister = {'persoon': 
               {'reftables':
                    {'academischetitel':'old_idacademischetitel',
                     'adellijketitel':'old_idadellijketitel'}
                },
             'aliassen': 
                {'reftables':
                    {'persoon':'old_idpersoon'}
                },
              #'bronfunctiedetails':
              #  {'reftables':
              #      {'bron':'old_idbron',
              #      'bovenlokaalcollegeregentdetails':'old_idbovenlokaalcollegeregentdetails'}
              #  },
             'bronregentdetails': 
                {'reftables':
                    {'bron':'old_idbron',
                    'persoon':'old_idregent'}
                },
             'aanstelling': 
               {'reftables':
                    {'college':'old_idcollege',
                    'functie':'old_idfunctie',
                    'lokaal':'old_lokaal',
                    'provinciaal':'old_provinciaal',
                    'regionaal':'old_regio',
                    'stand':'old_stand',
                    'persoon':'old_idregent',}
               }
              }

In [48]:
reftables = [r for t in tblregister.keys() for r in tblregister[t]['reftables']]
list(set(reftables))

['adellijketitel',
 'bron',
 'functie',
 'regionaal',
 'persoon',
 'stand',
 'lokaal',
 'college',
 'academischetitel',
 'provinciaal']

In [49]:
from collections import OrderedDict
def case_insensitive_unique_list(data):
    d = OrderedDict()
    for word in data:
        try:
            d.setdefault(word.lower(), word)
        except AttributeError:
            pass
    return d.values()

#cased_functies = case_insensitive_unique_list(list(joined_tables['functie']['functie'].unique()))

#old function below, this had trouble with mixed case values

clean_references = {}
def get_unique(tbln):
    tbl = joined_tables[tbln]
    uniqcolumn = uniq_per_table[tbln]['uniq']
    uniqtitels = pd.DataFrame(list(tbl[uniqcolumn].unique()), columns=[uniqcolumn]).reset_index(drop=True)
    uniqtitels['id'] = uniqtitels.index + 1 # 1 based indexing for sql compatibility
    if tbln != 'regent':
        clean_references[tbln] = uniqtitels # this is what we need for our final db
    nwtable = pd.merge(left=uniqtitels.copy(), right=tbl, on=uniqcolumn, suffixes=('', 'nw'))
    nwtable = nwtable.reset_index(drop=True)
    nwtable[f'{tbln}_id'] = nwtable.index + 1
    return nwtable

In [50]:
# this function now converts selected columns like function and titles to lowercase 

clean_references = {}
def get_unique_lower(tbln):
    tbl = joined_tables[tbln]
    uniqcolumn = uniq_per_table[tbln]['uniq']
    if pd.api.types.is_numeric_dtype(tbl[uniqcolumn].dtype):
        uniqtitels = pd.DataFrame(list(tbl[uniqcolumn].unique()), columns=[uniqcolumn]).reset_index(drop=True)
    else:
        case_insensitive_column = case_insensitive_unique_list(list(tbl[uniqcolumn].unique()))
        uniqtitels = pd.DataFrame(case_insensitive_column, columns=[uniqcolumn]).reset_index(drop=True)
    uniqtitels['id'] = uniqtitels.index + 1 # 1 based indexing for sql compatibility
    if tbln != 'persoon':
        clean_references[tbln] = uniqtitels # this is what we need for our final db
    try:
        nwtable = pd.merge(left=uniqtitels.copy(), right=tbl, on=uniqcolumn, suffixes=('', 'nw'))
    except KeyError:
        print(uniqtitels.columns, tbl.columns)
    nwtable = nwtable.reset_index(drop=True)
    nwtable[f'{tbln}_id'] = nwtable.id
    return nwtable

get_unique_lower('functie')

get_unique_lower('regent')

In [51]:
tbln = 'persoon'
tbl = joined_tables['persoon']
uniqcolumn = uniq_per_table[tbln]['uniq']
case_insensitive_column = case_insensitive_unique_list(list(tbl[uniqcolumn].unique()))
uniqcolumn

'persoon_id'

In [52]:
persoon.persoon_id.value_counts() # looks ok

2049     1
19763    1
9534     1
15677    1
13628    1
        ..
19100    1
4759     1
6806     1
661      1
2047     1
Name: persoon_id, Length: 20003, dtype: int64

In [53]:
references = {}
for tbln in reftables:    
    ntbln = get_unique_lower(tbln)
    ntbln.reset_index(inplace=True, drop=True)
    references[tbln] = ntbln
    print (f"updated {tbln}")

updated academischetitel
updated adellijketitel
updated persoon
updated bron
updated persoon
updated college
updated functie
updated lokaal
updated provinciaal
updated regionaal
updated stand
updated persoon

In [54]:
updatetables = ['persoon', 
                'aliassen',  
                'bronregentdetails', 
                'aanstelling',
                ]

In [55]:

def replace_ids(worktable=None, wtbln='', reftable=''):
    """replace reference ids in a worktable. We need to pass both worktable itself as its name
    in order to be able to loop this """
    left_on = tblregister[wtbln]['reftables'][reftable]  # join column for worktable
    right_on = uniq_per_table[reftable]['id'] # join column for reftable
    targetcolumn = reftable + '_id'
    rtable = references[reftable][[right_on, reftable + '_id']] # reftable itself
    print(f"updating worktable {wtbln} from {reftable} on {right_on}={left_on}")
    updated = worktable.merge(rtable, how='left', left_on=left_on, right_on=right_on, suffixes=('', '_new')).reset_index(drop=True)
    updated[targetcolumn] = np.where(pd.notnull(updated[targetcolumn]), updated[targetcolumn], None)
    updated.drop([c for c in updated.columns if '_new' in c], axis=1, inplace=True) # reset old table
    origcols = updated.columns
    updated.reset_index(inplace=True, drop=True) # to be sure
    updated = updated[[c for c in origcols]]
    return updated

In [56]:
joined_tables.keys()

dict_keys(['academischetitel', 'adellijketitel', 'aliassen', 'bron', 'bronfunctiedetails', 'bronregentdetails', 'college', 'data', 'functie', 'functiebovenlokaal', 'functielokaal', 'lokaal', 'provinciaal', 'regionaal', 'stand', 'gewest', 'aanstelling', 'persoon'])

In [57]:
nwetabellen = {}
for tbln in tblregister.keys():
    if tbln in updatetables:
        worktable = references.get(tbln)
        if worktable is None:
            worktable = joined_tables[tbln]
        for reference in tblregister[tbln]['reftables'].keys():
            rtbl = reference
            referencecolumn = tblregister[tbln]['reftables'][reference]
            
            workreference = references.get(rtbl)

            #print ('workreference: ', workreference)
            if workreference is not None:
                column = uniq_per_table[rtbl]['id']
                uniqcolumn = uniq_per_table[rtbl]['uniq']
                print (f"updating {tbln} with {rtbl}, columns: {column},{referencecolumn}!")
                columnlist = list(worktable.columns)+[f'{rtbl}_id']
                #if tbln=='bovenlokaalcollegeregentdetails':
                    #print (columnlist)
                worktable = worktable.merge(workreference[[column, f'{rtbl}_id']], left_on=referencecolumn, right_on=column, how='left')
                mclist = [c for c in columnlist if c in worktable.columns]
                updatedworktable = worktable[mclist]
            if rtbl not in nwetabellen.keys():
                nwetabellen[rtbl] = references[rtbl]
            worktable = updatedworktable
            worktable.reset_index(drop=True, inplace=True)
        nwetabellen[tbln] = worktable
        print('nwetabellen updated with ', tbln)
    else:
        nwetabellen[tbln] = references[tbln]

# we need to fix some more

updating persoon with academischetitel, columns: old_idacademischetitel,old_idacademischetitel!
updating persoon with adellijketitel, columns: old_idadellijketitel,old_idadellijketitel!
nwetabellen updated with  persoon
updating aliassen with persoon, columns: old_idregent,old_idpersoon!
nwetabellen updated with  aliassen
updating bronregentdetails with bron, columns: old_idbron,old_idbron!
updating bronregentdetails with persoon, columns: old_idregent,old_idregent!
nwetabellen updated with  bronregentdetails
updating aanstelling with college, columns: old_idcollege,old_idcollege!
updating aanstelling with functie, columns: old_idfunctie,old_idfunctie!
updating aanstelling with lokaal, columns: old_idlokaal,old_lokaal!
updating aanstelling with provinciaal, columns: old_idprovincie,old_provinciaal!
updating aanstelling with regionaal, columns: old_idregio,old_regio!
updating aanstelling with stand, columns: old_idstand,old_stand!
updating aanstelling with persoon, columns: old_idregent,old_idregent!
nwetabellen updated with  aanstelling

From here rename bovenlokaalcollegeregentdetails en regent and do not refer to either regent or boven...details anymore

In [58]:
nwetabellen['aanstelling'].reset_index(inplace=True, drop=True)
nwetabellen['aanstelling']['id'] = nwetabellen['aanstelling'].index

In [59]:
nwetabellen['aanstelling'].columns

Index(['index', 'id', 'periode', 'idregent', 'idfunctie', 'idcollege',
       'begindag', 'beginmaand', 'beginjaar', 'einddag', 'eindmaand',
       'eindjaar', 'vertegenwoordigend', 'provinciaal', 'opmerkingen', 'stand',
       'lokaal', 'regio', 'old_id', 'old_idregent', 'old_idfunctie',
       'old_idcollege', 'old_lokaal', 'old_provinciaal', 'old_regio',
       'old_stand', 'old_vertegenwoordigend', 'van_als_bekend',
       'tot_als_bekend', 'van', 'tot', 'college_id', 'functie_id', 'lokaal_id',
       'provinciaal_id', 'regionaal_id', 'stand_id', 'persoon_id'],
      dtype='object')

In [60]:
nwetabellen['aanstelling'][['college_id', 'functie_id', 'lokaal_id', 'persoon_id', 'old_idcollege', 'old_idfunctie', 'old_idregent']]

,college_id,functie_id,lokaal_id,persoon_id,old_idcollege,old_idfunctie,old_idregent
0,90.0,43.0,NaN,242.0,batfra_127,batfra_92,batfra_335
1,144.0,114.0,NaN,242.0,batfra_198,batfra_326,batfra_335
2,91.0,111.0,NaN,242.0,batfra_128,batfra_307,batfra_335
3,7.0,196.0,NaN,128.0,batfra_7,batfra_525,batfra_166
4,146.0,119.0,NaN,128.0,batfra_200,batfra_338,batfra_166
...,...,...,...,...,...,...,...
49683,526.0,119.0,259.0,17777.0,republiek_162,republiek_76,republiek_4894
49684,526.0,119.0,NaN,19882.0,republiek_162,republiek_76,republiek_7058
49685,526.0,119.0,263.0,17750.0,republiek_162,republiek_76,republiek_4866
49686,526.0,119.0,259.0,19844.0,republiek_162,republiek_76,republiek_7042
49687,470.0,119.0,NaN,20000.0,republiek_56,republiek_28,republiek_6729

In [61]:
aanstelling = nwetabellen['aanstelling']
persoon = nwetabellen['persoon']

In [62]:
patchtbl = idmappings['old_idregent']
idmappings

{'old_idacademischetitel': ['regent', 'academischetitel'],
 'old_idadellijketitel': ['regent', 'adellijketitel'],
 'old_idpersoon': ['aliassen'],
 'old_idbron': ['bron', 'bronregentdetails', 'bronfunctiedetails'],
 'old_idbovenlokaalcollegeregentdetails': ['bronfunctiedetails'],
 'old_idregent': ['regent',
  'bovenlokaalcollegeregentdetails',
  'bronregentdetails'],
 'old_idcollege': ['bovenlokaalcollegeregentdetails', 'college'],
 'old_id': ['bovenlokaalcollegeregentdetails', 'functie', 'college'],
 'old_idfunctie': ['functie', 'bovenlokaalcollegeregentdetails'],
 'old_id functiebovenlokaal': ['functiebovenlokaal'],
 'old_id functielokaal': ['functielokaal'],
 'old_idlokaal': ['lokaal'],
 'old_idprovincie': ['provinciaal'],
 'old_idregio': ['regionaal'],
 'old_idstand': ['stand'],
 'old_lokaal': ['bovenlokaalcollegeregentdetails'],
 'old_provinciaal': ['bovenlokaalcollegeregentdetails'],
 'old_regio': ['bovenlokaalcollegeregentdetails'],
 'old_stand': ['bovenlokaalcollegeregentdetails'],
 'old_vertegenwoordigend': ['bovenlokaalcollegeregentdetails'],
 'old_idgewest': ['gewest']}

In [63]:
for tbl in patchtbl:
    try:
        ptbl = nwetabellen[tbl]
    except KeyError:
        replkey = {'regent':'persoon',
                   'bovenlokaalcollegeregentdetails':'aanstelling'}
        tbl = replkey[tbl]   
        ptbl = nwetabellen[tbl]
    updated = ptbl.merge(zz, how='left', left_on='persoon_id', right_on='idregents', suffixes=('', '_new'))
    updated['persoon_id'] = np.where(pd.notnull(updated['idregentl']), updated['idregentl'], updated['persoon_id'])
    updated.drop(['idregents', 'idregentl'], axis=1, inplace=True)
    print (f"updated {tbl}")

updated persoon
updated aanstelling
updated bronregentdetails

it appears that the academische_titel table contains duplicate values in that there is a Dr. and a dr. We throw out Dr. here and replace all references in the persoon tabel

clean_references['academischetitel'].drop([10,11,12], inplace=True)
clean_references['academischetitel']

nwetabellen['persoon'].academischetitel_id = nwetabellen['persoon'].academischetitel_id.replace(10,1)
nwetabellen['persoon'].academischetitel_id = nwetabellen['persoon'].academischetitel_id.replace(11,2)
nwetabellen['perrsoon'].academischetitel_id = nwetabellen['persoon'].academischetitel_id.replace(12,3)

In [64]:
nwetabellen['aanstelling'].columns

Index(['begindag', 'beginjaar', 'beginmaand', 'einddag', 'eindjaar',
       'eindmaand', 'id', 'idcollege', 'idfunctie', 'idregent', 'index',
       'lokaal', 'old_id', 'old_idcollege', 'old_idfunctie', 'old_idregent',
       'old_lokaal', 'old_provinciaal', 'old_regio', 'old_stand',
       'old_vertegenwoordigend', 'opmerkingen', 'periode', 'provinciaal',
       'regio', 'stand', 'vertegenwoordigend', 'van_als_bekend',
       'tot_als_bekend', 'van', 'tot', 'college_id', 'functie_id', 'lokaal_id',
       'provinciaal_id', 'regionaal_id', 'stand_id', 'persoon_id'],
      dtype='object')

In [65]:
aanstelling.persoon_id.value_counts() == nwetabellen['aanstelling'].persoon_id.value_counts()

11469.0    True
18840.0    True
17676.0    True
10057.0    True
18838.0    True
           ...
11566.0    True
19448.0    True
2789.0     True
17101.0    True
6104.0     True
Name: persoon_id, Length: 19939, dtype: bool

In [64]:
nwetabellen['persoon'].columns

Index(['persoon_id', 'id', 'index', 'idregent', 'geslachtsnaam',
       'tussenvoegsel', 'idadellijketitel', 'idacademischetitel', 'voornaam',
       'adel', 'adelspredikaat', 'heerlijkheid', 'heerlijkheid2',
       'geboortejaar', 'onbepaaldgeboortedatum', 'overlijdensjaar',
       'onbepaaldoverlijdensdatum', 'opmerkingen', 'periode', 'eindcontrole',
       'old_idregent', 'old_idadellijketitel', 'old_idacademischetitel',
       'geboortedag', 'geboortemaand', 'doopjaar', 'geboorteplaats',
       'overlijdensdag', 'overlijdensmaand', 'overlijdensplaats', 'tempid',
       'opmerkingen2', 'geboortedatum_als_bekend',
       'overlijdensdatum_als_bekend', 'geboortedatum', 'overlijdensdatum',
       'searchable', 'academischetitel_id', 'adellijketitel_id'],
      dtype='object')

In [65]:
persoon = nwetabellen['persoon']
persoon.rename(columns={
        'heerlijkheid':'heerlijkheid',
        'voornaam':'voornaam',
        'tussenvoegsel':'tussenvoegsel',
        'geslachtsnaam':'geslachtsnaam',
        'searchable_geslachtsnaam':'searchable',
        'geboortedatum':'geboortedatum',
        'geboortedatum_als_bekend':'geboortedatum_als_bekend',
        'geboorteplaats':'geboorteplaats',
        'doopjaar':'doopjaar',
        'overlijdensdatum':'overlijdensdatum',
        'overlijdensdatum_als_bekend':'overlijdensdatum_als_bekend',
        'overlijdensplaats':'overlijdensplaats',
        'adellijketitel_id':'adellijketitel_id',
        'academischetitel_id':'academischetitel_id',
        'opmerkingen':'opmerkingen',
        }, inplace=True)
nwetabellen['persoon'] = persoon

In [66]:
persoon.columns

Index(['persoon_id', 'id', 'index', 'idregent', 'geslachtsnaam',
       'tussenvoegsel', 'idadellijketitel', 'idacademischetitel', 'voornaam',
       'adel', 'adelspredikaat', 'heerlijkheid', 'heerlijkheid2',
       'geboortejaar', 'onbepaaldgeboortedatum', 'overlijdensjaar',
       'onbepaaldoverlijdensdatum', 'opmerkingen', 'periode', 'eindcontrole',
       'old_idregent', 'old_idadellijketitel', 'old_idacademischetitel',
       'geboortedag', 'geboortemaand', 'doopjaar', 'geboorteplaats',
       'overlijdensdag', 'overlijdensmaand', 'overlijdensplaats', 'tempid',
       'opmerkingen2', 'geboortedatum_als_bekend',
       'overlijdensdatum_als_bekend', 'geboortedatum', 'overlijdensdatum',
       'searchable', 'academischetitel_id', 'adellijketitel_id'],
      dtype='object')

In [67]:
persoon.persoon_id == persoon.id

0        True
1        True
2        True
3        True
4        True
         ...
19998    True
19999    True
20000    True
20001    True
20002    True
Length: 20003, dtype: bool

In [68]:
aanstelling = nwetabellen['aanstelling']
aanstelling.rename(columns={'id': 'id',
 'begindag': 'begindag',
 'beginjaar': 'beginjaar',
 'beginmaand': 'beginmaand',
 'einddag': 'einddag',
 'eindjaar': 'eindjaar',
 'eindmaand': 'eindmaand',
 #'idcollege': 'idcollege',
 #'idfunctie': 'idfunctie',
 #'idregent': 'idregent',
 #'index': 'index',
 #'lokaal': 'lokaal',
 #'old_id': 'old_id',
 'old_idcollege': 'old_idcollege',
 'old_idfunctie': 'old_idfunctie',
 'old_idregent': 'old_idregent',
 'old_lokaal': 'old_lokaal',
 'old_provinciaal': 'old_provinciaal',
 'old_regio': 'old_regio',
 'old_stand': 'old_stand',
 'old_vertegenwoordigend': 'old_vertegenwoordigend',
 'opmerkingen': 'opmerkingen',
 'periode': 'periode',
 'vertegenwoordigend': 'vertegenwoordigend',
 'college_id': 'college_id',
 'functie_id': 'functie_id',
 'lokaal_id': 'lokaal_id',
 'provinciaal_id': 'provincie_id',
 'regionaal_id': 'regio_id',
 'stand_id': 'stand_id',
 'persoon_id': 'persoon_id'}, inplace=True)
nwetabellen['aanstelling'] = aanstelling

In [69]:
aanstelling.columns

Index(['index', 'id', 'periode', 'idregent', 'idfunctie', 'idcollege',
       'begindag', 'beginmaand', 'beginjaar', 'einddag', 'eindmaand',
       'eindjaar', 'vertegenwoordigend', 'provinciaal', 'opmerkingen', 'stand',
       'lokaal', 'regio', 'old_id', 'old_idregent', 'old_idfunctie',
       'old_idcollege', 'old_lokaal', 'old_provinciaal', 'old_regio',
       'old_stand', 'old_vertegenwoordigend', 'van_als_bekend',
       'tot_als_bekend', 'van', 'tot', 'college_id', 'functie_id', 'lokaal_id',
       'provincie_id', 'regio_id', 'stand_id', 'persoon_id'],
      dtype='object')

In [70]:
exporttabellen = {'academischetitel':'academische_titel', 
                  'adellijketitel':'adellijke_titel', 
                  'aliassen':'alias', 
                  'bron':'bron', 
                  'bronregentdetails':'bron_details', 
                  'college':'instelling', 
                  'functie':'functie', 
                  'lokaal':'lokaal', 
                  'provinciaal':'provincie', 
                  'regionaal':'regio', 
                  'stand':'stand', 
                  'aanstelling':'aanstelling',
                  'persoon':'persoon'}

for column in ['overlijdensdatum']:
    temp = persoon[column].loc[persoon[column].notna()]
    temp.apply(pd.Period.strftime("%Y-%d-%d"))

In [71]:
# pandas cannot handle period in to_sql so we convert it to text

for column in ['geboortedatum', 'overlijdensdatum']:
    persoon[column] = persoon[column].astype('str')
    persoon[column] = persoon[column].apply(lambda x: 'Null' if isinstance(x, str) and x in ['','NaT','Null','None'] else x)
    
for column in ['van', 'tot']:
    #aanstelling[column] = aanstelling[column].fillna(0)
    aanstelling[column] = aanstelling[column].astype('str')
    aanstelling[column] = aanstelling[column].apply(lambda x: 'Null' if isinstance(x, str) and x in ['','NaT','Null','None'] else x)

persoon.geboortedatum.astype(object).where(persoon.geboortedatum.notnull(), None)

# pandas cannot handle period in to_sql so we convert it to text

for column in ['geboortedatum', 'overlijdensdatum']:
    #temp = persoon[column].loc[persoon[column].notna()]
    # = persoon[column].dt.strftime("%Y-%d-%d")
    persoon[column] = persoon[column].astype(object).where(persoon[column].notnull(), 'Null')
    try:
        persoon[column] = persoon[column].str.replace('NaT','Null')
    except AttributeError:
        pass
for column in ['van', 'tot']:
    #aanstelling[column] = aanstelling[column].fillna(0)
    #aanstelling[column] = aanstelling[column].dt.strftime("%Y-%d-%d")
    aanstelling[column] = aanstelling[column].astype(object).where(aanstelling[column].notnull(), 'Null')
    aanstelling[column] = aanstelling[column].str.replace('NaT','Null')

In [72]:
aanstelling.loc[aanstelling.tot == 'None']

Empty DataFrame
Columns: [index, id, periode, idregent, idfunctie, idcollege, begindag, beginmaand, beginjaar, einddag, eindmaand, eindjaar, vertegenwoordigend, provinciaal, opmerkingen, stand, lokaal, regio, old_id, old_idregent, old_idfunctie, old_idcollege, old_lokaal, old_provinciaal, old_regio, old_stand, old_vertegenwoordigend, van_als_bekend, tot_als_bekend, van, tot, college_id, functie_id, lokaal_id, provincie_id, regio_id, stand_id, persoon_id]
Index: []

[0 rows x 38 columns]

In [73]:
for tbl in nwetabellen.keys():
    if tbl in clean_references.keys():
        nwetabellen[tbl] = clean_references[tbl]

In [74]:
persoon.columns

Index(['persoon_id', 'id', 'index', 'idregent', 'geslachtsnaam',
       'tussenvoegsel', 'idadellijketitel', 'idacademischetitel', 'voornaam',
       'adel', 'adelspredikaat', 'heerlijkheid', 'heerlijkheid2',
       'geboortejaar', 'onbepaaldgeboortedatum', 'overlijdensjaar',
       'onbepaaldoverlijdensdatum', 'opmerkingen', 'periode', 'eindcontrole',
       'old_idregent', 'old_idadellijketitel', 'old_idacademischetitel',
       'geboortedag', 'geboortemaand', 'doopjaar', 'geboorteplaats',
       'overlijdensdag', 'overlijdensmaand', 'overlijdensplaats', 'tempid',
       'opmerkingen2', 'geboortedatum_als_bekend',
       'overlijdensdatum_als_bekend', 'geboortedatum', 'overlijdensdatum',
       'searchable', 'academischetitel_id', 'adellijketitel_id'],
      dtype='object')

In [75]:
columnmaps={
"academischetitel": {
    'academischetitel':'naam',
    'old_idacademischetitel':'old_idacademischetitel',
    'academischetitel_id':'id',
    'id':'id'},

"adellijketitel": {
    'adellijketitel':'naam',
    'old_idadellijketitel':'old_idadellijketitel',
    'adellijketitel_id':'id',
    'id':'id'},

"aliassen": {
    'alias':'naam',
    'old_idpersoon':'old_idpersoon',
    'regent_id':'persoon_id',
    'id':'id'},

"bron": {
    'index':'id',
    'bron':'naam',
    'old_idbron':'old_idbron',
    'bron_id':'id',
    'id':'id'},

"bronregentdetails": {
    'id':'id',
    'deel en paginanummer':'details',
    'old_idregent':'old_idregent',
    'old_idbron':'old_idbron',
    'bron_id':'bron_id',
    'regent_id':'regent_id'},

"college": {
    'college':'naam',
    'periode':'periode',
    'old_idcollege':'old_idcollege',
    'college_id':'id',
    'id':'id'},

"functie": {
    'functie':'naam',
    'periode':'periode',
    'lokaal':'lokaal',
    'old_idfunctie':'old_idfunctie',
    'functie_id':'id',
    'id':'id'},

"lokaal": {
    'lokaal':'naam',
    'old_idlokaal':'old_idlokaal',
    'lokaal_id':'id',
    'id':'id'},

"provinciaal": {
    'provincie':'naam',
    'old_idprovincie':'old_idprovincie',
    'provinciaal_id':'id',
    'id':'id'},

"regionaal": {
    'regio':'naam',
    'old_idregio':'old_idregio',
    'regionaal_id':'id',
    'id':'id'},

"stand": {
    'stand':'naam',
    'old_idstand':'old_idstand',
    'stand_id':'stand_id',
    'id':'id'},

"persoon": {
    'adel':'adel',
    'adelspredikaat':'adelspredikaat',
    'doopjaar':'doopjaar',
    'eindcontrole':'eindcontrole',
    'geboortedag':'geboortedag',
    'geboortejaar':'geboortejaar',
    'geboortemaand':'geboortemaand',
    'geboorteplaats':'geboorteplaats',
    'geslachtsnaam':'geslachtsnaam',
    'heerlijkheid':'heerlijkheid',
    'old_idacademischetitel':'old_idacademischetitel',
    'old_idadellijketitel':'old_idadellijketitel',
    'old_idregent':'old_idregent',
    'opmerkingen':'opmerkingen',
    'overlijdensdag':'overlijdensdag',
    'overlijdensjaar':'overlijdensjaar',
    'overlijdensmaand':'overlijdensmaand',
    'overlijdensplaats':'overlijdensplaats',
    'periode':'periode',
    'tussenvoegsel':'tussenvoegsel',
    'voornaam':'voornaam',
    #'regent_id':'id',
    'id':'id',
    'academischetitel_id':'academischetitel_id',
    'adellijketitel_id':'adellijketitel_id',
    'geboortedatum':'geboortedatum',
    'overlijdensdatum':'overlijdensdatum',
    'geboortedatum':'geboortedatum',
    'overlijdensdatum':'overlijdensdatum',
    'searchable':'searchable'},

"aanstelling": {
    'begindag':'begindag',
    'beginjaar':'beginjaar',
    'beginmaand':'beginmaand',
    'einddag':'einddag',
    'eindjaar':'eindjaar',
    'eindmaand':'eindmaand',
    'id':'id',
    'old_id':'old_id',
    'old_idcollege':'old_idcollege',
    'old_idfunctie':'old_idfunctie',
    'old_idregent':'old_idregent',
    'old_lokaal':'old_lokaal',
    'old_provinciaal':'old_provinciaal',
    'old_regio':'old_regio',
    'old_stand':'old_stand',
    'old_vertegenwoordigend':'old_vertegenwoordigend',
    'opmerkingen':'opmerkingen',
    'periode':'periode',
    'vertegenwoordigend':'vertegenwoordigend',
    'college_id':'instelling_id',
    'functie_id':'functie_id',
    'lokaal_id':'lokaal_id',
    'provinciaal_id':'provincie_id',
    'regionaal_id':'regio_id',
    'stand_id':'stand_id',
    #'regent_id':'persoon_id',
    'persoon_id':'persoon_id',
    'van_als_bekend':'van_als_bekend',
    'tot_als_bekend':'tot_als_bekend',
    'van':'van',
    'tot':'tot'}}

In [76]:
extab = {}
for tbl in nwetabellen:
    t = nwetabellen[tbl]
    if tbl in clean_references.keys():
        if tbl not in ['persoon', 'aanstelling']:
            t = clean_references[tbl]
    target = columnmaps[tbl]
    #extab['aanstelling'] = aanstelling
    #extab['persoon'] = persoon
    if target:
        xtab = t.rename(columns=target)
        drops = [c for c in t.columns if c not in target.keys()]
        tabn = exporttabellen[tbl]
        if 'naam' in xtab.columns:
            xtab['naam'].fillna('', inplace=True)
        extab[tabn] = xtab.drop(columns=drops)

In [77]:
extab['persoon'].columns

Index(['id', 'geslachtsnaam', 'tussenvoegsel', 'voornaam', 'adel',
       'adelspredikaat', 'heerlijkheid', 'geboortejaar', 'overlijdensjaar',
       'opmerkingen', 'periode', 'eindcontrole', 'old_idregent',
       'old_idadellijketitel', 'old_idacademischetitel', 'geboortedag',
       'geboortemaand', 'doopjaar', 'geboorteplaats', 'overlijdensdag',
       'overlijdensmaand', 'overlijdensplaats', 'geboortedatum',
       'overlijdensdatum', 'searchable', 'academischetitel_id',
       'adellijketitel_id'],
      dtype='object')

t = nwetabellen['persoon']
target = columnmaps['persoon']
#print(target)
if target:
    xtab = t.rename(columns=target)
    print(xtab.columns)
    drops = [c for c in t.columns if c not in target.keys()]
    print("drops:", drops)
    tabn = exporttabellen[tbl]
    print(tabn)
    if 'naam' in xtab.columns:
        xtab['naam'].fillna('', inplace=True)
    extab[tabn] = xtab.drop(columns=drops)

nwetabellen['persoon'].columns

In [78]:
extab['aanstelling'].columns

Index(['id', 'periode', 'begindag', 'beginmaand', 'beginjaar', 'einddag',
       'eindmaand', 'eindjaar', 'vertegenwoordigend', 'opmerkingen', 'old_id',
       'old_idregent', 'old_idfunctie', 'old_idcollege', 'old_lokaal',
       'old_provinciaal', 'old_regio', 'old_stand', 'old_vertegenwoordigend',
       'van_als_bekend', 'tot_als_bekend', 'van', 'tot', 'instelling_id',
       'functie_id', 'lokaal_id', 'stand_id', 'persoon_id'],
      dtype='object')

In [79]:
extab['persoon'].columns

Index(['id', 'geslachtsnaam', 'tussenvoegsel', 'voornaam', 'adel',
       'adelspredikaat', 'heerlijkheid', 'geboortejaar', 'overlijdensjaar',
       'opmerkingen', 'periode', 'eindcontrole', 'old_idregent',
       'old_idadellijketitel', 'old_idacademischetitel', 'geboortedag',
       'geboortemaand', 'doopjaar', 'geboorteplaats', 'overlijdensdag',
       'overlijdensmaand', 'overlijdensplaats', 'geboortedatum',
       'overlijdensdatum', 'searchable', 'academischetitel_id',
       'adellijketitel_id'],
      dtype='object')

[c for c in persoon.columns if c not in extab['persoon'].columns]

from sqlalchemy import create_engine

from sqlalchemy_utils import database_exists, create_database, drop_database
engine = create_engine('mysql+pymysql://rik:X0chi@localhost/raa_new', echo=False) 
metadata.drop_all(engine)
metadata.create_all(engine)

In [80]:
# load reference tables first
torder = ['academische_titel', 
          'adellijke_titel',  
          'bron',
          'instelling', 
          'functie', 
          'lokaal', 
          'provincie', 
          'regio', 
          'stand', 
          'persoon', 
          'alias',
          #'aanstelling', 
          'bron_details']

extab['persoon'].drop(['persoon_id','heerlijkheid2'], axis=1, inplace=True)

In [81]:
from definition import metadata
metadata.tables['persoon'].columns.keys()

['id',
 'adel',
 'heerlijkheid',
 'voornaam',
 'tussenvoegsel',
 'geslachtsnaam',
 'geboortedatum',
 'geboortedatum_als_bekend',
 'geboorteplaats',
 'doopjaar',
 'overlijdensdatum',
 'overlijdensdatum_als_bekend',
 'overlijdensplaats',
 'adellijketitel_id',
 'academischetitel_id',
 'opmerkingen',
 'adelspredikaat',
 'eindcontrole',
 'geboortedag',
 'geboortejaar',
 'geboortemaand',
 'old_idacademischetitel',
 'old_idadellijketitel',
 'old_idregent',
 'overlijdensdag',
 'overlijdensjaar',
 'overlijdensmaand',
 'periode',
 'searchable']

In [82]:
extab['persoon'].overlijdensdatum

0        1835-12-31
1        1834-12-31
2        1846-12-31
3        1837-12-31
4        1828-12-31
            ...
19998    1730-05-02
19999    1703-12-31
20000    1716-12-12
20001    1649-09-06
20002    1728-07-01
Name: overlijdensdatum, Length: 20003, dtype: object

In [83]:
extab['persoon'] = extab['persoon'].replace('NaT', pd.np.NaN)
extab['persoon'] = extab['persoon'].replace('Null', pd.np.NaN)

<ipython-input-83-1c14437b62fe>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  extab['persoon'] = extab['persoon'].replace('NaT', pd.np.NaN)
<ipython-input-83-1c14437b62fe>:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  extab['persoon'] = extab['persoon'].replace('Null', pd.np.NaN)

In [109]:
from sqlalchemy import create_engine
from definition import metadata
from sqlalchemy_utils import database_exists, create_database, drop_database
engine = create_engine('mysql+pymysql://rik:X0chi@localhost/raa_new', echo=False) 
if not database_exists(engine.url):
    create_database(engine.url)
metadata.drop_all(engine)
metadata.create_all(engine)
import sys, subprocess, os
from io import StringIO
import pandas as pd
VERBOSE = True

for tbl in torder:
    table = extab[tbl]
    try:
        table.to_sql(con=engine, name=tbl, index=False, if_exists="append")
        print (f"{tbl} to sql success")
    except:
        print (f"{tbl} to sql no success")
        if tbl == 'truncated_aanstelling':
            raise

academische_titel to sql success
adellijke_titel to sql success
bron to sql success
instelling to sql success
functie to sql success
lokaal to sql success
provincie to sql success
regio to sql success
stand to sql success
persoon to sql success
alias to sql success
bron_details to sql success

In [110]:
# we do aanstelling separately because duplicate ids cause too much trouble and we do not need them for anything anyway
aanstelling = extab['aanstelling']
truncated_aanstelling = aanstelling[[c for c in aanstelling.columns if c not in ['id']]]

extab['persoon'].to_sql(con=engine, name='persoon', index=False, if_exists="append")

In [112]:
for column in ['van', 'tot']:
    #aanstelling[column] = aanstelling[column].fillna(0)
    truncated_aanstelling[column] = aanstelling[column].astype('str')
    truncated_aanstelling[column] = aanstelling[column].apply(lambda x: pd.np.NaN if isinstance(x, str) and x in ['','NaT','Null','None'] else x)

/Users/rikhoekstra/anaconda/envs/36/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/rikhoekstra/anaconda/envs/36/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

z = truncated_aanstelling.replace('NaT', pd.np.NaN)

In [113]:
truncated_aanstelling.to_sql(con=engine, name='aanstelling', index=False, if_exists="append")

below some code for testing if merging regent and bovenlokaalcollegeregentdetails gives reliable results (which appears to be the case)


url = f"http://resources.huygens.knaw.nl/repertoriumambtsdragersambtenaren1428-1861/app/personen/index.html?persoon.actions.zoeken=zoeken&persoon.searchable_geslachtsnaam={geslachtsnaam}"

import webbrowser

testset = regent.sample(10)

blcrd = joined_tables['bovenlokaalcollegeregentdetails']

xx = blcrd.merge(testset, left_on=blcrd.old_idregent, right_on=testset.old_idregent, suffixes=('_blcrd_','_regent_'))

xx.to_excel('/Users/rikhoekstra/Downloads/testmrge.xlsx')

testset

for item in xx.geslachtsnaam:
    geslachtsnaam = item
   
    url = f"http://resources.huygens.knaw.nl/repertoriumambtsdragersambtenaren1428-1861/app/personen/index.html?persoon.actions.zoeken=zoeken&persoon.searchable_geslachtsnaam={geslachtsnaam}"
    webbrowser.open(url)

xx[ ['beginjaar', 'eindjaar',
       'id',  'geslachtsnaam',
       'heerlijkheid', 'heerlijkheid2','tussenvoegsel',
       'voornaam', 'regent_id']]

In [ ]:
len(persoon)

In [ ]:
persoon.loc[persoon.geboortejaar == 1789]

In [ ]:
persoon.geboortedatum.apply(lambda x: x)#.strftime('%Y-%m-d'))

In [123]:
persoon.loc[persoon.geslachtsnaam.isin( ['Coij', 'Cuyck'])][['searchable','overlijdensdag', 'overlijdensmaand','overlijdensjaar']]

      searchable  overlijdensdag  overlijdensmaand  overlijdensjaar
15320       Coij            13.0               3.0              NaN
18738  van Cuyck            14.0               6.0           1626.0
18933  van Cuyck            19.0               6.0            160.0
19988  van Cuyck             NaN               NaN           1668.0